/* css */

.vertical_space_1 {height: 1em;}
.vertical_space_2 {height: 2em;}
.vertical_space_3 {height: 3em;}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut02 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


body {
	background-color: #010102;
	font-family: "Museo Sans";
	color: #efefef;
	height: 100vh;
}

.pattern2 {
	opacity: 0.5;

	background-image: url("../images/ull-gif-small.gif");
	background-size: 150px;

	background-repeat: repeat;
	background-position: center;

	background-position: top;

	margin-top: 5px;

	overflow: hidden;

	position: fixed;
	width: 100%;

	height: 100vh;

	z-index: -2;
}

.background-fill {
	opacity: 0.5;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.logo-container {
	width: 200px;
	margin: auto;
	margin-top: 0px;
	z-index: 1;
	background:transparent url('../images/ull_white.png') center top no-repeat;
	background-size: contain;
	height: 100px;
}

.center-text {
	text-align: center;
}

.photogrid {
	width: 100%;
	max-height: calc(100vh - 30px);
	position: fixed;
	overflow: hidden;

	padding: 30px 40px 0px 40px;

	font-size: 0px;
	text-align: center
}

.photogrid div {

	display: inline-block;

	width: 50px;
	height: 50px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;

	animation-duration: 3s;
	animation-name: fadeOut02;

	z-index: 0;
}

.photogrid div:hover {
	opacity: 1;
	animation-duration: 1s;
	animation-name: fadeIn;
}

.box-frame {
	height: 600px;
	width: 100%;
	max-width: 600px;
	max-height: 100vw;
	padding: 3px;
	margin: 4px auto 0 auto;
	float: none;
	background: rgba(0, 0, 0, 0.7);
}

.box-frame-2 {
	padding: 3px;
	height: 100%;
	max-height: 592px;
}

@media (max-width: 600px) {

  .hide_mobile {
    height: 0;
  }

	.box-frame {
		width: 100%;
		max-height: 100%;
    height: 100vh;
	}

	.box-frame-2 {
		padding: 3px;
		height: 100%;
		max-height: 100%;
	}
}

.sign-up {
	background-color: #010102;
	padding: 3px;
	height: 60px;
	width: 60%;
	margin: 33px auto 0 auto;
}

.sign-up-1 {
	margin: 33px auto 0 auto;
}

.sign-up-2 {
	margin: 40px auto 0 auto;
}

.sign-up-inside {
	height: 52px;
	margin: 0px auto 0 auto;
}

.sign-up h4 {
	margin-top: 15px;
	color: #efefef;
	font-weight: 100;
}

.subhead {
	width: 50%;
	margin: 30px auto 0px auto;
	text-align: center;
}

.border {
	border: 1px dotted #333;
}


.grid1 {background-image: url("../images/1.jpg");}
.grid2 {background-image: url("../images/2.jpg");}
.grid3 {background-image: url("../images/3.jpg");}
.grid4 {background-image: url("../images/4.jpg");}
.grid5 {background-image: url("../images/5.jpg");}
.grid6 {background-image: url("../images/6.jpg");}
.grid7 {background-image: url("../images/7.jpg");}
.grid8 {background-image: url("../images/8.jpg");}
.grid9 {background-image: url("../images/9.jpg");}
.grid10 {background-image: url("../images/10.jpg");}
.grid11 {background-image: url("../images/11.jpg");}
.grid12 {background-image: url("../images/12.jpg");}
.grid13 {background-image: url("../images/13.jpg");}
.grid14 {background-image: url("../images/14.jpg");}
.grid15 {background-image: url("../images/15.jpg");}
.grid16 {background-image: url("../images/16.jpg");}
.grid17 {background-image: url("../images/17.jpg");}
.grid18 {background-image: url("../images/18.jpg");}
.grid19 {background-image: url("../images/19.jpg");}
.grid20 {background-image: url("../images/20.jpg");}
.grid21 {background-image: url("../images/21.jpg");}
.grid22 {background-image: url("../images/22.jpg");}
.grid23 {background-image: url("../images/23.jpg");}
.grid24 {background-image: url("../images/24.jpg");}
.grid25 {background-image: url("../images/25.jpg");}
.grid26 {background-image: url("../images/26.jpg");}
.grid27 {background-image: url("../images/27.jpg");}
.grid28 {background-image: url("../images/28.jpg");}
.grid29 {background-image: url("../images/29.jpg");}
.grid30 {background-image: url("../images/30.jpg");}
.grid31 {background-image: url("../images/31.jpg");}
.grid32 {background-image: url("../images/32.jpg");}
.grid33 {background-image: url("../images/33.jpg");}
.grid34 {background-image: url("../images/34.jpg");}
.grid35 {background-image: url("../images/35.jpg");}
.grid36 {background-image: url("../images/36.jpg");}
.grid37 {background-image: url("../images/37.jpg");}
.grid38 {background-image: url("../images/38.jpg");}
.grid39 {background-image: url("../images/39.jpg");}
.grid40 {background-image: url("../images/40.jpg");}
.grid41 {background-image: url("../images/41.jpg");}
.grid42 {background-image: url("../images/42.jpg");}
.grid43 {background-image: url("../images/43.jpg");}
.grid44 {background-image: url("../images/44.jpg");}
.grid45 {background-image: url("../images/45.jpg");}
.grid46 {background-image: url("../images/46.jpg");}
.grid47 {background-image: url("../images/47.jpg");}
.grid48 {background-image: url("../images/48.jpg");}
.grid49 {background-image: url("../images/49.jpg");}
.grid50 {background-image: url("../images/50.jpg");}
.grid51 {background-image: url("../images/51.jpg");}
.grid52 {background-image: url("../images/52.jpg");}
.grid53 {background-image: url("../images/53.jpg");}
.grid54 {background-image: url("../images/54.jpg");}
.grid55 {background-image: url("../images/55.jpg");}
.grid56 {background-image: url("../images/56.jpg");}
.grid57 {background-image: url("../images/57.jpg");}
.grid58 {background-image: url("../images/58.jpg");}
.grid59 {background-image: url("../images/59.jpg");}
.grid60 {background-image: url("../images/60.jpg");}
.grid61 {background-image: url("../images/61.jpg");}
.grid62 {background-image: url("../images/62.jpg");}
.grid63 {background-image: url("../images/63.jpg");}
.grid64 {background-image: url("../images/64.jpg");}
.grid65 {background-image: url("../images/65.jpg");}
.grid66 {background-image: url("../images/66.jpg");}
.grid67 {background-image: url("../images/67.jpg");}
.grid68 {background-image: url("../images/68.jpg");}
.grid69 {background-image: url("../images/69.jpg");}
.grid70 {background-image: url("../images/70.jpg");}
.grid71 {background-image: url("../images/71.jpg");}
.grid72 {background-image: url("../images/72.jpg");}
.grid73 {background-image: url("../images/73.jpg");}
.grid74 {background-image: url("../images/74.jpg");}
.grid75 {background-image: url("../images/75.jpg");}
.grid76 {background-image: url("../images/76.jpg");}
.grid77 {background-image: url("../images/77.jpg");}
.grid78 {background-image: url("../images/78.jpg");}
.grid79 {background-image: url("../images/79.jpg");}
.grid80 {background-image: url("../images/80.jpg");}
.grid81 {background-image: url("../images/81.jpg");}
.grid82 {background-image: url("../images/82.jpg");}
.grid83 {background-image: url("../images/83.jpg");}
.grid84 {background-image: url("../images/84.jpg");}
.grid85 {background-image: url("../images/85.jpg");}
.grid86 {background-image: url("../images/86.jpg");}
.grid87 {background-image: url("../images/87.jpg");}
.grid88 {background-image: url("../images/88.jpg");}
.grid89 {background-image: url("../images/89.jpg");}
.grid90 {background-image: url("../images/90.jpg");}
.grid91 {background-image: url("../images/91.jpg");}
.grid92 {background-image: url("../images/92.jpg");}
.grid93 {background-image: url("../images/93.jpg");}
.grid94 {background-image: url("../images/94.jpg");}
.grid95 {background-image: url("../images/95.jpg");}
.grid96 {background-image: url("../images/96.jpg");}
.grid97 {background-image: url("../images/97.jpg");}
.grid98 {background-image: url("../images/98.jpg");}
.grid99 {background-image: url("../images/99.jpg");}
.grid100 {background-image: url("../images/100.jpg");}

.grid101 {background-image: url("../images/101.jpg");}
.grid102 {background-image: url("../images/102.jpg");}
.grid103 {background-image: url("../images/103.jpg");}
.grid104 {background-image: url("../images/104.jpg");}
.grid105 {background-image: url("../images/105.jpg");}
.grid106 {background-image: url("../images/106.jpg");}
.grid107 {background-image: url("../images/107.jpg");}
.grid108 {background-image: url("../images/108.jpg");}
.grid109 {background-image: url("../images/109.jpg");}
.grid110 {background-image: url("../images/110.jpg");}
.grid111 {background-image: url("../images/111.jpg");}
.grid112 {background-image: url("../images/112.jpg");}
.grid113 {background-image: url("../images/113.jpg");}
.grid114 {background-image: url("../images/114.jpg");}
.grid115 {background-image: url("../images/115.jpg");}
.grid116 {background-image: url("../images/116.jpg");}
.grid117 {background-image: url("../images/117.jpg");}
.grid118 {background-image: url("../images/118.jpg");}
.grid119 {background-image: url("../images/119.jpg");}
.grid120 {background-image: url("../images/120.jpg");}
.grid121 {background-image: url("../images/121.jpg");}
.grid122 {background-image: url("../images/122.jpg");}
.grid123 {background-image: url("../images/123.jpg");}
.grid124 {background-image: url("../images/124.jpg");}
.grid125 {background-image: url("../images/125.jpg");}
.grid126 {background-image: url("../images/126.jpg");}
.grid127 {background-image: url("../images/127.jpg");}
.grid128 {background-image: url("../images/128.jpg");}
.grid129 {background-image: url("../images/129.jpg");}
.grid130 {background-image: url("../images/130.jpg");}
.grid131 {background-image: url("../images/131.jpg");}
.grid132 {background-image: url("../images/132.jpg");}
.grid133 {background-image: url("../images/133.jpg");}
.grid134 {background-image: url("../images/134.jpg");}
.grid135 {background-image: url("../images/135.jpg");}
.grid136 {background-image: url("../images/136.jpg");}
.grid137 {background-image: url("../images/137.jpg");}
.grid138 {background-image: url("../images/138.jpg");}
.grid139 {background-image: url("../images/139.jpg");}
.grid140 {background-image: url("../images/140.jpg");}
.grid141 {background-image: url("../images/141.jpg");}
.grid142 {background-image: url("../images/142.jpg");}
.grid143 {background-image: url("../images/143.jpg");}
.grid144 {background-image: url("../images/144.jpg");}
.grid145 {background-image: url("../images/145.jpg");}
.grid146 {background-image: url("../images/146.jpg");}
.grid147 {background-image: url("../images/147.jpg");}
.grid148 {background-image: url("../images/148.jpg");}
.grid149 {background-image: url("../images/149.jpg");}
.grid150 {background-image: url("../images/150.jpg");}
.grid151 {background-image: url("../images/151.jpg");}
.grid152 {background-image: url("../images/152.jpg");}
.grid153 {background-image: url("../images/153.jpg");}
.grid154 {background-image: url("../images/154.jpg");}
.grid155 {background-image: url("../images/155.jpg");}
.grid156 {background-image: url("../images/156.jpg");}
.grid157 {background-image: url("../images/157.jpg");}
.grid158 {background-image: url("../images/158.jpg");}
.grid159 {background-image: url("../images/159.jpg");}
.grid160 {background-image: url("../images/160.jpg");}
.grid161 {background-image: url("../images/161.jpg");}
.grid162 {background-image: url("../images/162.jpg");}
.grid163 {background-image: url("../images/163.jpg");}
.grid164 {background-image: url("../images/164.jpg");}
.grid165 {background-image: url("../images/165.jpg");}
.grid166 {background-image: url("../images/166.jpg");}
.grid167 {background-image: url("../images/167.jpg");}
.grid168 {background-image: url("../images/168.jpg");}
.grid169 {background-image: url("../images/169.jpg");}
.grid170 {background-image: url("../images/170.jpg");}
.grid171 {background-image: url("../images/171.jpg");}
.grid172 {background-image: url("../images/172.jpg");}
.grid173 {background-image: url("../images/173.jpg");}
.grid174 {background-image: url("../images/174.jpg");}
.grid175 {background-image: url("../images/175.jpg");}
.grid176 {background-image: url("../images/176.jpg");}
.grid177 {background-image: url("../images/177.jpg");}
.grid178 {background-image: url("../images/178.jpg");}
.grid179 {background-image: url("../images/179.jpg");}
.grid180 {background-image: url("../images/180.jpg");}
.grid181 {background-image: url("../images/181.jpg");}
.grid182 {background-image: url("../images/182.jpg");}
.grid183 {background-image: url("../images/183.jpg");}
.grid184 {background-image: url("../images/184.jpg");}
.grid185 {background-image: url("../images/185.jpg");}
.grid186 {background-image: url("../images/186.jpg");}
.grid187 {background-image: url("../images/187.jpg");}
.grid188 {background-image: url("../images/188.jpg");}
.grid189 {background-image: url("../images/189.jpg");}
.grid190 {background-image: url("../images/190.jpg");}
.grid191 {background-image: url("../images/191.jpg");}
.grid192 {background-image: url("../images/192.jpg");}
.grid193 {background-image: url("../images/193.jpg");}
.grid194 {background-image: url("../images/194.jpg");}
.grid195 {background-image: url("../images/195.jpg");}
.grid196 {background-image: url("../images/196.jpg");}
.grid197 {background-image: url("../images/197.jpg");}
.grid198 {background-image: url("../images/198.jpg");}
.grid199 {background-image: url("../images/199.jpg");}




.grid201 {background-image: url("../images/201.jpg");}
.grid202 {background-image: url("../images/202.jpg");}
.grid203 {background-image: url("../images/203.jpg");}
.grid204 {background-image: url("../images/204.jpg");}
.grid205 {background-image: url("../images/205.jpg");}
.grid206 {background-image: url("../images/206.jpg");}
.grid207 {background-image: url("../images/207.jpg");}
.grid208 {background-image: url("../images/208.jpg");}
.grid209 {background-image: url("../images/209.jpg");}
.grid210 {background-image: url("../images/210.jpg");}
.grid211 {background-image: url("../images/211.jpg");}
.grid212 {background-image: url("../images/212.jpg");}
.grid213 {background-image: url("../images/213.jpg");}
.grid214 {background-image: url("../images/214.jpg");}
.grid215 {background-image: url("../images/215.jpg");}
.grid216 {background-image: url("../images/216.jpg");}
.grid217 {background-image: url("../images/217.jpg");}
.grid218 {background-image: url("../images/218.jpg");}
.grid219 {background-image: url("../images/219.jpg");}
.grid220 {background-image: url("../images/220.jpg");}
.grid221 {background-image: url("../images/221.jpg");}
.grid222 {background-image: url("../images/222.jpg");}
.grid223 {background-image: url("../images/223.jpg");}
.grid224 {background-image: url("../images/224.jpg");}
.grid225 {background-image: url("../images/225.jpg");}
.grid226 {background-image: url("../images/226.jpg");}
.grid227 {background-image: url("../images/227.jpg");}
.grid228 {background-image: url("../images/228.jpg");}
.grid229 {background-image: url("../images/229.jpg");}
.grid230 {background-image: url("../images/230.jpg");}
.grid231 {background-image: url("../images/231.jpg");}
.grid232 {background-image: url("../images/232.jpg");}
.grid233 {background-image: url("../images/233.jpg");}
.grid234 {background-image: url("../images/234.jpg");}
.grid235 {background-image: url("../images/235.jpg");}
.grid236 {background-image: url("../images/236.jpg");}
.grid237 {background-image: url("../images/237.jpg");}
.grid238 {background-image: url("../images/238.jpg");}
.grid239 {background-image: url("../images/239.jpg");}
.grid240 {background-image: url("../images/240.jpg");}
.grid241 {background-image: url("../images/241.jpg");}
.grid242 {background-image: url("../images/242.jpg");}
.grid243 {background-image: url("../images/243.jpg");}
.grid244 {background-image: url("../images/244.jpg");}
.grid245 {background-image: url("../images/245.jpg");}
.grid246 {background-image: url("../images/246.jpg");}
.grid247 {background-image: url("../images/247.jpg");}
.grid248 {background-image: url("../images/248.jpg");}
.grid249 {background-image: url("../images/249.jpg");}
.grid250 {background-image: url("../images/250.jpg");}
.grid251 {background-image: url("../images/251.jpg");}
.grid252 {background-image: url("../images/252.jpg");}
.grid253 {background-image: url("../images/253.jpg");}
.grid254 {background-image: url("../images/254.jpg");}
.grid255 {background-image: url("../images/255.jpg");}
.grid256 {background-image: url("../images/256.jpg");}
.grid257 {background-image: url("../images/257.jpg");}
.grid258 {background-image: url("../images/258.jpg");}
.grid259 {background-image: url("../images/259.jpg");}
.grid260 {background-image: url("../images/260.jpg");}
.grid261 {background-image: url("../images/261.jpg");}
.grid262 {background-image: url("../images/262.jpg");}
.grid263 {background-image: url("../images/263.jpg");}
.grid264 {background-image: url("../images/264.jpg");}
.grid265 {background-image: url("../images/265.jpg");}
.grid266 {background-image: url("../images/266.jpg");}
.grid267 {background-image: url("../images/267.jpg");}
.grid268 {background-image: url("../images/268.jpg");}
.grid269 {background-image: url("../images/269.jpg");}
.grid270 {background-image: url("../images/270.jpg");}
.grid271 {background-image: url("../images/271.jpg");}
.grid272 {background-image: url("../images/272.jpg");}
.grid273 {background-image: url("../images/273.jpg");}
.grid274 {background-image: url("../images/274.jpg");}
.grid275 {background-image: url("../images/275.jpg");}
.grid276 {background-image: url("../images/276.jpg");}
.grid277 {background-image: url("../images/277.jpg");}
.grid278 {background-image: url("../images/278.jpg");}
.grid279 {background-image: url("../images/279.jpg");}
.grid280 {background-image: url("../images/280.jpg");}
.grid281 {background-image: url("../images/281.jpg");}
.grid282 {background-image: url("../images/282.jpg");}
.grid283 {background-image: url("../images/283.jpg");}
.grid284 {background-image: url("../images/284.jpg");}
.grid285 {background-image: url("../images/285.jpg");}
.grid286 {background-image: url("../images/286.jpg");}
.grid287 {background-image: url("../images/287.jpg");}
.grid288 {background-image: url("../images/288.jpg");}
.grid289 {background-image: url("../images/289.jpg");}
.grid290 {background-image: url("../images/290.jpg");}
.grid291 {background-image: url("../images/291.jpg");}
.grid292 {background-image: url("../images/292.jpg");}
.grid293 {background-image: url("../images/293.jpg");}
.grid294 {background-image: url("../images/294.jpg");}
.grid295 {background-image: url("../images/295.jpg");}
.grid296 {background-image: url("../images/296.jpg");}
.grid297 {background-image: url("../images/297.jpg");}
.grid298 {background-image: url("../images/298.jpg");}
.grid299 {background-image: url("../images/299.jpg");}


.grid301 {background-image: url("../images/301.jpg");}
.grid302 {background-image: url("../images/302.jpg");}
.grid303 {background-image: url("../images/303.jpg");}
.grid304 {background-image: url("../images/304.jpg");}
.grid305 {background-image: url("../images/305.jpg");}
.grid306 {background-image: url("../images/306.jpg");}
.grid307 {background-image: url("../images/307.jpg");}
.grid308 {background-image: url("../images/308.jpg");}
.grid309 {background-image: url("../images/309.jpg");}
.grid310 {background-image: url("../images/310.jpg");}
.grid311 {background-image: url("../images/311.jpg");}
.grid312 {background-image: url("../images/312.jpg");}
.grid313 {background-image: url("../images/313.jpg");}
.grid314 {background-image: url("../images/314.jpg");}
.grid315 {background-image: url("../images/315.jpg");}
.grid316 {background-image: url("../images/316.jpg");}
.grid317 {background-image: url("../images/317.jpg");}
.grid318 {background-image: url("../images/318.jpg");}
.grid319 {background-image: url("../images/319.jpg");}
.grid320 {background-image: url("../images/320.jpg");}
.grid321 {background-image: url("../images/321.jpg");}
.grid322 {background-image: url("../images/322.jpg");}
.grid323 {background-image: url("../images/323.jpg");}
.grid324 {background-image: url("../images/324.jpg");}
.grid325 {background-image: url("../images/325.jpg");}
.grid326 {background-image: url("../images/326.jpg");}
.grid327 {background-image: url("../images/327.jpg");}
.grid328 {background-image: url("../images/328.jpg");}
.grid329 {background-image: url("../images/329.jpg");}
.grid330 {background-image: url("../images/330.jpg");}
.grid331 {background-image: url("../images/331.jpg");}
.grid332 {background-image: url("../images/332.jpg");}
.grid333 {background-image: url("../images/333.jpg");}
.grid334 {background-image: url("../images/334.jpg");}
.grid335 {background-image: url("../images/335.jpg");}
.grid336 {background-image: url("../images/336.jpg");}
.grid337 {background-image: url("../images/337.jpg");}
.grid338 {background-image: url("../images/338.jpg");}
.grid339 {background-image: url("../images/339.jpg");}
.grid340 {background-image: url("../images/340.jpg");}
.grid341 {background-image: url("../images/341.jpg");}
.grid342 {background-image: url("../images/342.jpg");}
.grid343 {background-image: url("../images/343.jpg");}
.grid344 {background-image: url("../images/344.jpg");}
.grid345 {background-image: url("../images/345.jpg");}
.grid346 {background-image: url("../images/346.jpg");}
.grid347 {background-image: url("../images/347.jpg");}
