body {
  background-color: #000000;
  font-family: Museo-Sans, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 1000px) {
  body {
    font-size: 15px;
  }
}

.hide_overflow_x {
  overflow-x: hidden;
}

/* ANIMATION */

@keyframes slidedown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoslidedown {
  0% {
    margin-top: -500px;
    opacity: 0;
  }
  100% {
    margin-top: 20vh;
    opacity: 1;
  }
}

/* ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h2 {
  margin-bottom: -2px;
}

p {
  margin-bottom: -2px;
  color: #bbb;
}

button {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: white;
  font-family: Museo-Sans;
}

button:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

button h4 {
  font-weight: 700;
}

button:hover h4 {
}

a, a:hover, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

/* BUTTONS */

.buy_ticket_button {
  margin-top: 22px;
  width: 100%;
  height: 5em;
}

.buy_ticket_button h4 {
  font-size: 18px;
  margin: 12px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexblock {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 88%;
}

/* PAGES */

.full-height-page {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.intro-page {
  width: 100%;
  height: 100vh;
  position: absolute;
}

/* SHAPES */

.background_square {
  background-color: #1a1a1a;
  opacity: 0.4;
  margin-left: -10%;
  width: calc(40vw + 250px);
  height: calc(40vw + 250px);
  position: fixed;
  transform-origin: center;
  animation-name: rotate_reverse;
  transform: rotate(27deg);
  z-index: -1;
}

.background_circle {
  background-color: #1a1a1a;
  opacity: 0.4;
  margin-top: -10%;
  margin-left: 15%;
  width: 65vw;
  height: 65vw;
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}

.background_triangle {
  margin-top: 5vw;
  margin-left: 40%;
  opacity: 0.4;
  position: fixed;
  transform-origin: 50% 66.6%;
  border-style: solid;
  border-width: 0 45vw calc(90vw * 0.86) 45vw;
  border-color: transparent transparent #1a1a1a transparent;
  transform: rotate(17deg);
  z-index: -1;
}

/* INTRO */

.intro-title {
  width: 500px;
  max-width: 88%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -50px;
  margin-top: 45vh;
  text-align: center;
  line-height: 2em;
  opacity: 0;
  z-index: 10;
  animation-name: slidedown;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@media (max-width: 1000px) {
  .intro-title h2 {
    font-size: 1em;
  }
}

/* ÚLL DESCRIPTION */

.ull-description {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 88%;
  min-height: 100vh;
}

/* EUROPE */

.europe-text {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 88%;
  margin-bottom: 10vh;
  margin-top: 10vh;
  z-index: 1;
}

.europe-text h2 {
  line-height: 1.6em;
}

/* DESIGN BITS & BOBS */

.line-divider {
  width: 60%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
}

/* IMAGES */

.photo-europe-1 {background-image: url(../images/europe-1.jpg);}
.photo-europe-2 {background-image: url(../images/europe-2.jpg);}
.photo-europe-3 {background-image: url(../images/europe-3.jpg);}
.photo-europe-4 {background-image: url(../images/europe-4.jpg);}
.photo-europe-5 {background-image: url(../images/europe-5.jpg);}
.photo-europe-6 {background-image: url(../images/europe-6.jpg);}
.photo-europe-7 {background-image: url(../images/europe-7.jpg);}
.photo-europe-9 {background-image: url(../images/europe-9.jpg);}
.photo-europe-10 {background-image: url(../images/europe-10.jpg);}
.photo-europe-11 {background-image: url(../images/europe-11.jpg);}
.photo-europe-12 {background-image: url(../images/europe-12.jpg);}

.photo-europe-1, .photo-europe-7, .photo-europe-9, .photo-europe-10, .photo-europe-11, .photo-europe-12 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Navbar */

.navbar {
  margin-top: 100px;
  width: 100%;
}
.navbar .flexbox {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar h3 {
  margin: 0;
}
.nav-item-wrapper {
  width: 200px;
  max-width: 100%;
  min-width: 20%;
  margin-top: -2px;
}

.nav-item {
  width: 100%;
  max-width: 100%;
  text-align: center;
  height: 60px;
  padding-top: 27px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  display: block;
}
.nav-item:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: none;
  border-right: none;
}

/* Illustrations */

.lauren-dark {
  background-image: url(../images/wallpaper-gradient-2.jpg);
  height: 200vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.queue {
  height: 78vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/queue-1.jpg);
  background-size: cover;
  background-position: top;
}

/* Index */

.logo {
  height: 100px;
  width: 100px;
  margin: 50px auto 50px;
  background-image: url(../images/ull-texture-3.png);
  background-size: contain;
  background-position: center;
}

.logo.index-logo {
  margin-top: 20vh;
  opacity: 1;
}

.description-paragraphs {
  opacity: 1;
  margin-top: 50px;
}

/* Logistics */

.logistics {
  margin-left: auto;
  margin-right: auto;
}

.logistics .flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.logistics .flexbox.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  justify-content: space-around;
}
.content-column {
  width: 500px;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.logistics-location {
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  max-width: 88%;
}
.logistics h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}
.logistics p {
  margin-top: 6px;
}
.logistics .line-divider {
  width: 80%;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logistics-image {
  width: 400px;
  height: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/logistics.png");
}
#map {
  width: 100%;
  height: 60vh;
}
.taxi {
  float: left;
  width: 50%;
}


/* Participation */

.participate-image {
  width: 800px;
  height: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/participate.png");
}

.speaking-page {
  min-height: 42vh;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.speaking-title  {
  margin-top: 20vh;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}



/* Schedule */

.schedule-day {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 88%;
}
.schedule-day h3 {
  text-align: center;
  font-size: 1.6em;
}
.schedule-day h4 {
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 10px;
}
.flex-container-schedule {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.flex-container-schedule h3 {
  text-align: left;
}
.flex-container-schedule .line-divider {
  width: 100%;
  height: 1px;
  margin-left: 0;
}
.schedule-event {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.schedule-event h4.time {
  font-weight: 300;
  color: lightgray;
}
.schedule-image {
  width: 500px;
  height: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/schedule.png");
}


@media (max-width: 600px) {
  .europe-photo-browser {
    height: 70vh;
  }

  .small-6-flex-column {
    height: 70vh;
  }

  .lauren-dark {
    height: 120vh;
  }

  .nav-item-wrapper {
    width: 100%;
    max-width: 100%;
    min-width: 20%;
    margin-top: -2px;
  }

  .nav-item {
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding-top: 17px;
  }

  .photo-europe-1, .photo-europe-7, .photo-europe-9, .photo-europe-10, .photo-europe-11, .photo-europe-12 {
    width: 100%;
    height: 45vh;
  }
}

.undent {
  text-indent: -14px;
}
