@import "compass/reset";
@import "compass/css3";

// ---------------------------------------------------------
// MIXINS AND VARIABLES
// ---------------------------------------------------------

$cream: #F0EBE5;
$dark: #161411;
$red: #932829;

@mixin rooney {
  font-family: "rooney-web",sans-serif;
}

@mixin museo-sans {
  font-family: "museo-sans",sans-serif;
  font-weight: 500;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@font-face { 
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/websymbols-regular-webfont.woff') format('woff'),
       url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
       url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.websymbols {
  font-family: 'WebSymbolsRegular';
}




// ---------------------------------------------------------
// BASE
// ---------------------------------------------------------

body {
  background: #fff;
  color: $cream;
  font-family: "rooney-web",sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height:  23px;
}

a, a:link, a:visited {
  color: $cream;
  text-decoration: none;
}

// ---------------------------------------------------------
// BASICS
// ---------------------------------------------------------

.wrapper {
  @include clearfix;
  margin: 0 auto;
  width: 1080px;
  @media only screen and (max-width: 1080px) {
    width: 940px;
  }
  @media only screen and (max-width: 1000px) {
    width: 100%
  }
}


// ---------------------------------------------------------
// HELPERS
// ---------------------------------------------------------

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.ir {
  display: block;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}
