@import "compass/reset";
@import "compass/css3";

// ---------------------------------------------------------
// MIXINS AND VARIABLES
// ---------------------------------------------------------

$dark: #161411;
$red: #932829;

@mixin rooney {
  font-family: "rooney-web",sans-serif;
}

@mixin museo-sans {
  font-family: "museo-sans",sans-serif;
  font-weight: 500;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@font-face { 
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/websymbols-regular-webfont.woff') format('woff'),
       url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
       url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.websymbols {
  font-family: 'WebSymbolsRegular';
}

* {
  @include box-sizing(border-box);
}


// ---------------------------------------------------------
// BASE
// ---------------------------------------------------------

body {
  background: #fff url(../images/bg.png);
  color: #fff;
  font-family: "rooney-web",sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height:  23px;
}

a, a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

// ---------------------------------------------------------
// BASICS
// ---------------------------------------------------------

$logosize: 120px;

.logo {
  background: transparent url(../images/logo.png);
  width: $logosize;
  height: $logosize;
  background-size: 100%;
  position: fixed;
  left: 100px;
  top: 160px;
  @media all and (max-width: 800px) {
    position: static;
    margin: 30px auto 20px;
  }
}

.year {
  font-size: 1.4em;
  position: fixed;
  top: 300px;
  left: 100px;
  display: block;
  width: $logosize;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  @media all and (max-width: 800px) {
    position: static;
    margin: 0 auto;
  }
}

.main-title {
  margin-top: 40px;
}

.y-2 {
  display: inline-block;
  margin-right: 0px;
}


.right-column {
  float: left;
  position: relative;
  left: 375px;
  margin: 0 0 140px 0;
  @media all and (max-width: 800px) {
    position: static;
    margin: 0 auto;
    float: none;
  }
}

.speakers {
  margin: 120px auto 0;
  width: 400px;
  h2 {
    margin: 0 auto 60px;
    font-size: 3em;
    line-height: 2em;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
}

@media all and (max-width: 800px) {
  .speakers {
    width: 50%;
    margin: 80px auto 0;
    h2 {
      font-size: 3em;
    }
  }
}

@media all and (max-width: 750px) { 
  .speakers {
    width: 300px;
    margin: 40px auto 0;
    h2 {
      font-size: 2.3em;
    }
  }
}

a.register {
  text-transform: uppercase;
  display: block;
  background: #fff;
  border-radius: 4px;
  color: #000;
  width: 300px;
  height: 40px;
  margin: 40px auto 100px;
  color: #E20000;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: 500;

}


// ---------------------------------------------------------
// HELPERS
// ---------------------------------------------------------

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.ir {
  display: block;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}
