<div id="schedule">
  
  <hr class="morningLine" />
  <div id="designIcon"></div>
  <table id="morning" summary="Morning Talks at Úll 2012">
    <tr class="col-header">
      <th>Time</th><th>Event</th>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart morning" title="2012-09-21T10:00:00">10 00</abbr></th>
      <td><h3 class="summary">registration & opening statements</h3></td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart morning" title="2012-09-21T10:30:00">10 30</abbr></th>
      <td>
        <h3 class="summary">indie app design: working with apple, working for users</h3>
        <p>
          Is the Space Pope reptilian!? When the lights go out, it's nobody's business what goes on 
          between two consenting adults. You're going back for the Countess, aren't you? But, like most 
          politicians, he promised more than he could deliver. Your best is an idiot! No argument here. 
          Anyone who laughs is a communist! Who are you, my warranty?! I just want to talk. It has 
          nothing to do with mating. Fry, that doesn't make sense. When the lights go out, it's nobody's 
          business what goes on between two consenting adults.ay.
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart morning" title="2012-09-21T11:45:00">11 45</abbr></th>
      <td>
        <h3 class="summary">crafting pixels: a guide to resolution independance</h3>
        <p>
          Now, now. Perfectly symmetrical violence never solved anything. No! The kind with looting and 
          maybe starting a few fires! I just want to talk. It has nothing to do with mating. Fry, that 
          doesn't make sense. But, like most politicians, he promised more than he could deliver. What 
          are their names? This is the worst part. The calm before the battle. Hey, guess what you're 
          accessories to. This is the worst kind of discrimination: the kind against me! So, how 'bout 
          them Knicks? You, minion. Lift my arm. AFTER HIM!
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart morning" title="2012-09-21T12:30:00">12 30</abbr></th>
      <td><h3 class="summary">break</h3></td>
    </tr>
    
    
  </table>
  <hr class="afternoonLine" />
  <div id="devIcon"></div>
  <table id="afternoon" summary="Afternoon Talks at Úll 2012">
    <tr class="col-header">
      <th>Time</th><th>Event</th>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart afternoon" title="2012-09-21T13:00:00">13 00</abbr></th>
      <td>
        <h3 class="summary">start small, think big: developing for scalability</h3>
        <p>
          Is the Space Pope reptilian!? When the lights go out, it's nobody's business what goes on 
          between two consenting adults. You're going back for the Countess, aren't you? But, like most 
          politicians, he promised more than he could deliver. Your best is an idiot! No argument here. 
          Anyone who laughs is a communist! Who are you, my warranty?! I just want to talk. It has 
          nothing to do with mating. Fry, that doesn't make sense. When the lights go out, it's nobody's 
          business what goes on between two consenting adults.ay.
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart afternoon" title="2012-09-21T14:00:00">14 00</abbr></th>
      <td>
        <h3 class="summary">know what to use where: positives and negatives of apples api</h3>
        <p>
          Now, now. Perfectly symmetrical violence never solved anything. No! The kind with looting and 
          maybe starting a few fires! I just want to talk. It has nothing to do with mating. Fry, that 
          doesn't make sense. But, like most politicians, he promised more than he could deliver. What 
          are their names? This is the worst part. The calm before the battle. Hey, guess what you're 
          accessories to. This is the worst kind of discrimination: the kind against me! So, how 'bout 
          them Knicks? You, minion. Lift my arm. AFTER HIM!
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart afternoon" title="2012-09-21T15:00:00">15 00</abbr></th>
      <td><h3 class="summary">lunch</h3></td>
    </tr>
    
    
  </table>
  
  <hr class="eveningLine" />
  <div id="visionIcon"></div>
  <table id="evening" summary="Evening Talks at Úll 2012">
    <tr class="col-header">
      <th>Time</th><th>Event</th>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart evening" title="2012-09-21T16:00:00">16 00</abbr></th>
      <td>
        <h3 class="summary">building the next big thing</h3>
        <p>
          Is the Space Pope reptilian!? When the lights go out, it's nobody's business what goes on 
          between two consenting adults. You're going back for the Countess, aren't you? But, like most 
          politicians, he promised more than he could deliver. Your best is an idiot! No argument here. 
          Anyone who laughs is a communist! Who are you, my warranty?! I just want to talk. It has 
          nothing to do with mating. Fry, that doesn't make sense. When the lights go out, it's nobody's 
          business what goes on between two consenting adults.ay.
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart evening" title="2012-09-21T17:00:00">17 00</abbr></th>
      <td>
        <h3 class="summary">predicting the future is foolish: advice on adapting to an ever-changing market</h3>
        <p>
          Now, now. Perfectly symmetrical violence never solved anything. No! The kind with looting and 
          maybe starting a few fires! I just want to talk. It has nothing to do with mating. Fry, that 
          doesn't make sense. But, like most politicians, he promised more than he could deliver. What 
          are their names? This is the worst part. The calm before the battle. Hey, guess what you're 
          accessories to. This is the worst kind of discrimination: the kind against me! So, how 'bout 
          them Knicks? You, minion. Lift my arm. AFTER HIM!
        </p>
      </td>
    </tr>
    
    <tr class="vevent">
      <th class="time"><abbr class="dtstart evening" title="2012-09-21T18:00:00">18 00</abbr></th>
      <td><h3 class="summary">closing statements</h3></td>
    </tr>
    
    
  </table>
</div>
