@mixin box-sizing {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin box-shadow($horz, $vert, $blur, $color) {
  -webkit-box-shadow: $horz $vert $blur $color;
  -moz-box-shadow: $horz $vert $blur $color;
  box-shadow: $horz $vert $blur $color;
}

@mixin museo {
  font-family: museo-sans,sans-serif;
}

@mixin rooney {
  font-family: rooney-web, serif;
}


html, body {
  margin: 0;
  padding: 0;
  background: #F7F5EE;
  @include museo;
  font-size: 13px;
}



nav {
  height: 40px;
  background: #37312E;
  display: block;
  margin-bottom: 60px;
  .ull-logo {
    display: block;
    margin: 0 0 0 20px;
    width: 62px;
    height: 63px;
    background: url(ull-logo.png) no-repeat;
    background-size: 100%;
  }
}

p {
  width: 86%;
  margin: 10px auto 30px;
  font-size: 1.2em;
  
}



.section-line {
  height: 1px;
  border: none;
  background-color: #333;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.section-title {
  margin: -12px auto 30px;
  font-weight: 900;
  width: 130px;
  background: #F7F5EF;
  text-align: center;
  @include museo;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #36312E;
}

.now-next {
  margin: 0 auto 60px auto;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

.main-container {
  width: 90%;
  background: rgba(0,0,0,0.1);
  margin: 10px auto;
  display: block;
  @include box-sizing;
  padding: 15px 0px 15px 20px;
  min-height: 74px;
  color: #333;
  text-decoration: none;
  @include border-radius(2px);
  .name-place {
    display: block;
    border-left: 1px solid #333;
    margin: 0 0 0 56px;
    &.now {
      border-left: 1px solid #fff;
    }
  }
  &.now {
    background: #932E23;
    color: #F7F5EF;
  }
  &.full {
    padding: 10px;
    height: 50px;
    margin: 30px auto 10px auto;
    h4  {
    text-align: center;
    padding-top: 2px;
    text-transform: uppercase;
    font-size: 1.4em;
    }
  }
  h4 {
    margin: 3px 0 0 0;
    font-size: 1.6em;
  }
  span {
    font-size: 1.1em;
  }
  .title {
    margin: 10px 20px 10px 0px;
    padding: 14px 16px 10px 0;
    height: 60px;
    @include box-sizing;
    float: left;
    width: 57px;
  }
}

.event-map {
  display: block;
  width: 90%;
  text-decoration: none;
  color: #333;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background: #932E23;
  color: #F7F5EF;
  padding: 10px 0;
  font-weight: bold;
  @include border-radius(2px);
  font-size: 1.2em;
}

.maps {
  margin: 20px auto;
  padding: 0;
  width: 90%;
  li {
    list-style-type: none;
    display: block;
    min-height: 30px;
    background: rgba(0,0,0,0.1);
    margin: 10px auto;
    @include box-sizing;
    padding: 11px 0px 11px 10px;
    min-height: 52px;
    color: #333;
    text-decoration: none;
  }
  h3 {
    font-size: 1.4em;
    float: left;
    width: 200px;
    margin: 0;
  }
  a {
    width: 32px;
    background: #A0423F;
    height: 32px;
    float: right;
    margin: 0 6px 0 0;

  }
  .foursquare {
    background: url(foursquare.png) no-repeat center;
    background-size: 100%;
   
  }
  .gmaps {
    background: url(gmaps.png) no-repeat center;
    background-size: 100%;
  }
}


.day-heading {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6em;
}

#schedule {
  padding-top: 0;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
