body {
  font-family: museo-sans,sans-serif;
  font-style: normal;
  background: url(/images/cream_pattern.png);  
  padding: 0;
  margin: 0;


}

#wrapper {
  margin: 0 auto;
  width: 320px;  

}

#logo {
  display: block;
  margin: 20px auto 0 auto;
  width: 110px;
}

.copy {
  border-top: 6px solid #84231C;
  background-color: rgba(227,226,218,.8);
  width: 270px;
  padding: 0 15px 20px 15px;
  margin: -60px 0 15px 10px;
  float: left; 
}

p {
  font-weight: 500;
  line-height: 1.35em;
  font-size: 1em;
  float: left;
  color: #84231C;
  font-family: rooney-web,sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 15px 10px 15px 10px;
  text-align: justify;
  border-bottom: 1px solid #C6C4BD;
  border-top: 1px solid #C6C4BD;
  letter-spacing: 0em;

}

p.date {
  margin: 65px auto;
  border-bottom: 0;
  border-top: 0;
  padding: 0 0 0 27px;
  margin-bottom: 0;
  text-align: center;
  font-style: normal;
  width: 215px;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 20px 0;
  margin-top: 20px;
  float: left;
  color: #900;  
  text-align: center;
  line-height: 1.1em;
}

.button {
  background-color: #5B4E4D;
  padding: 10px;
  color: #FFFDF5;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  margin: 10px 0 5px 61px;
  text-decoration: none;
  text-align: center;
  width: 126px;
  border-radius: 4px;
}

.button:hover {
  background-color: #84231C;
}

sup { 
  font-size: 0.5em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #84231C;
}

p a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #5B4E4D;
}