<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=1">
  
  <link rel="icon shortcut" href="/images/favicon.ico">

  <script type="text/javascript" src="//use.typekit.net/vqx8btp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% if slug == 'teaser' %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/scripts/doT.min.js"></script>
    <script src="/scripts/jquery.transit.min.js"></script>
    <script src="/scripts/jquery.tito.js"></script>
    <script src="/scripts/tito.js"></script>
    <script src="/scripts/dude.js"></script>
    <script src="/scripts/register_interest.js"></script>
  {% endif %}
  
  {% if slug == 'full' %}
    <link rel="stylesheet" href="/stylesheets/css/home.css" media="all">
  {% else %}
    <link rel="stylesheet" href="/stylesheets/css/screen.css" media="all">
  {% endif %}
</head>
<body class="{% if type == 'page' %}{{current.title | downcase}}{% elsif type == 'post' %}{{parent.title | downcase }}{% endif %}">
  
    {% if slug == 'teaser' %}
      {% include 'includes/teaser' %}
    {% elsif slug == 'blog' %}
      {% include 'includes/blog' %}
    {% elsif slug == 'speakers' %}
      {% include 'includes/speakers' %}
    {% elsif slug == 'full' %}
      {% include 'includes/full' %}
    {% else %}
      <div class="site-wrapper">
        <div class="logo-year-wrap">
          <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="logo">
          <p class="date-location">
            {{site.meta['date']}}<br>
            {{site.meta['location']}}
          </p>
          {% if current.meta['hero-image'] %}
            <img src="{{meta['hero-image']}}" alt=""  class="main-image">
          {% endif %}

        </div>
        
        <section class="site-content text coc">
          <h2>{{title}}</h2>
          {{body}}
        </section>
      </div>
    {% endif %}
  
  
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '527920a3108d7b7401000149');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  
</body>
</html>





