html {
  background: url("broken_noise.png");
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
}

.container {
  position: absolute;
  display: none;
  overflow: hidden;
}

#wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 1px;
  left: 0px;
  overflow: visible;

}

img {
  width: 500px;
  display: block;
  margin: 0;
  padding: 0;
}

#box-top {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;

}

.box-container {
  width: 500px;
  margin-left: -250px;
  height: 920px;
  position: absolute;
  left: 50%;
  top: -250px;
}

#box-bottom {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.register-interest {
  position: relative;
  display: none;
}

.ull-date {
  position: absolute;
  top: 124px;
  left: 155px;
  color: rgba(0,0,0,0.6);
}

.ull-location {
  position: absolute;
  top: 150px;
  left: 186px;
  color: rgba(0,0,0,0.3);
}

.label-name {
  position: absolute;
  left: 230px;
  top: 200px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: .8em;
  padding: 0 0 5px 0;
  width: 55px;
  margin: 0;
}

#name {
  position: absolute;
  left: 100px;
  top: 230px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 302px;
  font-size: 1.2em;
  font-family: "rooney-web",sans-serif;
  font-weight: 200;
  -webkit-appearance: none;
  padding: 0 0 2px 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -mox-border-radius: 0;
  text-align: center;
}



#email {
  position: absolute;
  left: 100px;
  top: 310px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 302px;
  font-size: 1.2em;
  font-family: "rooney-web",sans-serif;
  font-weight: 200;
  -webkit-appearance: none;
  padding: 0 0 2px 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -mox-border-radius: 0;
  text-align: center;

}

.label-email {
  position: absolute;
  left: 230px;
  top: 280px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: .8em;
  padding: 0 0 5px 0;
  width: 55px;
  margin: 0;
}

#name:focus, #email:focus {
  outline: none;
}


.submit {
  -webkeit-appearance: none;
  display: block;
  position: absolute;
  top: 375px;
  left: 170px;
  background: transparent;
  font-size: .85em;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "museo-sans",sans-serif;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 8px;
  color: rgba(0,0,0,0.6);
}

.thank-you {
  width: 40px;
  position: absolute;
  top: 170px;
  left: 227px;
  display: none;
}




