#wrapper {
  margin: 30px auto;
  width: 70%;
  font-family: museo-sans,sans-serif;
  font-style: normal;
  font-weight: 500; }

#morning {
  color: #3a9bd9;
  width: 100%; }

h3 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  margin-top: 18px; }

p {
  font-size: .85em;
  width: 500px;
  color: #999;
  line-height: 1.3em;
  font-family: rooney-web,sans-serif;
  font-style: normal;
  font-weight: 300; }

.col-header {
  display: none; }

.morning {
  border-right: 1px #3a9bd9 solid; }

.afternoon {
  border-right: 1px #b74550 solid; }

.evening {
  border-right: 1px #45b755 solid; }

#afternoon {
  color: #b74550;
  width: 100%;
  padding: 26px 0 0 106px;
  margin-top: 80px; }

#evening {
  color: #45b755;
  width: 100%;
  padding: 26px 0 0 106px;
  margin-top: 80px; }

.dtstart {
  font-weight: 500;
  font-size: 1em;
  padding: 0 20px 0 0;
  margin: 0; }

abbr {
  width: 100px;
  display: inline-block;
  height: 15px;
  line-height: 15px; }

.time {
  padding: 20px 0 0 0;
  vertical-align: top; }

abbr {
  border: none; }

.morningLine, .afternoonLine, .eveningLine {
  border: none;
  height: 2px;
  padding: 0;
  margin: 0; }

.morningLine {
  background-color: #3a9bd9; }

.afternoonLine {
  background-color: #b74550; }

.eveningLine {
  background-color: #45b755; }

#designIcon {
  background: url("../images/design-icon.png") no-repeat;
  width: 49px;
  height: 50px; }

#devIcon {
  background: url("../images/dev-icon.png") no-repeat;
  width: 49px;
  height: 50px; }

#visionIcon {
  background: url("../images/vision-icon.png") no-repeat;
  width: 49px;
  height: 50px; }

.speaker {
  font-weight: 700;
  color: #3a9bd9;
  text-decoration: none;
  font-family: rooney-web,sans-serif; }

@media all and (max-width: 320px) {
  body, h3, p, tr, td, .morningLine,
  .afternoonLine, .eveningLine {
    margin: 0;
    padding: 0; }

  .col-header {
    display: none; }

  #wrapper {
    margin: 40px auto;
    width: 290px;
    font-family: museo-sans,sans-serif;
    font-style: normal;
    font-weight: 500; }

  h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #000;
    text-align: center; }

  p {
    font-size: .85em;
    color: #999;
    line-height: 1.3em;
    font-family: rooney-web,sans-serif;
    font-style: normal;
    font-weight: 300;
    width: 280px;
    margin: 20px auto;
    text-align: center; }

  /*Handheld Resets*/
  .morning {
    border-right: none; }

  .afternoon {
    border-right: none; }

  .evening {
    border-right: none; }

  #designIcon {
    margin: -20px auto 0 auto;
    width: 49px;
    height: 50px;
    display: block;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    background: url("../images/design-icon.png") no-repeat; }

  #morning {
    color: #3a9bd9;
    width: 100%;
    padding: 0;
    margin-bottom: 60px; }

  #morning abbr {
    background-color: #3a9bd9;
    padding: 5px 3px 3px 3px;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff; }

  #devIcon {
    margin: -20px auto 0 auto;
    width: 50px;
    display: block;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff; }

  #afternoon {
    color: #b74550;
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
    margin-top: 0; }

  #afternoon abbr {
    background-color: #b74550;
    padding: 5px 3px 3px 3px;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff; }

  #visionIcon {
    margin: -20px auto 0 auto;
    width: 50px;
    display: block;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff; }

  #evening {
    color: #45b755;
    width: 100%;
    margin-top: 0;
    padding: 0;
    margin-bottom: 60px; }

  #evening abbr {
    background-color: #45b755;
    padding: 5px 3px 3px 3px;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff; }

  .dtstart {
    font-weight: 500;
    font-size: 1em;
    padding: 0 20px 0 0;
    margin: 0 auto;
    width: 50px; }

  abbr {
    display: block;
    line-height: 15px; }

  .time {
    margin: 20px auto;
    padding: 0;
    vertical-align: top;
    width: 94%;
    background: url("../images/bg_grey_line.png") repeat-x;
    background-position: center center; }

  abbr {
    border: none; }

  th, td {
    display: block; }

  .morningLine, .afternoonLine, .eveningLine {
    border: none;
    height: 2px; }

  .morningLine {
    background-color: #3a9bd9; }

  .afternoonLine {
    background-color: #b74550; }

  .eveningLine {
    background-color: #45b755; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #designIcon {
    background: url("../images/2x-design-icon.png") no-repeat;
    background-size: 100%; }

  #devIcon {
    background: url("../images/2x-dev-icon.png") no-repeat;
    background-size: 100%; }

  #visionIcon {
    background: url("../images/2x-vision-icon.png") no-repeat;
    background-size: 100%; } }
