{% include 'includes/site/header' %}
  <body class="bg-blue">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>

  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}

  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
    
  <div id="content">
  
  
<div class="container page-start block-90">
  	<div class="row">
		<div class="six columns offset-by-four end tablet-three">
			<h2 class="text-xl text-thin">Code of Conduct</h2>
		</div>
	</div>
	<div class="row pad-top-s">
		<div class="six columns offset-by-four end text-m text-medium pad-bottom tablet-three">
			<span class="p-margin text-r pad-bottom">
				<h2>Úll Conference Code of Conduct</h2>
				<p>Forked from <a href="http://opensourcebridge.org/about/code-of-conduct/" target="_blank">opensourcebridge.org</a></p>
	
				<p><strong>Purpose</strong></p>
				
				<p>At Úll we believe our community should be truly open for everyone. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of age, gender, sexual orientation, disability, ethnicity, or religion.
				This code of conduct outlines our expectations for participant behavior as well as the consequences for unacceptable behavior.
				We invite all sponsors, volunteers, speakers, attendees, media, exhibitors and other participants to help us realize a safe and positive conference experience for everyone.</p>
				
				<p><strong>Expected Behavior</strong></p>
				
				<ul>
				<li>Be considerate, respectful, and collaborative.
				</li>
				<li>Refrain from demeaning, discriminatory or harassing behavior and speech.</li>
				<li>Be mindful of your surroundings and of your fellow participants. Alert conference organizers if you notice a dangerous situation or someone in distress.</li>
				</ul>
				
				<p><strong>Unacceptable Behavior</strong></p>
				
				<p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning conduct by any attendees of Úll. Harassment includes: offensive verbal comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.</p>
				
				<p><strong>Consequences of Unacceptable Behavior</strong>  </p>
				
				<p>Unacceptable behavior will not be tolerated whether by other attendees, media, speakers, volunteers, organizers, venue staff, sponsors, or exhibitors. Anyone asked to stop unacceptable behavior is expected to comply immediately.
				If a participant engages in unacceptable behavior, the conference organizers may take any action they deem appropriate, up to and including expulsion from the conference without warning or refund.</p>
				
				<p><strong>What to Do If You Witness or Are Subject to Unacceptable Behavior</strong></p>
				
				<p>If you are subject to unacceptable behavior, notice that someone else is being subject to unacceptable behavior, or have any other concerns, please notify a conference organizer as soon as possible. All reports will remain completely confidential. The Úll team will be available to help participants contact venue security or local law enforcement, to provide escorts, or to otherwise assist those experiencing unacceptable behavior to feel safe for the duration of the conference. You can report unacceptable behavior to any member of staff. Staff can be found on site at the venue, or you may email one of the contacts below.</p>
				
				<p><strong>Scope</strong></p>
				
				<p>We expect all conference participants (sponsors, volunteers, speakers, attendees, and other guests) to abide by this code of conduct at all conference venues and conference-related social events.</p>
				
				<p><strong>Contact Information</strong></p>
				
				<ul>
				<li>Sasha Wilson, <a href="mailto:sasha@tapadoo.com">sasha@tapadoo.com</a></li>
				<li>Paul Campbell, <a href="mailto:paul@tito.io">paul@tito.io</a></li>
				<li>Dermot Daly <a href="mailto:dermot@tapadoo.com">dermot@tapadoo.com</a></li>
				</ul>
			</span>
		</div>
	</div>
</div>  

  
<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-yellow bg-grey" );
$('body').addClass( "bg-blue" );
});
</script>


</div><!--Content-->

{% include 'includes/site/footer' %}