{% include 'includes/site/header' %}
  <body class="bg-yellow">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>
  
  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}
  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
  
  <div id="content">
  
    
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg01.jpg);">
      <div class="row">
        <div class="four columns offset-by-six pad-bottom-s tablet-three">
          <h2 class="text-xl text-thin">A conference about great products</h2>
          <h3 class="text-l sc text-heavy pad-top-s pad-bottom">30th &amp; 31st March 2015</h3>
          
          <a href="/site/tickets" class="button text-s text-heavy sc">
            Tickets available January 27
          </a>
          
        </div>
      </div>
      <div class="row show-on-desktops">
        <div class="four columns pad-top-xl pad-bottom-s offset-by-three text-m text-medium">
          <p>Úll is a conference for people who build and love great products. We focus on great product businesses, presented through an Apple-shaped lens. We treat the conference itself like a product: with a deep emphasis on the attendee experience.</p>
        </div>
      </div>
      
    </div>  
    
    <div class="container first block-90" style="background-image: url(/images/site/bg02.jpg);">
      <div class="card trans">
      <div class="row hide-on-desktops">
          <img src="/images/site/bg02-m.jpg">
          <div class="four columns pad-top-s pad-bottom-s offset-by-three text-m text-medium tablet-three">
          <p>Úll is a conference for people who build and love great products, and great product businesses, presented through an Apple-shaped lens. We treat the conference itself like a product: with a deep emphasis on the attendee experience.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns pad-top-s pad-bottom-s offset-by-four text-m text-medium tablet-three">
          <p>Úll brings together talks, interviews, special features, and lots of social&nbsp;time. Our attendees go away having made new friends, potential partners, useful connections, knowledgeable confidantes. We care about strong, valuable relationships.</p>
        </div>
      </div>
      </div>
    </div>
    
    <div class="container block-90" style="background-image: url(/images/site/bg03.jpg);">
      <div class="card trans">
      <div class="row">
        <img src="/images/site/bg03-m.jpg" class="hide-on-desktops">
        <div class="four columns pad-top-s pad-bottom-s offset-by-six text-m text-medium tablet-three">
          <p>Úll 2015 is presented in Killarney, at the heart of postcard Ireland: a place of natural beauty, charm and Irishness. We place Ireland as a backdrop to the conference, and Killarney is familiar as the “Ireland” that people think of from abroad.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns pad-top-s pad-bottom-s offset-by-five text-m text-medium tablet-three">
          <p> The venue this year is <a href="https://www.google.ie/maps/place/The+Europe+Hotel+%26+Resort/@52.0377465,-9.5433736,13z/data=!4m2!3m1!1s0x0:0xf15e704dde3dba81" target="_blank">The Europe</a>. This is a multi-award winning hotel and resort with stunning views overlooking the lakes of Killarney. It is a short taxi ride from the town of Killarney, <a href="logistics.html">which can be easily accessed</a> from several of Ireland’s transport hubs.</p>
        </div>  
      </div>
      </div>
    </div>
    
    <div class="container block-90" style="background-image: url(/images/site/bg04.jpg);">
      <div class="card trans">
      <div class="row ">
        <img src="/images/site/bg04-m.jpg" class="hide-on-desktops">
        <div class="four columns pad-top-s pad-bottom-s offset-by-three text-m text-medium tablet-three">
          <p>We bring a broad group of passionate people together for three days and nights of inspiration, learning, and discourse. We have fun in a uniquely Irish way, with performances, great food, and plenty of Guinness. Úll is an opportunity to relax and enjoy the company of peers in one of the most beautiful locations in the world.</p>
        </div>
      </div>
      <div class="row pad-top-xl pad-m-top-none">
        <div class="four columns pad-top-xl pad-m-top-s pad-bottom-s offset-by-four text-m text-medium tablet-three">
          <p>Úll is designed with the complete experience in mind. See <a href="/site/speakers">who’s presenting.</a> View the <a href="/site/schedule">schedule>. Find out <a href="/site/logistics">how to get there</a> Check out our <a href="/site/tickets">ticket options</a>, and <a href="http://twitter.com/ullconf">let us know if you have any questions</a>. We’re looking forward to Úll 2015 and to seeing you soon in Killarney.</p>
        </div>
      </div>
      </div>
    </div>



<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-blue bg-grey" );
$('body').addClass( "bg-yellow" );
});
</script>


<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
<a href="https://www.flickr.com/photos/mozzercork/82028525/" target="_blank">Torc Mountain View Killarney</a> by mozzercork, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>, 
Úll 2014</a> by <a href="http://benricemccarthy.com/ull-2014/" target="_blank">Ben Rice</a>, 
      <a href="https://www.flickr.com/photos/jmenard48/524960458/">Looking down Upper Lake toward Muckross (Middle) Lake</a> by John Menard, edited under the <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 Generic License</a> and 
      Úll 2014</a> by <a href="http://benricemccarthy.com/ull-2014/" target="_blank">Ben Rice</a>.
            </p>
    </div>
  </div>
</div>
</div><!--Content-->
{% include 'includes/site/footer' %}