{% include 'includes/site/header' %}
  <body class="bg-yellow">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>
  
  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}
  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
  
  <div id="content">
  
    
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg01.jpg);">
      <div class="row">
        <div class="five columns offset-by-six pad-bottom-s tablet-three">
          <h2 class="text-xl text-thin">A conference about building great products</h2>
          <h3 class="text-l sc text-heavy pad-top-s pad-bottom">30th March – 1st April 2015</h3>
          
          <a href="/site/tickets" class="button text-s text-heavy sc">Book your Ticket now</a>
          
        </div>
      </div>
      <div class="row show-on-desktops">
        <div class="four columns pad-top-xl pad-bottom-s offset-by-three text-m text-medium">
          <p>Úll is a conference about building. We focus deeply on the attendee experience, bringing together talks, interviews, feature presentations, and lots of social&nbsp;time.</p>
        </div>
      </div>
      
    </div>  
    
    <div class="container first block-90" style="background-image: url(/images/site/bg02.jpg);">
      <div class="card trans">
      <div class="row hide-on-desktops">
          <img src="/images/site/bg02-m.jpg">
          <div class="four columns pad-top-s pad-bottom-s offset-by-three text-m text-medium tablet-three">
          <p>Úll is a conference about building. We focus deeply on the attendee experience, bringing together talks, interviews, feature presentations and lots of social&nbsp;time.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns pad-top-s pad-bottom-s offset-by-four text-m text-medium tablet-three">
          <p>Our attendees go away having made new friends, potential partners, useful connections, knowledgeable confidantes. We care about building strong, valuable relationships.</p>
        </div>
      </div>
      </div>
    </div>
    
    <div class="container block-90" style="background-image: url(/images/site/bg03.jpg);">
      <div class="card trans">
      <div class="row">
        <img src="/images/site/bg03-m.jpg" class="hide-on-desktops">
        <div class="four columns pad-top-s pad-bottom-s offset-by-six text-m text-medium tablet-three">
          <p>Killarney is at the heart of postcard Ireland, a place of natural beauty, charm and Irishness. With Úll, we place Ireland very much as a backdrop to the conference, and Killarney resonates strongly as the “Ireland” that people think of from abroad.</p>
        </div>
      </div>
      <div class="row">
        <div class="four columns pad-top-s pad-bottom-s offset-by-five text-m text-medium tablet-three">
          <p><a href="https://www.google.ie/maps/place/The+Europe+Hotel+%26+Resort/@52.0377465,-9.5433736,13z/data=!4m2!3m1!1s0x0:0xf15e704dde3dba81" target="_blank">The Europe Hotel &amp; Resort in Killarney</a> is the venue for Úll 2015. This is a multi-award winning hotel and resort with stunning views overlooking the lakes of Killarney. It is a short taxi ride from the town of Killarney, <a href="logistics.html">which can be easily accessed</a> from several of Ireland’s transport hubs.</p>
        </div>  
      </div>
      </div>
    </div>
    
    <div class="container block-90" style="background-image: url(/images/site/bg04.jpg);">
      <div class="card trans">
      <div class="row ">
        <img src="/images/site/bg04-m.jpg" class="hide-on-desktops">
        <div class="four columns pad-top-s pad-bottom-s offset-by-three text-m text-medium tablet-three">
          <p>We bring the best speakers and attendees together for three days and nights of inspiration and discourse. And we have fun in a uniquely Irish way, with performances, great food and plenty of Guinness. Úll is an opportunity to relax and enjoy the company of peers in one of the most beautiful locations in the world.</p>
        </div>
      </div>
      <div class="row pad-top-xl pad-m-top-none">
        <div class="four columns pad-top-xl pad-m-top-s pad-bottom-s offset-by-four text-m text-medium tablet-three">
          <p>Úll is designed with the complete experience in mind. Check out our <a href="/site/tickets">tickets options</a>, and <a href="http://twitter.com/ullconf">let us know if you have any questions</a>. We’re looking forward to Úll 2015 and to seeing you soon in Killarney.</p>
        </div>
      </div>
      </div>
    </div>



<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-blue bg-grey" );
$('body').addClass( "bg-yellow" );
});
</script>


<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
<a href="https://www.flickr.com/photos/mozzercork/82028525/" target="_blank">Torc Mountain View Killarney</a> by mozzercork, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>, 
Úll 2014</a> by <a href="http://benricemccarthy.com/ull-2014/" target="_blank">Ben Rice</a>, 
      <a href="https://www.flickr.com/photos/jmenard48/524960458/">Looking down Upper Lake toward Muckross (Middle) Lake</a> by John Menard, edited under the <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 Generic License</a> and 
      Úll 2014</a> by <a href="http://benricemccarthy.com/ull-2014/" target="_blank">Ben Rice</a>.
            </p>
    </div>
  </div>
</div>
</div><!--Content-->
{% include 'includes/site/footer' %}