{% include 'includes/site/header' %}
  <body class="bg-blue">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>

  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}
  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
    
  <div id="content">
  
  
<div class="container page-start block-90" style="background-image: url(/images/site/bg09.jpg);">
  <div class="row">
    <div class="six columns offset-by-six tablet-three">
      <h2 class="text-xl text-thin">Getting There</h2>
    </div>
  </div>
  <div class="row pad-top-s">
    <div class="four columns offset-by-six text-m text-medium pad-bottom tablet-three">
    <p class="text-m pad-bottom">
Perched on the scenic north coast of Lough Leane, the Europe is easy to reach from Killarney, which in turn is easily accessible from any of Ireland’s transport hubs. Plan your journey to Úll 2015&nbsp;below.</p>
    </div>
  </div>
</div>  

<div class="container">
<div class="row">
<div class="nine columns offset-by-two">
  <div class="row">
    <div class="five columns">
      <div class="row">
        <div class="pad-top pad-bottom">
          <h3 class="text-l text-heavy pad-top-l">Dublin</h3>
        </div>
      </div>
      <div class="row tablet-two pad-bottom">
          <p class="text-r text-medium">Dublin Airport is about a 30-minute bus ride or 20-minute taxi ride from the city centre. <a href="http://www.rome2rio.com/s/Dublin-Leinster-Ireland/Killarney">Rome2Rio</a> provides route, time and ticketing options for a variety of modes of travel from Dublin to&nbsp;Killarney.</p>
      </div>
      <div class="row tablet-two">
        <div class="pad-bottom">
          <h4 class="text-s sc text-heavy">Car</h4>
          <p class="text-s pad-bottom">There are car rental outlets at Dublin Airport and also several a short distance from the city centre. The drive from Dublin to Killarney is approximately 4&nbsp;hours.</p>
          
          <h4 class="text-s sc text-heavy">Train</h4>
          <p class="text-s pad-bottom">Train service is available from Dublin’s Heuston Station. There are 5–7 trains per day and total journey time is about 3.5 hours. There is a platform change at Mallow for most&nbsp;trains.</p>
                      
          <h4 class="text-s sc text-heavy">Bus</h4>
          <p class="text-s pad-bottom">There are a number of bus services available. For tickets/bookings, see <a href="http://www.dublinairport.com/gns/to-from-the-airport/by-bus-or-coach.aspx">here</a>.</p>
        </div>
      </div>
    </div>
    <div class="five columns offset-by-one end">
      <div class="row">
        <div class="pad-top pad-bottom">
          <h3 class="text-l text-heavy pad-top-l">Cork Airport</h3>
        </div>
      </div>
      <div class="row tablet-two pad-bottom">
          <p class="text-r text-medium">Cork is an international airport which serves many European hubs including London, Amsterdam, Munich and Paris.</p>
      </div>
      <div class="row tablet-two">
        <div class="pad-bottom">
          <h4 class="text-s sc text-heavy">Car</h4>
          <p class="text-s pad-bottom">There are car rental outlets at Cork Airport. The drive from Cork Airport to Killarney is approximately 1.5 hours.</p>
          
          <h4 class="text-s sc text-heavy">Train</h4>
          <p class="text-s pad-bottom">The rail services also operate out of Cork City (not direct from the Airport) so take the 226 or 226A to Kent Station, and then take the train to Killarney. See <a href="http://irishrail.ie">Irish Rail</a> for details. Trains to Killarney depart approximately every 2 hours, so plan accordingly. Timetables are available <a href="http://www.irishrail.ie/media/11-galwaylimerickcorktralee250920131.pdf">here (PDF)</a> – check trains departing from Cork (Kent Station). The train journey lasts approximately 2 hours.</p>
                      
          <h4 class="text-s sc text-heavy">Bus</h4>
          <p class="text-s pad-bottom">Take the 226 or 226A bus to Cork City Bus Station. From here take route 40 to Killarney. See <a href="http://buseireann.ie">Bus Éireann</a> for details. Total journey time is around 2.5&nbsp;hours.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="five columns">
    <div class="row">
      <div class="pad-top pad-bottom">
        <h3 class="text-l text-heavy pad-top-l">Kerry Airport</h3>
      </div>
    </div>
    <div class="row tablet-two pad-bottom">
        <p class="text-r text-medium">Kerry Airport is less than 10 minutes walk to the train station which offers service to Killarney. Outside the main terminal is a bus stop with service to Killarney.</p>
    </div>
    <div class="row tablet-two">
      <div class="pad-bottom">
        <h4 class="text-s sc text-heavy">Taxi</h4>
        <p class="text-s pad-bottom">A taxi service is available from the airport. You may want to book your taxi by telephone before arriving. Kerry Airport is a small regional airport so booking is advised.</p>
        
        <p class="text-s pad-bottom">Below are the contact names and numbers for taxi&nbsp;services.</p>
                    
        <ul class="text-regular">
          <li>John Brosnan:  +353 87 2601474 <br/>or +353 66 7141184</li>
          <li>Sean Casey: +353 87 4188564 <br/>or +353 64 6636666</li>
          <li>Dan Corcoran:  +353 87 2488757</li>
          <li>Sean Herlihy: +353 87 2963636</li>
          <li>Con Moran:  +353 87 2538759 <br/>or +353 66 9764701</li>
          <li>Gerard Savage: +353 87 2354786</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="five columns offset-by-one end">
    <div class="row">
      <div class="pad-top pad-bottom">
        <h3 class="text-l text-heavy pad-top-l">Shannon Airport</h3>
      </div>
    </div>
    <div class="row tablet-two pad-bottom">
        <p class="text-r text-medium">Situated in Co. Clare, Shannon Airport is Ireland’s 3rd international airport. It serves flights from USA, Canada as well as the UK (Bristol, Edinburgh, London) and some regional European routes such as Paris Beauvais.</p>
    </div>
    <div class="row tablet-two">
      <div class="pad-bottom">
        <h4 class="text-s sc text-heavy">Car</h4>
        <p class="text-s pad-bottom">There are car rental outlets at Shannon Airport. The drive from Shannon to Killarney is approximately 2 hours.</p>
        
        <p class="text-s pad-bottom">For public transport, we recommend connecting to Limerick first, and from here you can take a train or bus to Killarney. For information on getting to Limerick, see <a href="http://www.shannonairport.ie/gns/Passengers/Go/by-bus.aspx">here</a>.</p>
        
        <h4 class="text-s sc text-heavy">Train</h4>
        <p class="text-s pad-bottom">Trains from Limerick to Killarney are via Cork/Mallow take 2.5 hours. See <a href="http://irishrail.ie">Irish Rail</a> for more information.</p>
                    
        <h4 class="text-s sc text-heavy">Bus</h4>
        <p class="text-s pad-bottom">A bus from Limerick to Killarney is also 2.5 hours. For tickets/bookings, visit <a href="http://buseireann.ie">Bus Éireann</a>.</p>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>

  
<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-yellow bg-grey" );
$('body').addClass( "bg-blue" );
});
</script>

<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
      <a href="https://www.flickr.com/photos/jmenard48/524960458/">Looking down Upper Lake toward Muckross (Middle) Lake</a> by John Menard, edited under the <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 Generic License</a>.
    </p>
    </div>
  </div>
</div>

</div><!--Content-->
{% include 'includes/site/footer' %}