{% include 'includes/site/header' %}
  <body class="bg-grey">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>

  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}

<div id="m-menu-link">
  <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
</div>

  <div id="content">
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg08.jpg);">
      <div class="row">
        <div class="six columns offset-by-six tablet-three">
          <h2 class="text-xl text-thin">Partners</h2>
        </div>
      </div>
      <div class="row">
        <div class="five columns offset-by-six text-m text-medium pad-bottom tablet-three pad-top-xs">
        <p>
        Úll includes two sponsorship levels this year: a patronage programme called Eagrán, and traditional sponsorships. Eagrán is now sold out, but if you are interested in sponsoring, please get in touch: <a href="mailto:sponsors@ull.ie">sponsors@ull.ie</a>
        </p>
        </div>
      </div>
    </div>  
    
    <div class="container">
      <div class="row">
        <div class="five columns offset-by-four pad-top-l pad-bottom tablet-three">
          <h2 class="text-xl text-thin pad-bottom">Eagrán Ticket Holders</h2>
          <p class="text-s">Our Eagrán ticket holders benefit from the most complete Úll experience, and provide extra special support to us through their purchase. <a href="/site/tickets">Learn more about our ticket options here</a>.</p>
        </div>
      </div>
      <div class="row pad-bottom-xl">
        <div class="eight columns offset-by-three">
        <ul class="css-columns css-three-columns">
            <li><h3 class="text-l text-thin">Andy Delcambre</h3><p class="sc text-s text-medium pad-bottom"><a href="https://github.com/about/jobs" target="_blank">GitHub is hiring!</a></p></li>
            <li><h3 class="text-l text-thin">Tekin Suleyman</h3><p class="sc text-s text-medium pad-bottom"><a href="http://tekin.co.uk" target="_blank">Tekin</a></p></li>
            <li><h3 class="text-l text-thin">Matt Drozdzynski</h3><p class="sc text-s text-medium pad-bottom"><a href="http://pilot.co" target="_blank">Pilot</a></p></li>
            <li><h3 class="text-l text-thin">Karl Shouler</h3><p class="sc text-s text-medium pad-bottom"><a href="http://ksho.co" target="_blank">Monetate</a></p></li>
            <li><h3 class="text-l text-thin">Matt Kern</h3><p class="sc text-s text-medium pad-bottom"><a href="http://bloomcrush.com" target="_blank">Bloomcrush</a></p></li>
            <li><h3 class="text-l text-thin">Yuxing Huang</h3><p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/yuxhuang" target="_blank">@yuxhuang</a></p></li>
            <li><h3 class="text-l text-thin">Allen Pike</h3><p class="sc text-s text-medium pad-bottom"><a href="http://www.steamclock.com" target="_blank">Steamclock Software</a></p></li>
            <li><h3 class="text-l text-thin">Tom Maes</h3><p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/tmaes" target="_blank">@tmaes</a></p></li>
            <li><h3 class="text-l text-thin">Jeremy Hinegardner</h3><p class="sc text-s text-medium pad-bottom"><a href="http://twitter.com/copiousfreetime" target="_blank">@copiousfreetime</a></p></li>
            <li><h3 class="text-l text-thin">Hans Petter Eikemo</h3><p class="sc text-s text-medium pad-bottom"><a href="http://ideon.co/theconverted" target="_blank">The Converted by Ideon</a></p></li>
            <li><h3 class="text-l text-thin">Garrett Ross</h3><p class="sc text-s text-medium pad-bottom"><a href="http://mobelux.com" target="_blank">Mobelux</a></p></li>
            <li><h3 class="text-l text-thin">CJ Kihlbom</h3><p class="sc text-s text-medium pad-bottom"><a href="http://www.elabs.se/" target="_blank">Elabs, bespoke applications</a></p></li>
            <li><h3 class="text-l text-thin">Ben Darlow</h3><p class="sc text-s text-medium pad-bottom"><a href="http://twitter.com/kapowaz" target="_blank">@kapowaz</a></p></li>
            <li><h3 class="text-l text-thin">Jürgen Schweizer</h3><p class="sc text-s text-medium pad-bottom"><a href="http://kards.io" target="_blank">Kards – Knowing, Planning, Communicating. Unified.</a></p></li>
            <li><h3 class="text-l text-thin">Andre Arko</h3><p class="sc text-s text-medium pad-bottom"><a href="http://arko.net" target="_blank">Arko.net</a></p></li>
            <li><h3 class="text-l text-thin">Shane Becker</h3><p class="sc text-s text-medium pad-bottom"><a href="http://homesteading.io" target="_blank">Homesteading</a></p></li>
            <li><h3 class="text-l text-thin">StuFF mc</h3><p class="sc text-s text-medium pad-bottom"><a href="http://lanyrd.com/2015/objcgn" target="_blank">objective-cologne<br>by seven principles</a></p></li>
            <li><h3 class="text-l text-thin">Adam Roben</h3><p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/aroben" target="_blank">@aroben</a></p></li>
            <li><h3 class="text-l text-thin">Marco Arment</h3><p class="sc text-s text-medium pad-bottom"><a href="https://overcast.fm" target="_blank">Overcast</a></p></li>
            <li><h3 class="text-l text-thin">Myke Hurley</h3><p class="sc text-s text-medium pad-bottom"><a href="http://relay.fm" target="_blank">Relay FM</a></p></li>
            <li><h3 class="text-l text-thin">Chris Mohajer</h3><p class="sc text-s text-medium pad-bottom"><a href="http://www.mohajer.com" target="_blank">www.mohajer.com</a></p></li>
            <li><h3 class="text-l text-thin">Simon Starr</h3><p class="sc text-s text-medium pad-bottom"><a href="https://cahootify.com" target="_blank">Cahootify is like IMDb meets LinkedIn</a></p></li>
            <li><h3 class="text-l text-thin">Joachim Bondo</h3><p class="sc text-s text-medium pad-bottom"><a href="https://itunes.apple.com/artist/cocoa-stuff/id299471089" target="_blank">Fine iOS apps: Deep Green and Quibbler</a></p></li>
            <li><h3 class="text-l text-thin">Martin Hering</h3><p class="sc text-s text-medium pad-bottom"><a href="http://vemedio.com/instacast" target="_blank">Instacast</a></p></li>
            <li><h3 class="text-l text-thin">Felipe Cypriano</h3><p class="sc text-s text-medium pad-bottom"><a href="http://www.thumbtack.com/team/engineering" target="_blank">Thumbtack</a></p></li>
            <li><h3 class="text-l text-thin">Richard Stelling</h3><p class="sc text-s text-medium pad-bottom"><a href="http://iossupportmatrix.com" target="_blank">iOS Support Matrix</a></p></li>
            <li><h3 class="text-l text-thin">Walter Kim</h3><p class="sc text-s text-medium pad-bottom"><a href="http://linkedin.com/in/walterkim" target="_blank">Software Engineer, iOS Thumbtack</a></p></li>
            <li><h3 class="text-l text-thin">Chad Pytel</h3><p class="sc text-s text-medium pad-bottom"><a href="http://thoughtbot.com" target="_blank">thoughtbot</a></p></li>
            <li><h3 class="text-l text-thin">Martin Kavalar</h3><p class="sc text-s text-medium pad-bottom"><a href="http://boldpokerapp.com" target="_blank">Bold Poker</a></p></li>
            <li><h3 class="text-l text-thin">Anthony “Green Pea” Eden</h3><p class="sc text-s text-medium pad-bottom"><a href="https://dnsimple.com" target="_blank">DNSimple</a></p></li>
            <li><h3 class="text-l text-thin">Mark Flowers</h3><p class="sc text-s text-medium pad-bottom"><a href="http://skookum.com" target="_blank">Skookum Digital Works</a></p></li>
            <li><h3 class="text-l text-thin">Gustin Prudner</h3><p class="sc text-s text-medium pad-bottom"><a href="http://www.purpose.com" target="_blank">Purpose moves people to remake the world</a></p></li>
        </ul>
        </div>
      </div>
    </div>
    
<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-blue bg-yellow" );
$('body').addClass( "bg-grey" );
});
</script>
<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
      <a href="https://www.flickr.com/photos/sjdunphy/15429113245" target="_blank">Lough Leane</a> by Shaun Dunphy, edited under the <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 Generic License</a>. 
      </p>
    </div>
  </div>
</div>
</div><!--Content-->

{% include 'includes/site/footer' %}