{% include 'includes/site/header' %}
  <body class="bg-blue">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>

  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}

  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
    
<div id="content">
	  
    <div class="container page-start block-90" style="background-image: url(/images/site/bg09.jpg);">
    
    	<div class="row">
	  		<div class="six columns offset-by-six">
				<h2 class="text-xl text-thin">Schedule</h2>
			</div>
		</div>
		<div class="row pad-top-s">
	   		<div class="four columns offset-by-six end text-m text-medium pad-bottom tablet-three">
				  <p class="text-m pad-bottom">
	  			  Úll 2015 is March 30 and 31, with the option for attendees to upgrade tickets to include dinner the day before and the day after.
			      </p>
			</div>
	  	</div>
       		
		<div class="row pad-bottom">	
			<div class="nine columns offset-by-three">
				
				<div class="row">
		        
		          	<div class="four columns">
		          		<div class="row">
		          			<div class="eleven columns end">
					            <p class="text-r text-heavy">The Conference</p>
					            <p class="text-s text-heavy sc pad-top">Monday 30 March</p>
					            
					            <p class="text-r text-medium pad-bottom">
					              Keynote sessions and The&nbsp;Úll&nbsp;Show
					            </p>
					            <p class="text-r text-medium pad-bottom">
					            
					            12pm: Registration opens<br/>
					            2pm–5pm: Talk Sessions<br/>
					            5pm–7pm: Break<br/>
					            7pm: Dinner<br/>
					            9pm: The Úll Show<br/>
					            </p>
		       				</div>
		       			</div>
		       		</div>
		
					<div class="four columns">
						<div class="row">
							<div class="eleven columns end">
					            <p class="text-r text-heavy">&nbsp;</p>
					            <p class="text-s text-heavy sc pad-top">Tuesday 31 March</p>
					            <p class="text-r text-medium pad-bottom">
					            Talk Sessions, Special Features, Keynote, Banquet<br/>
					            </p>
					            <p class="text-r text-medium pad-bottom">
					            10am–1pm: Talk Sessions<br/>
					            1pm–3pm: Lunch<br/>
					            3pm–6pm: Special Features<br/>
					            6pm–8pm: Wind-down<br/>
					            8pm: Dinner, followed by keynote, followed by music<br/>
					            </p>
							</div>
						</div>
					</div>  
		          
					<div class="four columns">
						<p class="text-r text-heavy">Extend Your Stay</p>
						<p class="text-s text-heavy sc pad-top">Before: Sunday 29 March</p>
						<p class="text-s text-heavy pad-bottom">
						Early arrivals the day before. Dinner is included in Eagrán tickets, and available as an optional upgrade for regular tickets.
						</p>
						<p class="text-r text-medium pad-bottom">
						8pm: Dinner 
						</p>
						<p class="text-s text-heavy sc pad-top">After: Wednesday 1 April</p>
						<p class="text-s text-heavy pad-bottom">
						For some folks, the wind-down is as important as the conference itself! Also included in Eagrán tickets, dinner is again available as an upgrade for regular tickets.
						</p>
						<p class="text-r text-medium pad-bottom">
						7pm: Dinner 
						</p>
					</div>	
					
				</div>
			</div>
		</div>
	</div>
	      
<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-yellow bg-grey" );
$('body').addClass( "bg-blue" );
});
</script>
	
	<div class="container pad-top-l">
		<div class="row">
	    	<div class="two columns offset-by-three">
	      		<p class="text-s text-medium sc">Image Credits</p>
	      	</div>
	    	<div class="six columns end">
				<p class="text-s text-medium">
				<a href="https://www.flickr.com/photos/brighton/1427895729/" target="_blank">Lough Leane, Killarney National Park, Kerry Ireland</a> by Jim Linwood, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>.
				</p>
		    </div>
	  	</div>
	</div>
</div><!--Content-->
{% include 'includes/site/footer' %}