{% include 'includes/site/header' %}
  <body class="bg-red">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>

  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}

  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>


  <div id="content">
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg05.jpg);">
      <div class="row">
        <div class="six columns offset-by-six tablet-three">
          <h2 class="text-xl text-thin">Speakers: Hand-picked to get the conversations started</h2>
        </div>
      </div>
    </div>  
    
    <div class="container block-45" style="background-image: url(/images/site/speakers/anil_dash.jpg);">
      <div class="row">
      <div class="two columns offset-by-two pad-top">
        <h2 class="text-l">Talks</h2>
        <p class="text-s">A series of presentations about building great apps.</p>
      </div>
     </div>
      <div class="row">
        <div class="four columns card trans first pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/anil_dash.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Anil Dash</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/anildash" target="_blank">@anildash</a></p>
          <p class="text-s text-medium pad-bottom">Anil Dash is CEO of <a href="https://www.thinkup.com/" target="_blank">ThinkUp</a>, a new app that provides deeper insights into our social network. He is also a writer and entrepreneur who focuses on how technology affects society. When not doing all of that, he's also an advisor to&nbsp;<a href="http://medium.com">Medium</a>.</p>
        </div>
      </div>
    </div>
    
    <div class="container block-45" style="background-image: url(/images/site/speakers/lauren_goode.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/lauren_goode.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Lauren Goode</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/laurengoode" target="_blank">@laurengoode</a></p>
          <p class="text-s text-medium pad-bottom">
          Lauren Goode is the Managing Editor of Reviews &amp; Product Coverage at <a href="http://recode.net/" target="_blank">Re/Code</a>, where she writes about consumer technology, new product developments and technology trends. She previously worked at AllThingsD, The Wall Street Journal Digital Network and ESPN. 
          </p>
        </div>
      </div>
    </div>
        
    <div class="container block-45" style="background-image: url(/images/site/speakers/james_thomson.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/james_thomson.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">James Thomson</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/jamesthomson" target="_blank">@jamesthomson</a></p>
          <p class="text-s text-medium pad-bottom">James Thomson has been an indie Mac developer for over 20 years. He’s the developer for <a href="http://www.dragthing.com/" target="_blank">DragThing</a> and <a href="http://www.pcalc.com/" target="_blank">PCalc for Mac</a>, and more recently <a href="http://www.pcalc.com/iphone/index.html" target="_blank">PCalc for iOS</a>. James has seen his share of frivolous lawsuits and app rejections, and is the subject of at least one Steve Jobs&nbsp;story.
          </p>
        </div>
      </div>
    </div>    
    
    <div class="container block-45" style="background-image: url(/images/site/speakers/soroush_khanlou.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/soroush_khanlou.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Soroush Khanlou</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/khanlou" target="_blank">@khanlou</a></p>
          <p class="text-s text-medium pad-bottom">

          Soroush Khanlou is the developer of the <a href="http://genius.com/static/app">iOS app for Genius</a> (formerly Rap Genius). He writes about programming on <a href="http://khanlou.com">his blog</a>. He first took the stage with us last year at our lightning talks session, and then took the main stage at <a href="http://cocoalove.org/">Cocoa Love</a>. We’re delighted to welcome him back as a speaker at Úll this&nbsp;year.
          </p>
        </div>
      </div>
    </div>
    
     <div class="container block-45" style="background-image: url(/images/site/speakers/jason_snell.jpg);">
     <div class="row">
     	<div class="two columns offset-by-two pad-top">
     		<h2 class="text-l">The Úll Show</h2>
     		<p class="text-s">An evening of interviews, music and entertainment, hosted by Jason Snell and Guy English.</p>
     	</div>
     </div>
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/jason_snell.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Jason Snell</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/jsnell" target="_blank">@jsnell</a></p>
          <p class="text-s text-medium pad-bottom">
          Jason, former editor-in-chief of Macworld magazine, is now the proprietor of <a href="http://sixcolors.com" target="_blank">Six Colors</a>, an Apple and tech-centric link and long-form blog. Jason also hosts and guests on an infinite amount of <a href="http://sixcolors.com/podcasts" target="_blank">tech and pop-culture podcasts</a>. The force is with this one.
          </p>
        </div>
      </div>
    </div>
    

    
	     <div class="container block-45" style="background-image: url(/images/site/speakers/guy_english.jpg);">
	      <div class="row">
	        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
	          <img src="/images/site/speakers/guy_english.jpg" alt="" / class="hide-on-desktops">
	          <h3 class="text-l text-thin">Guy English</h3>
	          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/gte" target="_blank">@gte</a></p>
	          <p class="text-s text-medium pad-bottom">
	Guy blogs at <a href="http://kickingbear.com/blog/" target="_blank">Kicking Bear</a>, was co-host of the remarkable <a href="http://cingleton.com" target="_blank">Çingleton Symposium</a>, and writes <a href="http://aged-and-distilled.com/napkin/" target="_blank">Napkin</a>. He is also host of the <a href="http://www.imore.com/debug" target="_blank">Debug</a> podcast, providing in-depth, high-tech interviews with Apple community folk.
	          </p>
	        </div>
	      </div>
	    </div>
	    


     <div class="container block-45" style="background-image: url(/images/site/speakers/jennifer_brook.jpg);">
     <div class="row">
     	<div class="two columns offset-by-two pad-top">
     		<h2 class="text-l">Special Features</h2>
        <p class="text-s">Non-standard presentations that take you outside the box of the main conference centre.</p>
     	</div>
     </div>
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/jennifer_brook.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Jennifer Brook</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/gte" target="_blank">@jenniferbrook</a></p>
          <p class="text-s text-medium pad-bottom">
            Jennifer is a researcher, interaction designer, and artist from Brooklyn, NY. Last year, she stunned us with her &lsquo;<a href="http://jenniferbrook.co/post/84403426377/timemachine" target="_blank">Time Machine</a>&rsquo; visual exercise, and we’re delighted that she’s joining us again this year. Jennifer has spent part of the past year traveling and collecting pigments from El Salvador, the Iberian Peninsula, and the American West.
          </p>
        </div>
      </div>
    </div>
    


     <div class="container block-45" style="background-image: url(/images/site/speakers/horace_dediu.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/horace_dediu.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Horace Dediu</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/hdediu" target="_blank">@hdediu</a></p>
          <p class="text-s text-medium pad-bottom">
Horace blogs at <a href="http://www.asymco.com">Asymco</a>, podcasts at <a href="http://5by5.tv/criticalpath" target="_blank">The Critical Path</a> and hosts <a href="http://www.airshow.io" target="_blank">The Airshow World Tour</a>. Horace tells stories about the technology industry using Apple as a lens. He is the epitome of an Úll speaker.
          </p>
        </div>
      </div>
    </div>
    


     <div class="container block-45" style="background-image: url(/images/site/speakers/jim_dalrymple.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/jim_dalrymple.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Jim Dalrymple</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/jdalrymple" target="_blank">@jdalrymple</a></p>
          <p class="text-s text-medium pad-bottom">
Jim heads up <a href="http://www.loopinsight.com" target="_blank">Loop Insight</a>, an Apple, tech and music related blog. Jims’s &lsquo;Yep&rsquo; or &lsquo;Nope&rsquo; calls regarding Apple rumours have never been wrong. He shreds with the best, and Jim’s personality is very much part of Úll.
          </p>
        </div>
      </div>
    </div>

    <div class="container block-45" style="background-image: url(/images/site/speakers/georgia_dow.jpg);">
          <div class="row">
            <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
              <img src="/images/site/speakers/georgia_dow.jpg" alt="" / class="hide-on-desktops">
              <h3 class="text-l text-thin">Georgia Dow</h3>
              <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/georgia_dow" target="_blank">@georgia_dow</a></p>
              <p class="text-s text-medium pad-bottom">
      Georgia Dow is a licensed psychotherapist and motivational speaker. She’s also a senior editor at <a href="http://www.imore.com/" target="_blank">iMore</a>, where she covers Apple and related products, and co-host of the Isometric, Review, and Vector podcasts, where she discusses how games, media, and technology intersect with the human experience. A 2-time Brazilian Jiu-Jitsu champion, she lives with her family in Montreal.
              </p>
            </div>
          </div>
        </div>

    
     <div class="container block-45" style="background-image: url(/images/site/speakers/oisin_prendiville.jpg);">
      <div class="row">
        <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
          <img src="/images/site/speakers/oisin_prendiville.jpg" alt="" / class="hide-on-desktops">
          <h3 class="text-l text-thin">Oisín Prendiville</h3>
          <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/prendio2" target="_blank">@prendio2</a></p>
          <p class="text-s text-medium pad-bottom">Oisín Prendiville is one half of <a href="http://supertop.co/" target="_blank">Supertop</a>, the app design and development duo behind <a href="http://castro.fm/" target="_blank">Castro</a>, <a href="http://supertop.co/unread/" target="_blank">Unread</a> and <a href="http://usetokens.com/" target="_blank">Tokens</a>. Hailing from Ireland, we're delighted to be able to present one of our own. At last year’s Úll, Oisín’s impressive beard meant he was mistaken for Jim Dalrymple.          
          </p>
        </div>
      </div>
    </div>
    
   
         <div class="container block-45" style="background-image: url(/images/site/speakers/dave_wiskus.jpg);">
          <div class="row">
            <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
              <img src="/images/site/speakers/dave_wiskus.jpg" alt="" / class="hide-on-desktops">
              <h3 class="text-l text-thin">Dave Wiskus</h3>
              <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/dwiskus" target="_blank">@dwiskus</a></p>
              <p class="text-s text-medium pad-bottom">
Dave is the designer behind <a href="http://vesperapp.co" target="_blank">Vesper</a>. He was co-host of <a href="http://unprofesh.com/" target="_blank">Unprofessional</a>, and more recently has been building an audience at <a href="http://betterelevation.com" target="_blank">Better Elevation</a>, vlogging about software design and culture.
              </p>
            </div>
          </div>
        </div>

        <div class="container block-45" style="background-image: url(/images/site/speakers/serenity_caldwell.jpg);">
          <div class="row">
            <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
              <img src="/images/site/speakers/serenity_caldwell.jpg" alt="" / class="hide-on-desktops">
              <h3 class="text-l text-thin">Serenity Caldwell</h3>
              <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/settern" target="_blank">@settern</a></p>
              <p class="text-s text-medium pad-bottom">
Serenity is managing editor at <a href="http://www.imore.com/" target="_blank">iMore</a> producing columns, videos, and ebooks, speaking at conferences, and, in every way imaginable, helping people all over the world get more out of their iPhones, iPads, and Macs. She comes from a family of musicians, studied theatre and film, and worked for Apple Retail. Before iMore, Serenity worked for four years at Macworld. 
              </p>
            </div>
          </div>
        </div>

        <div class="container block-45" style="background-image: url(/images/site/speakers/rene_ritchie.jpg);">
          <div class="row">
            <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
              <img src="/images/site/speakers/rene_ritchie.jpg" alt="" / class="hide-on-desktops">
              <h3 class="text-l text-thin">Rene Ritchie</h3>
              <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/reneritchie" target="_blank">@reneritchie</a></p>
              <p class="text-s text-medium pad-bottom">
Rene Ritchie is editor-in-chief of <a href="http://www.imore.com/" target="_blank">iMore</a>, provides iPhone, iPad, and Mac news, reviews, features, and how-tos to over 10 million monthly readers. He's also co-host of the Debug, Iterate, Vector, and MacBreak Weekly podcasts, has authored several books, and appeared on numerous radio and TV broadcasts discussing Apple and the mobile industry.
              </p>
            </div>
          </div>
        </div>                

                 <div class="container block-45" style="background-image: url(/images/site/speakers/juanmi_cuesta.jpg);">
                  <div class="row">
                  	<div class="two columns offset-by-two pad-top">
                  		<h2 class="text-l">Coffee Guest</h2>
                  	</div>
                  </div>
                  <div class="row">
                    <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
                      <img src="/images/site/speakers/juanmi_cuesta.jpg" alt="" / class="hide-on-desktops">
                      <h3 class="text-l text-thin">Juanmi Cuesta</h3>
                      <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/juanmicuesta" target="_blank">@juanmicuesta</a></p>
                      <p class="text-s text-medium pad-bottom">
Juanmi runs training, events, and the online store for <a href="http://3fe.com">3FE</a>, probably the best coffee shop in the world. Last year, Juan served pourover to the delight of every early riser, and provided stories and facts and trivia for all those interested. We wouldn’t do without him again!
                      </p>
                    </div>
                  </div>
                </div>
                
                
                 <div class="container block-45" style="background-image: url(/images/site/speakers/john_gruber.jpg);">
                 <div class="row">
                 	<div class="two columns offset-by-two pad-top">
                 		<h2 class="text-l">Dinnertime Guest</h2>
                 	</div>
                 </div>
                  <div class="row">
                    <div class="four columns card trans pad-top-l offset-by-eight tablet-three">
                      <img src="/images/site/speakers/john_gruber.jpg" alt="" / class="hide-on-desktops">
                      <h3 class="text-l text-thin">John Gruber</h3>
                      <p class="sc text-s text-medium pad-bottom"><a href="https://twitter.com/gruber" target="_blank">@gruber</a></p>
                      <p class="text-s text-medium pad-bottom">
John Gruber is that rare kind of tech writer who aside from building <a href="http://daringfireball.net" target="_blank">one of the most influential tech blogs in the world</a>, has made significant technical contributions to the world of writing on the web (read: <a href="http://daringfireball.net/projects/markdown" target="_blank">Markdown</a>). John embodies excellence, integrity and attention to detail, which is why we’re so happy to have him back four years running.
                      </p>
                    </div>
                  </div>
                </div>

<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-yellow bg-blue bg-grey" );
$('body').addClass( "bg-red" );
});
</script>


<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
<a href="https://www.flickr.com/photos/brighton/1431781967/" target="_blank">Lough Leane, Kerry Ireland</a> by Jim Linwood, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>.
      </p>
    </div>
  </div>
</div>
</div><!--Content-->

{% include 'includes/site/footer' %}