{% include 'includes/site/header' %}
  <body class="bg-blue">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>
  
  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}
  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
  
  <div id="content">
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg06.jpg);">
      <div class="row">
               <div class="card trans">
        <div class="nine columns offset-by-three gap-bottom">
          <div class="four columns tablet-two">
            <h2 class="text-xl text-thin pad-m-top-l">Scothleagan Ticket</h2>
            <h3 class="pad-bottom"><span class="text-xl text-medium">€645</span> <span class="text-m sc text-heavy">+VAT</span></h3>
            <p class="text-s text-heavy sc">CONFERENCE ADMISSION</p>
          </div>
		<div class="six columns end tablet-two">
			<div class="row pad-top-xs pad-m-top-l">
			  <div class="twelve columns end">
			   <div class="row pad-bottom">
			     <div class="six columns end">
			       <a href="https://ti.to/ull/2015/with/cwj1opsuzja,tlf3wgmp-cm,o8jmprgf0-8,5nuin35vwic,pvofl0fber4,2wsb2z2mopg" class="button text-s text-heavy sc expand">Select</a>
			     </div>
			   </div>
				<p class="text-r pad-bottom-s">
				The Úll conference ticket. It includes access-everything admission to the conference, which includes the sessions, informal Monday-night dinner, the Úll show, all of the Úll special features on Tuesday, along with lunch, dinner and keynote on Tuesday.
				</p>
			    <p class="text-r pad-bottom-s">
				    Opt in to a room at The Europe or a seat on <a href="/site/blog/the-ull-train-is-a-coming">our train from Dublin</a> at checkout. <a href="/site/logistics">Or check our guide</a> to alternative accommodation and transport options.
				</p>
				
			  </div>
			</div>
		</div>
	</div>
</div>

	  <div class="row pad-bottom">
       <div class="card trans">
		<div class="nine columns offset-by-three gap-bottom">
	      <div class="four columns tablet-two">
	        <h2 class="text-xl text-thin pad-m-top-l">Eagrán Ticket</h2>
				<h3 class="pad-bottom"><span class="text-xl text-medium">€1,999</span> <span class="text-m sc text-heavy">+VAT</span></h3>
				<p class="text-s text-heavy sc">Patronage Programme</p>
	      </div>
		<div class="six columns end tablet-two">
			<div class="row pad-top-xs pad-m-top-l">
			  <div class="twelve columns end ">
        <div class="row pad-bottom ">
           <div class="six columns end">
             <a href="https://ti.to/ull/2015/with/5k7dssxo3ye,tlf3wgmp-cm,o8jmprgf0-8" class="button text-s text-heavy sc expand">Select</a>
           </div>
         </div>
				<p class="text-r pad-bottom">
					Eagrán is a micro-sponsorship, which includes conference admission, a seat on <a href="/site/blog/the-ull-train-is-a-coming">our train from Dublin</a>, 4 nights accommodation and dinner on Sunday and Wednesday. You’ll get every promotional item that we produce, and a special Eagrán-only welcome pack. <a href="/site/partners">See the list of generous supporters</a> on our Partners page.
				</p>
			  </div>
			</div>
		</div>
	</div>
</div>		
		<div class="row">	
		    <div class="nine columns offset-by-three">
					<div class="row">
						<div class="five columns tablet-two">
							<h2 class="text-l text-medium pad-m-top-xl">Significant Other Ticket</h2>
							<h3 class="pad-bottom-s"><span class="text-l text-medium">€249</span> <span class="text-m sc text-heavy">+VAT</span></h3>
							<p class="text-s text-heavy sc">Add at checkout</p>
							<div class="row">
							<div class="ten columns end">
							<p class="text-s text-medium pad-bottom">
							Úll is a welcoming environment for all, so we have a special rate for attendees to bring their SO to the conference. Valid only with a Regular ticket or Eagrán Ticket. Kids come free too! Just add them at the checkout.</p>
							</div>
							</div>
						</div>

<div class="five columns end tablet-two">
<h2 class="text-l text-medium pad-m-top-xl">Student Ticket</h2>
<h3 class="pad-bottom-s"><span class="text-l text-medium">€249</span> <span class="text-m sc text-heavy">+VAT</span></h3>
<p class="text-s text-heavy sc">Get in touch</p>
<div class="row">
<div class="eleven columns end">
<p class="text-s text-medium pad-bottom">
We have a limited number of student tickets available at a specially reduced price of €249 +VAT. Email us at <a href="mailto:feedback@ull.ie">feedback@ull.ie</a> from a registered educational address for a discount&nbsp;code.</p>
</div>
</div>
</div>

 
 </div>
 </div>
              
          </div>
          
        </div>
      </div>
    </div>  

<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-yellow bg-grey" );
$('body').addClass( "bg-blue" );
});
</script>


<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
<a href="https://www.flickr.com/photos/brighton/1413904048/" target="_blank">Lough Leane, Killarney National Park, Kerry Ireland</a> by Jim Linwood, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>.
      </p>
    </div>
  </div>
</div>
</div><!--Content-->

 {% include 'includes/site/footer' %}