{% include 'includes/site/header' %}
  <body class="bg-blue">
  <div class="loadframe"></div>
  <div class="sprinkles"></div>
  
  {% include 'includes/site/menu' %}
  {% include 'includes/site/mobile_menu' %}
  
  <div id="m-menu-link">
    <a href="#" class="no_ajaxy"><h1 class="m-logo">Úll</h1></a>
    <a href="#" class="no_ajaxy m-menu-link-icon no_ul white">&#9776;</a>
  </div>
  
  <div id="content">
    
    <div class="container page-start block-90" style="background-image: url(/images/site/bg06.jpg);">
      <div class="row pad-bottom-s">
        <div class="nine columns offset-by-three">
        
          <div class="six columns tablet-two pad-m-bottom-xl">
            <h2 class="text-xl text-thin">Úll Ticket</h2>
            <h3 class="pad-bottom"><span class="text-xl text-medium">€645</span> <span class="text-m sc text-heavy">+VAT</span></h3>
              <div class="card trans">
              <p class="text-s text-heavy sc pad-m-top">CONFERENCE ADMISSION</p>
              <div class="row">
                <div class="nine columns end">
             		 <p class="text-s text-medium pad-bottom">Make your own accommodation arrangements, or add rooms at €250 per night at checkout.</p>
                </div>
              </div>
              <div class="row pad-bottom">
                <div class="six columns end">
                  <a href="https://ti.to/ull/2015/with/cwj1opsuzja,tlf3wgmp-cm,o8jmprgf0-8,5nuin35vwic" class="button text-s text-heavy sc expand">Select</a>
                </div>
              </div>
              <div class="row">
                <div class="nine columns end">
                  <p class="text-s">
                  This is the Úll ticket you know and love. It includes access-everything admission to the conference, which includes the sessions, informal Monday-night dinner, the Úll show, all of the Úll special features on Tuesday, along with lunch, dinner and keynote on Tuesday.
                  </p>
                  <p class="text-s pad-top-s">We have a limited number of student tickets available at a specially reduced price of €249 +VAT. Email us at <a href="mailto:feedback@ull.ie">feedback@ull.ie</a> from a registered educational address for a discount&nbsp;code.</p>
                </div>
              </div>
              </div>
            </div>

          <div class="six columns tablet-two pad-bottom">
            <h2 class="text-xl text-thin">Úll Eagrán Ticket</h2>
            <h3 class="pad-bottom"><span class="text-xl text-medium">€1,999</span> <span class="text-m sc text-heavy">+VAT</span></h3>
            
              <div class="card trans">
              <p class="text-s text-heavy sc pad-m-top">PATRONAGE PROGRAMME</p>
              <div class="row">
                <div class="nine columns end">
              <p class="text-s text-medium pad-bottom">Eagrán is the ticket for Úll superfans, including 4 nights accommodation at the Europe.</p>
                </div>
              </div>
              <div class="row pad-bottom">
                <div class="six columns end">
                  <a href="https://ti.to/ull/2015/with/5k7dssxo3ye,tlf3wgmp-cm,o8jmprgf0-8" class="button text-s text-heavy sc expand">Select</a>
                </div>
              </div>
              <div class="row pad-m-bottom">
                <div class="nine columns end">
                  <p class="text-s">
    This year, we’re introducing EAGRÁN, our patronage programme. This ticket includes conference admission, transport from Dublin, 4 nights accommodation and dinner on Sunday and Wednesday. You’ll get every promotional item that we produce, and a special Eagrán-only welcome pack. If that wasn’t already enough, we’ll list your name, or a product or service of your choice, <a href="/site/partners">on our partners page</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

<script type="text/javascript">
$(function(){
$('body').removeClass( "bg-red bg-yellow bg-grey" );
$('body').addClass( "bg-blue" );
});
</script>


<div class="container pad-top-l">
  <div class="row">
    <div class="two columns offset-by-three">
      <p class="text-s text-medium sc">Image Credits</p>
    </div>
    <div class="six columns end">
      <p class="text-s text-medium">
<a href="https://www.flickr.com/photos/brighton/1413904048/" target="_blank">Lough Leane, Killarney National Park, Kerry Ireland</a> by Jim Linwood, edited under the <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">Creative Commons Attribution 2.0 Generic License</a>.
      </p>
    </div>
  </div>
</div>
</div><!--Content-->

 {% include 'includes/site/footer' %}