/* @override 
  http://localhost:4567/teaser/style.css */

html {overflow-y: scroll;}
body {
  font-family: museo-sans,sans-serif;
  font-style: normal;
  background: url("/teaser/images/cream_pattern.png");  
  padding: 0;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  width: 350px;  
  
}

#logo {
  display: block;
  margin: -40px auto -34px auto;
  width: 70px;
}

#topline {
  border: none;
  height: 30px;
  background: url("/teaser/images/bgnoise_dark.jpg");
  margin: 60px 0 0 0;
  
}

#bottomline {
  border: none;
  height: 10px;
  background: url("/teaser/images/bgnoise_dark.jpg");
  
}

.copy {
  
  width: 300px;
  padding: 0 25px 20px 25px;
  margin: -4px 0 0 0px;
  float: left; 
}

#bg {
  background-color: #E7E6DD;
  width: 100%;
  height: 100%;
}

p {
  font-weight: 500;
  line-height: 1.5em;
  font-size: .9em;
  float: left;
  color: #700B18;
  font-family: rooney-web,sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 0px 15px 0px 15px;
  text-align: left;
  letter-spacing: 0em;
  margin-bottom: -0.1em;
}

.first {
  border-top: 1px solid #C6C4BD;
  padding-top: 25px;
}

.last {
  border-bottom: 1px solid #C6C4BD;
  padding-bottom: 25px;
}
.last cite {
  display: block;
  float: right;
}

p.date {
  margin: 50px 0 0 0;
  border-bottom: 0;
  border-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  font-style: normal;
  width: 275px;
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 20px 0;
  margin-top: 20px;
  float: left;
  color: #900;  
  text-align: center;
  line-height: 1.1em;
}



.button {
  padding: 5px 5px;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  margin: 10px 0 5px 78px;
  text-decoration: none;
  text-align: center;
  width: 126px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
}

#submit-button {
  
  background: #BF132A;
  border:  none;
  border-left: 3px #E7E6DD solid;
  border-radius: 0px 4px 4px 0px;
  color: #FFFDF5;
  padding: 6px 5px;
  font-size: .8em;
  text-transform: uppercase;
  margin: 8px 2px 0 0;
  float: left;
  width: 25%;
  font-weight: 700;
  font-family: rooney-web,sans-serif;
  
  
  
}

#email {
  background: #aaa;
  border: none;
  padding: 5px 5px 5px 8px;
  font-size: 1em;
  border-radius: 4px 0px 0px 4px;
  margin: 8px 0 0 0;
  float: left;
  width: 70%;
  color: #fff;
}

#interest {
  background: #E7E6DD;
  font-size: .9em;
  margin: -14px 0 10px 47px;
  float: left;
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: rooney-web,sans-serif;
  color: #700B18;
  
  
}

.button:hover {
  background-color: #BF132A;
}

sup { 
  font-size: 0.5em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #84231C;
}

p a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #5B4E4D;
}

#easterEgg {
  padding: 40px 20px 20px 80px;
  margin: 0px 0 0px 0;
  
}

.hide {
  display: none;
  
}

#htLink {
  font-size: .7em;
  color: #fff;
  background-color: #BF132A;
  padding: 4px 5px;
  border-radius: 2px;
  margin: 0 0 0 70px;
  
}

@media all and (max-width: 480px) {


  #wrapper {
    margin: 0 auto;
    width: 300px;  

  }
  
  .copy {
    width: 250px;
  }

  p.date {
    width: 220px;
  }

  #easterEgg {
    padding: 25px 19px 0 50px;
    width: 230px;
    

  }
  .button {
    width: 126px;
    margin: 10px 0 5px 57px;
  }
  
  #email {
    width: 69%;
  }
  
  #interest {
    margin: -31px 0 15px 27px;
  }
  
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#logo {
  
}