{% if slug == 'blog' %}
  <a href="/blog" class="logo-year-wrap">
    <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="logo">
    <p class="site-section-title"><span>Blog</span></p>
    <!-- {% include 'includes/links' %} -->
  </a>
  
  <img src="/images/blog-footer.png" alt="" class="blog-image">

  <div class="site-content">
    
      {% for post in posts limit:20 %}
      <article class="post text">
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
        <p class="post-details">{{post.date | date: "%b %d, %Y"}} by {{post.author.fullname}}</p>
        {{post.body}}
      </article>
      {% endfor %}
      
  </div>
  <footer class="site-footer blog-footer">
    <a href="/" class="site-link footer">Visit Main Site</a>
  </footer>
{% endif %}

{% if type == 'post' %}
  <a href="/blog" class="logo-year-wrap">
    <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="logo">
    <p class="site-section-title"><span>Blog</span></p>
    <!-- {% include 'includes/links' %} -->
  </a>
  <div class="site-content">
    <article class="post text single">
      <h2><a href="{{post.url}}">{{title}}</a></h2>
      <p class="post-details">{{date | date: "%b %d, %Y"}} by {{author.fullname}}</p>
      {{body}}
    </article>
  </div>
  <footer class="site-footer blog-footer">
    <img src="/images/blog-footer-bar.png" alt="" class="blog-post-image">
    <a href="/" class="site-link footer">Visit Main Site</a>

<!--       <li><a href="{{ current.previous.url }}" class="site-link previous blog">Prev</a></li>
      <li><a href="{{ current.next.url }}" class="site-link next blog">Next</a>
    </li> -->
      
    </ul>
  </footer>
  
{% endif %}