<header>
  <div class="logo-date-wrap">
    <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="site-logo">
    <div class="date-location-wrap">
      <p class="byline">A conference about building great products</p>
      <p>28th – 30th April 2014</p>
      <p>Kilkenny, Ireland</p>
    </div>
  </div>
  <img src="/images/ull-homepage-small.png" alt="" class="intro-image-small">
  <nav class="site-nav">
    <a href="#speakers" class="nav-link">Speakers</a>
    <a href="#setting" class="nav-link">Venue</a>
    <a href="http://2014.ull.ie/blog" class="nav-link">Blog</a>
    <a href="#schedule" class="nav-link">Schedule</a>
  </nav>

</header>
<img src="/images/ull-homepage.png" alt="" class="intro-image">
<div class="intro-wrap">
  <section class="intro">
    <div class="title-col">
      <h2 class="intro-offset">The conference. Reinvented.</h2>
      <p>
        Úll is a conference where people truly come first. We focus deeply on the attendee experience. We bring together talks, interviews, feature presentations, podcasts and lots of social time. 
      </p>

      <p>
        Our attendees go away having made new friends, potential partners, useful connections, knowledgeable confidantes. We care about building strong, valuable relationships.
      </p>

    </div>
    <div class="further-col">
      <script id="ticket-template" type="text/html">
        <li class="ull-ticket">
          <p class="ull-ticket-title">%{= it.title %}</p>
          %{? it.status == 'locked' %}
            <p class="ull-ticket-locked">Locked</p>
          %{?? it.status == 'upcoming' %}
            <p class="ull-ticket-locked">on sale %{= it.start_at_formatted %}</p>
          %{?? %}
            <p class="ull-ticket-price">%{= it.price_inc_tax %} inc VAT</p>
            <p class="ull-ticket-description">%{= it.description %}</p>
            <input class="ull-quantity" type="text" name="allocation[release_ids][%{= it.slug %}]" placeholder="0">
          %{? %}
        </li>
      </script>

      <div id='register-form'>
        <form action="https://ti.to/ull/2014/allocations" method="POST">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <ul class="ull-tickets" id="ull-tickets">
          </ul>
          <button type="submit" id="purchase-button" class="ticket-form-submit">
            Purchase
          </button>
        </form>
      </div>
      <!-- 
      <div class="off-sale">
        <h2>Our latest batch sold out!</h2>
        <p>If you would like to buy a ticket to Úll 2014, your final opportunity will be the <strong>18th of March</strong>. Mark your calendars.</p>
      </div>
      -->
    </div>
  </section>
</div>
<a name="speakers" class="section-jump">Hello</a>
<section class="speakers">
  <div class="title-col">
    <h2>The Speakers</h2>
    <p>Hand-picked to get the conversations started.</p>
  </div>
  <div class="further-col">
    <div class="speaker-row">
      <div class="speaker dave-wiskus">
        <div class="speaker-image"><span class="speaker-initials">DW</span></div>
        <h3 class="speaker-name">Dave Wiskus</h3>
        <p class="speaker-role">Designer at QBranch</p>
        <p class="speaker-abstract">
          Dave Wiskus is the designer behind <a href="http://vesperapp.co/">Vesper</a> and the voice behind <a href="http://unprofesh.com/">Unprofessional</a>. Continuing a theme, Dave was one of the last to speak last year, so he’ll be first this time.
        </p>
      </div>

      <div class="speaker amanda-rosler">
        <div class="speaker-image"><span class="speaker-initials">AR</span></div>
        <h3 class="speaker-name">Amanda Rösler</h3>
        <p class="speaker-role">Developer at TocaBoca</p>
        <p class="speaker-abstract">
          As a company, TocaBoca are redefining the lines between apps and toys, between learning and enjoyment. In that context, Amanda will share her insights into building apps for kids.
        </p>
      </div>

      <div class="speaker lisa-maree-domican">
        <div class="speaker-image"><span class="speaker-initials">LD</span></div>
        <h3 class="speaker-name">Lisa Maree Domican</h3>
        <p class="speaker-role">Creator of <a href="http://www.graceapp.com/">Grace App</a></p>
        <p class="speaker-abstract">After Charles Perry’s sensational talk last year on application accessibility, we’re looking forward to Lisa’s thoughts on helping people with special needs through applications.</p>
      </div>

      <div class="speaker ben-de-cock">
        <div class="speaker-image"><span class="speaker-initials">BdC</span></div>
        <h3 class="speaker-name">Ben de Cock</h3>
        <p class="speaker-role">Designer at <a href="http://www.stripe.com">Stripe</a></p>
        <p class="speaker-abstract">We’re always eager to hear from world-class designers at Úll, and selfishly, even more so when they hail from Europe. Ben’s work on <a href="http://www.stripe.com/checkout">Stripe</a> is the epitome of harmonious form and function.</p>
      </div>
    </div>
  </div>
</section>

<section class="speakers">
  <div class="title-col">
    <h2>The Show</h2>
    <p>An evening of interviews, music and entertainment, hosted by Jason Snell and Guy English.</p>
  </div>
  <div class="further-col">
    <div class="speaker-row">
      <div class="speaker jason-snell">
        <div class="speaker-image"><span class="speaker-initials">JS</span></div>
        <h3 class="speaker-name">Jason Snell</h3>
        <p class="speaker-role">Editor in Chief of Macworld</p>
        <p class="speaker-abstract">A man who needs no introduction, Jason heads up Macworld magazine, and is a blogging and podcasting tour-de-force.</p>
      </div>

      <div class="speaker guy-english">
        <div class="speaker-image"><span class="speaker-initials">GE</span></div>
        <h3 class="speaker-name">Guy English</h3>
        <p class="speaker-role">Organiser of Çingleton</p>
        <p class="speaker-abstract">Another frequent blogger and podcaster, Guy is also a co-host of the Cingleton Symposium, a theme-driven conference in Montreal.</p>
      </div>
    </div>
  </div>
</section>

<section class="speakers">
  <div class="title-col">
    <h2>The Feature Presentations</h2>
    <p>
      Self-contained sessions that run in parallel that are more than just talks and take full advantage of the amazing space that is Lyrath.
    </p>
  </div>
  <div class="further-col">
    <div class="speaker michael-lopp">
      <div class="speaker-image"><span class="speaker-initials">ML</span></div>
      <h3 class="speaker-name">Michael Lopp</h3>
      <p class="speaker-role">Rands in Repose</p>
      <p class="speaker-abstract">Michael is the backbone against which Úll is propped. He’s also rather fond of Instagram. Watch this space.</p>
    </div>

    <div class="speaker jean-macdonald">
      <div class="speaker-image"><span class="speaker-initials">JM</span></div>
      <h3 class="speaker-name">Jean MacDonald</h3>
      <p class="speaker-role">Founder of App Camp for Girls</p>
      <p class="speaker-abstract">Jean has recently left her post at Smile to teach girls about software full-time. She will draw on that experience for a presentation on building apps from a teaching perspective.</p>
    </div>

    <div class="speaker linda-franco">
      <div class="speaker-image"><span class="speaker-initials">LF</span></div>
      <h3 class="speaker-name">Linda Franco</h3>
      <p class="speaker-role">Co-Founder of Machina</p>
      <p class="speaker-abstract">Doing crazy stuff with clothing and technology, with healthy doses of free-software, DIY, politics and (h)activisim.</p>
    </div>

    <div class="speaker jennifer-brook">
      <div class="speaker-image"><span class="speaker-initials">JB</span></div>
      <h3 class="speaker-name">Jennifer Brook</h3>
      <p class="speaker-role">Independent Researcher and Designer</p>
      <p class="speaker-abstract">Jennifer loves books more than anything, and she uses that love to drive decisions in UX design and experience.</p>
    </div>

    <div class="speaker jim-dalrymple">
      <div class="speaker-image"><span class="speaker-initials">JD</span></div>
      <h3 class="speaker-name">Jim Dalrymple</h3>
      <p class="speaker-role">Founder of The Loop Insight</p>
      <p class="speaker-abstract">Most recently seen cavorting <a href="https://twitter.com/jdalrymple/status/444186267673063424">with Soundgarden</a>, Jim is equal parts terrifying and loveable. It’s his amazing voice and passion for music that will inform his feature presentation.</p>
    </div>

  </div>
</section>

<section class="speakers">
  <div class="title-col">
    <h2>The Dinner</h2>
    <p>A three course meal preceded by John Gruber’s inimitable keynote.</p>
  </div>
  <div class="further-col">
    <div class="speaker-row">
      <div class="speaker john-gruber">
        <div class="speaker-image"><span class="speaker-initials">JG</span></div>
        <h3 class="speaker-name">John Gruber</h3>
        <p class="speaker-role">Founder of Daring Fireball</p>
        <p class="speaker-abstract">John continues to be one of the most expressive, clear thinkers in the tech blogging world. He commands a huge audience of loyal readers, and he’s still killing it after more than 10 years. His Úll keynotes have been mesmerising and delightful for the past two years, and it’s a dream come true that he’ll join us for the hat-trick.</p>
      </div>
    </div>
  </div>
</section>

<img src="/images/blog-footer-bar.png" alt="" class="bar-image">
<a name="setting" class="section-jump">Hello</a>
<section class="setting">
  <div class="title-col">
    <h2 class="intro-offset">The Setting</h2>
    <p>
      Úll 2014 takes place in <a href="http://www.lyrath.com">Lyrath Estate</a>, Co. Kilkenny, Ireland. Lyrath is a five star hotel built around the shell of an old Victorian country manor. It features a convention centre, a spa, two restaurants, a café, an expansive foyer, an old house, a games room, a wine bar and, oh,  170 acres of parkland.
    </p>

    <p>
      Just as in the past we said that Dublin is the ultimate conference city, Lyrath is the ultimate conference venue, and it will be the home of Úll for 3 days.
    </p>

  </div>
  <div class="further-col">
    <img src="/images/ull-2014.gif" alt="">
  </div>
</section>

<a name="schedule" class="section-jump">Hello</a>
<section class="schedule-wrap">
  <div class="title-col">
    <h2>The Schedule</h2>
    <p>This year’s schedule is designed around exploring everything that Lyrath has to offer. Talks and interviews happen on the first day to ease you in to the huge space. The second day is all about exploring and choosing your own path. The final day, as ever, is for hanging out.</p>
  </div>
    <div class="schedule">
      <div class="days">
        <div class="day">
          <h3>Talks</h3>
          <p>Monday April 28th</p>
        </div>

        <div class="day">
          <h3>Features</h3>
          <p>Tuesday April 29th</p>
        </div>

        <div class="day">
          <h3>Podcasts</h3>
          <p>Wednesday April 30th</p>
        </div>
      </div>

      <div class="day mobile">
        <h3>Talks</h3>
        <p>Monday April 28th</p>
      </div>
      <ul class="time-container monday">
        <!-- <li class="time-block t-0 d-4 break"></li> -->
        <li class="time-block t-4 d-4">
          <p class="activity-name">Registration</p> 
          <p class="activity-time">12pm – 2pm</p>
        </li>
        <li class="time-block t-8 d-1 break"></li>
        <li class="time-block t-9 d-5">
          <p class="activity-name">Keynote Sessions</p>
          <p class="activity-time">2:30pm – 5pm</p>
        </li>
        <li class="time-block t-14 d-4 break">
          <p class="activity-name">Chillout</p> 
          <p class="activity-time">5pm – 7pm</p>
        </li>
        <li class="time-block t-18 d-4">
          <p class="activity-name">Dinner </p>
          <p class="activity-time">7pm – 9pm</p>
          </li>
        <li class="time-block t-22 d-4">
          <p class="activity-name">The Úll Show</p>
          <p class="activity-time">9pm – 11pm</p>
        </li>
      </ul>

      <div class="day mobile">
        <h3>Features</h3>
        <p>Tuesday April 29th</p>
      </div>

      <ul class="time-container tuesday">
        <li class="time-block t-0 d-14">
          <p class="activity-name">Feature Sessions</p>
          <p class="activity-time">10am – 5pm</p>
        </li>
        <li class="time-block t-14 d-4 break">
          <p class="activity-name">Chillout</p> 
          <p class="activity-time">5pm – 7pm</p>
        </li>
        <li class="time-block t-18 d-2">
          <p class="activity-name">Grubernote</p>
          <p class="activity-time">7pm – 8pm</p>
        </li>
        <li class="time-block t-20 d-6">
          <p class="activity-name">Dinner</p>
          <p class="activity-time">8pm – 11pm</p>
        </li>
      </ul>

      <div class="day mobile">
        <h3>Social</h3>
        <p>Wednesday April 30th</p>
      </div>

      <ul class="time-container wednesday">
        <li class="time-block t-4 d-3">
          <p class="activity-name">Checkout</p>
          <p class="activity-time">12pm – 1:30pm</p>
        </li>
        <li class="time-block t-7 d-6">
          <p class="activity-name">BBQ</p>
          <p class="activity-time">1:30pm – 4pm</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="title-col">
    <h2>The Mailing List</h2>
    <p>If you'd like to keep up to date with Úll, just give your details to our volunteer and he'll pass them along to us.</p>
  </div>
  <div class="further-col">
    <form class="register-interest-form">
      <input id="register-name"
             type="text"
             placeholder="Name"
             class="register-name"
             autocomplete="off">
      <input id="register-email"
             type="text"
             placeholder="Email"
             class="register-email"
             autocomplete="off"
             autocapitalize="off">
      <button type="submit"
              class="register-button">Submit</button>
    </form>
    <img src="/images/dude/01-dude.gif" alt="Volunteer with iPad" class="volunteer-image">
  </div>
</section>

<section class="sponsors">
  <div class="title-col">
    <h2>The Sponsors</h2>
    <p>Thank you to all of our wonderful sponsors for this year's event.</p>
  </div>
  <div class="further-col">
    <a href="http://wordpress.com/" class="sponsor-logo wordpress"><img src="/images/sponsors/wordpress.svg" alt="Wordpress Logo"></a>
    <a href="http://newrelic.com/" class="sponsor-logo new-relic"><img src="/images/sponsors/new-relic.svg" alt="New Relic Logo"></a>
    <a href="http://squarespace.com" class="sponsor-logo squarespace"><img src="/images/sponsors/squarespace.svg" alt="Squarespace Logo"></a>
    <a href="http://microsoft.com" class="sponsor-logo microsoft"><img src="/images/sponsors/microsoft.svg" alt="Microsoft Logo"></a>
  </div>
</section>

<section class="links">
  <div class="title-col">
    <h2>The Links</h2>
    <p>If you should need to get in contact with us about sponsorship or just general feedback, please email to the listed addresses.</p>
  </div>
  <div class="further-col">
  <ul>
    <li><a href="http://2014.ull.ie/rules">Code of Conduct</a></li>
    <li><a href="http://twitter.com/ullconf">@ullconf</a></li>
    <li><a href="mailto:sponsors@ull.ie">Sponsorship enquiries</a></li>
    <li><a href="mailto:feedback@ull.ie">General Feedback</a></li>
    
    <li><a href="http://2013.ull.ie">2013 Site</a></li>
    <li><a href="http://2012.ull.ie">2012 Site</a></li>
  </ul>
  </div>
</section>


<footer>
 <div class="organiser-wrap">
   <p>Presented by Tapadoo and Tito</p>
   <a href="http://twitter.com/dermdaly" class="organiser dermdaly">Dermot Daly</a>
   <a href="http://twitter.com/paulca" class="organiser paulca">Paul Campbell</a>
   <a href="http://twitter.com/sashaw" class="organiser sashaw">Sasha Wilson</a>
   <a href="http://twitter.com/kilmc" class="organiser kilmc">Kilian McMahon</a>
 </div>
</footer>