<div class="logo-year-wrap">
  <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="logo">
  <p class="date-location">
    {{site.meta['date']}}<br>
    {{site.meta['location']}}
  </p>
  <!-- {% include 'includes/links' %} -->
</div>

<img src="/images/blog-footer-podcast.png" alt="" class="blog-image">

<section class="site-content text">
  <h2>Speakers</h2>
  <p>
    Here is our list of speakers. Some of them will be giving talks but others will be doing features which we explain in more detail in this blog post. Look at their lovely faces.
  </p>

  <ul class="speakers-list">
    <li class="speaker">
      <div class="speaker-image">
        <img src="/images/speaker-kilian.png" alt="">
      </div>
      <h3 class="speaker-name">Kilian McMahon</h3>
      </p>
    </li>

    <li class="speaker">
      <div class="speaker-image">
        <img src="/images/speaker-kilian.png" alt="">
      </div>
      <h3 class="speaker-name">Jim Dalrymple</h3>
    </li>

    <li class="speaker">
      <div class="speaker-image">
        <img src="/images/speaker-kilian.png" alt="">
      </div>
      <h3 class="speaker-name">Matt Gemmell</h3>
    </li>

    <li class="speaker">
      <div class="speaker-image">
        <img src="/images/speaker-kilian.png" alt="">
      </div>
      <h3 class="speaker-name">Jennifer Brook</h3>
    </li>
  </ul>
</section>