<div class="logo-year-wrap">
  <img src="/images/ull-logo.svg" onerror="this.src=/images/ull-logo.png" alt="Úll Logo" class="logo">
  <p class="date-location">
    {{site.meta['date']}}<br>
    {{site.meta['location']}}
  </p>
  <!-- {% include 'includes/links' %} -->
</div>

<section class="intro-wrap">
  <img src="/images/ull-2014.gif" alt="Teaser Image" class="main-image">
  <nav class="site-links">
    <a href="/blog" class="site-link home">Blog</a>
    <a href="http://ti.to/ull/2014" class="site-link home">Tickets</a>
  </nav>
  <div class="introduction text">
    {{ meta['intro'] | markdown }}
  </div>
</section>

<section class="tickets-wrap">
  <img src="/images/tickets-accommodation-mail.png" alt="An illustration of a ticket, a keycard and an envelope" class="things-fan">
  <div class="text">
    {{ meta['tickets'] | markdown }}
  </div>
  
  <div class="off-sale text">
    <h2>Our latest batch sold out!</h2>
    <p>If you would like to buy a ticket to Úll 2014, your final opportunity will be the <strong>18th of March</strong>. Mark your calendars.</p>
  </div>
</section>

<section class="register-interest-wrap text">
  <div class="text">
    {{ meta['register-interest'] | markdown }}
  </div>
  
  <form class="register-interest-form">
    <input id="register-name"
           type="text"
           placeholder="Name"
           class="register-name"
           autocomplete="off">
    <input id="register-email"
           type="text"
           placeholder="Email"
           class="register-email"
           autocomplete="off"
           autocapitalize="off">
    <button type="submit"
            class="register-button">Submit</button>
  </form>
  <img src="/images/dude/01-dude.gif" alt="Volunteer with iPad" class="volunteer-image">
</section>

<footer class="site-footer">
  <div class="text">
    {{ site.meta['footer'] | markdown }}
  </div>
</footer>