* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Variables
================================ */
/* Mixins
================================ */
/* Base
================================ */
body {
  background: white;
  color: #ec5d60;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 1.5rem; }

a, a:link, a:visited {
  font-weight: 500;
  text-decoration: none; }

/* Text
================================ */
.text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }
  @media only screen and (min-width: 480px) {
    .text p {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-bottom: 2rem; } }
.text h2 {
  font-size: 1.5em;
  font-weight: 500; }
  @media only screen and (min-width: 480px) {
    .text h2 {
      font-size: 1.8em;
      line-height: 2.2rem; } }
.text hr {
  background: #ec5d60;
  border: none;
  height: 2px;
  width: 40px;
  margin: 0 0 1.5rem 0; }
  @media only screen and (min-width: 480px) {
    .text hr {
      margin: 0 0 2rem 0; } }
.text a, .text a:link, .text a:visited {
  color: #ec5d60;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #fff; }
  .text a:hover, .text a:link:hover, .text a:visited:hover {
    border-bottom: 2px solid rgba(236, 93, 96, 0.3); }

/* Main Site
================================ */
.top {
  padding: 0.5rem 0;
  background: #fac637;
  display: none; }

.site-header {
  background: #fff;
  *zoom: 1; }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }

.logo {
  margin: 4rem auto 2rem;
  width: 6rem;
  display: block; }

.site-content {
  padding: 0 1rem;
  margin: 6rem auto 0; }
  @media only screen and (min-width: 480px) {
    .site-content {
      max-width: 42rem; } }

.site-footer {
  margin: 8rem auto 0;
  padding: 0 1rem; }
  @media only screen and (min-width: 480px) {
    .site-footer {
      padding: 0 4rem;
      margin: 0rem auto 10rem; } }
  @media only screen and (min-width: 850px) {
    .site-footer {
      max-width: 60rem;
      width: 80%;
      padding: 0;
      margin-bottom: 0rem; } }

.date-location {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6rem; }
  @media only screen and (min-width: 850px) {
    .date-location {
      font-size: 1.3rem;
      line-height: 1.6rem; } }
  .date-location sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 0.8em; }

.logo-wrap {
  margin: 0 auto;
  width: 25rem;
  position: relative; }

.blog-links {
  width: 30rem;
  margin: 0 auto;
  *zoom: 1; }
  .blog-links:before, .blog-links:after {
    content: " ";
    display: table; }
  .blog-links:after {
    clear: both; }
  .blog-links li {
    width: 33%;
    float: left;
    text-align: center;
    position: relative; }

.blog-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  padding-left: 0.4rem; }

.post-footer {
  font-size: 1.1rem; }

.main-image {
  width: 70%;
  margin: 5rem auto 0;
  display: block; }

/* Blog Posts
================================ */
.post {
  margin-bottom: 1.5rem;
  padding: 0.75rem 0; }
  .post:not(:first-of-type) {
    border-top: 2px rgba(236, 93, 96, 0.4) dotted; }

.post-footer {
  text-transform: uppercase;
  font-size: 1.1rem !important; }

.footer-cta {
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem auto 0;
  line-height: 1.6rem; }
  @media only screen and (min-width: 480px) {
    .footer-cta {
      font-size: 1.6rem;
      width: 22rem; } }
  @media only screen and (min-width: 850px) {
    .footer-cta {
      font-size: 2rem;
      line-height: 2.2rem;
      width: 30rem; } }

.purchase-tickets-btn {
  width: 10rem;
  background: #4fb3e0;
  color: #fff;
  padding: 1rem;
  margin: 3rem auto;
  display: block;
  text-align: center;
  border-radius: 4px; }

/* Register Interest
================================ */
::-webkit-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

::-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-ms-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }
