* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Variables
================================ */
/* Mixins
================================ */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  background: white;
  color: #ec5d60;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 2rem; }
  @media only screen and (min-width: 960px) {
    body {
      font-size: 1.8rem;
      line-height: 2.5rem; } }

a {
  color: #ec5d60;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(236, 93, 96, 0.2); }
  a:hover {
    border-bottom: 1px solid #ec5d60; }

section {
  width: 90%;
  margin: 4rem auto; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 700px) {
    section {
      width: 56rem; } }
  @media only screen and (min-width: 1100px) {
    section {
      width: 100rem;
      margin: 8rem auto; } }

@media only screen and (min-width: 1100px) {
  .title-col,
  .further-col {
    float: left; } }

.title-col {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 960px) {
    .title-col {
      width: 56rem;
      margin: 0 auto 8rem; } }
  @media only screen and (min-width: 1100px) {
    .title-col {
      width: 38rem; } }
  .title-col h2 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
    line-height: 3rem; }
    @media only screen and (min-width: 960px) {
      .title-col h2 {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 2rem; } }
  .title-col p {
    margin-bottom: 2rem; }

@media only screen and (min-width: 700px) {
  .further-col {
    width: 56rem;
    margin: 0 auto; } }
@media only screen and (min-width: 1100px) {
  .further-col {
    margin-left: 6rem; } }

header {
  max-width: 84rem; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 700px) {
    header {
      width: 80%;
      margin: 4rem auto 0; } }

.site-logo {
  width: 10rem;
  margin: 4rem auto 4rem;
  display: block; }

.date-location-wrap p {
  text-align: center; }

.site-nav {
  margin: 4rem auto; }
  @media only screen and (min-width: 700px) {
    .site-nav {
      width: 100%;
      float: left; }
      .site-nav:after {
        content: "";
        display: table;
        clear: both; } }
  @media only screen and (min-width: 960px) {
    .site-nav {
      margin: -20.5rem auto 0; } }

.byline {
  width: 20rem;
  margin: 4rem auto 2rem; }
  @media only screen and (min-width: 700px) {
    .byline {
      width: 100%; } }

.nav-link {
  text-decoration: none;
  border: 1px solid #ec5d60;
  color: #ec5d60;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 60%;
  display: block;
  text-align: center;
  margin: 0 auto 1rem; }
  .nav-link:hover {
    background: #ec5d60;
    color: #fff; }
  @media only screen and (min-width: 960px) {
    .nav-link {
      float: left;
      margin-right: 3rem;
      width: 12rem; }
      .nav-link:nth-last-of-type(-n+2) {
        float: right; }
      .nav-link:nth-last-of-type(2) {
        margin-right: 0; } }

.bar-image {
  width: 90%;
  margin: 0 auto;
  display: block;
  max-width: 100rem; }
  @media only screen and (min-width: 700px) {
    .bar-image {
      margin: 10rem auto;
      width: 60%; } }
  @media only screen and (min-width: 1100px) {
    .bar-image {
      margin: 15rem auto;
      width: 100rem; } }

.intro-image {
  display: none;
  max-width: 110rem; }
  @media only screen and (min-width: 960px) {
    .intro-image {
      display: block;
      width: 85%;
      margin: 10rem auto 14rem; } }

.intro-image-small {
  display: block;
  width: 95%;
  margin: 4rem auto 4rem; }
  @media only screen and (min-width: 960px) {
    .intro-image-small {
      display: none; } }

.intro-wrap {
  width: 100%;
  color: #fff;
  background: #4fb3e0;
  padding: 4rem 0; }
  @media only screen and (min-width: 1100px) {
    .intro-wrap {
      margin: 10rem auto; } }

.intro {
  margin-top: 0; }
  .intro .title-col {
    margin-bottom: 0; }
  @media only screen and (min-width: 1100px) {
    .intro {
      margin: 4rem auto; } }

#register-form {
  margin-top: 1rem; }
  #register-form:after {
    content: "";
    display: table;
    clear: both; }

.ull-ticket {
  border-bottom: 2px dotted white;
  position: relative;
  padding-bottom: 1.33333rem;
  margin-bottom: 1.33333rem; }
  .ull-ticket:after {
    content: "";
    display: table;
    clear: both; }
  .ull-ticket:first-of-type {
    border-top: 2px dotted white;
    padding-top: 1.33333rem; }
    .ull-ticket:first-of-type .ull-quantity {
      margin-top: 1.33333rem; }

.ull-ticket-title {
  font-weight: 700;
  float: left;
  margin-right: 1rem; }

.ull-ticket-price {
  line-height: 2.3rem;
  position: relative; }

.ull-ticket-description {
  float: left;
  margin-top: 0.5rem;
  width: 80%;
  clear: both; }

.ull-ticket-locked {
  font-size: 1.8rem; }

.ull-quantity {
  margin-top: 0rem;
  font-size: 1.8rem;
  width: 4.9rem;
  height: 4.9rem;
  padding: 0.2rem;
  border-radius: 4px;
  text-align: center;
  color: #4fb3e0;
  -webkit-appearance: none;
  border: 1px;
  position: absolute;
  top: 0;
  right: 0; }
  .ull-quantity::-webkit-input-placeholder {
    color: #4fb3e0; }
  .ull-quantity:-moz-placeholder {
    color: #4fb3e0; }
  .ull-quantity::-moz-placeholder {
    color: #4fb3e0; }
  .ull-quantity:-ms-input-placeholder {
    color: #4fb3e0; }
  .ull-quantity:focus {
    outline: none; }

.ticket-form-submit {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  float: right;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  display: block;
  text-align: center;
  margin-top: 2rem; }
  .ticket-form-submit:hover {
    background: #fff;
    color: #4fb3e0; }

.ull-ticket-price-vat {
  position: absolute;
  top: 2.5rem;
  text-align: right;
  right: 0;
  width: 10rem;
  font-size: 1.8rem;
  color: #ec5d60;
  width: 4rem; }
  @media only screen and (min-width: 700px) {
    .ull-ticket-price-vat {
      width: 10rem; } }

.speakers {
  margin: 4rem auto; }
  .speakers:first-of-type {
    margin-top: 4rem; }
  @media only screen and (min-width: 700px) {
    .speakers {
      margin: 8rem auto; } }

.speaker {
  position: relative;
  padding: 1rem 0 0 0;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 700px) {
    .speaker {
      padding: 0.5rem 0 0 9rem; } }
  @media only screen and (min-width: 960px) {
    .speaker {
      padding: 0rem 0 0 12rem;
      margin-bottom: 8rem; } }

.speaker-image {
  background: #eee;
  border-radius: 50%;
  margin-bottom: 1rem;
  height: 4em;
  width: 4em; }
  @media only screen and (min-width: 960px) {
    .speaker-image {
      left: 0;
      top: 0;
      position: absolute;
      height: 10rem;
      width: 10rem; } }

.speaker-initials {
  line-height: 6.2rem;
  display: block;
  text-align: center;
  font-size: 2.4rem;
  color: #999;
  padding-top: 0.2rem; }
  @media only screen and (min-width: 960px) {
    .speaker-initials {
      line-height: 10rem;
      font-size: 3rem; } }

.speaker-name {
  font-weight: 600;
  margin-right: 1rem; }
  @media only screen and (min-width: 700px) {
    .speaker-name {
      padding-left: 0; } }

.speaker-abstract {
  margin-top: 2rem; }
  @media only screen and (min-width: 700px) {
    .speaker-abstract {
      margin-top: 2rem; } }

.amanda-rosler .speaker-initials,
.jason-snell .speaker-initials,
.michael-lopp .speaker-initials,
.linda-franco .speaker-initials,
.jim-dalrymple .speaker-initials,
.jennifer-brook .speaker-initials,
.jean-macdonald .speaker-initials,
.john-gruber .speaker-initials,
.dave-wiskus .speaker-initials,
.lisa-maree-domican .speaker-initials,
.guy-english .speaker-initials {
  display: none; }

.amanda-rosler .speaker-image {
  background: url("/images/speakers/amanda-rosler.jpg") no-repeat;
  background-size: cover; }

.jason-snell .speaker-image {
  background: url("/images/speakers/jason-snell.jpg") no-repeat;
  background-size: cover; }

.michael-lopp .speaker-image {
  background: url("/images/speakers/michael-lopp.jpg") no-repeat;
  background-size: cover; }

.jean-macdonald .speaker-image {
  background: url("/images/speakers/jean-macdonald.jpg") no-repeat;
  background-size: cover; }

.linda-franco .speaker-image {
  background: url("/images/speakers/linda-franco.jpg") no-repeat;
  background-size: cover; }

.jennifer-brook .speaker-image {
  background: url("/images/speakers/jennifer-brook.jpg") no-repeat;
  background-size: cover; }

.jim-dalrymple .speaker-image {
  background: url("/images/speakers/jim-dalrymple.jpg") no-repeat;
  background-size: cover; }

.john-gruber .speaker-image {
  background: url("/images/speakers/john-gruber.jpg") no-repeat;
  background-size: cover; }

.dave-wiskus .speaker-image {
  background: url("/images/speakers/dave-wiskus.jpg") no-repeat;
  background-size: cover; }

.lisa-maree-domican .speaker-image {
  background: url("/images/speakers/lisa-maree-domican.jpg") no-repeat;
  background-size: cover; }

.guy-english .speaker-image {
  background: url("/images/speakers/guy-english.png") no-repeat;
  background-size: cover; }

.setting img {
  width: 100%; }

.schedule-wrap .further-col {
  width: 100%;
  margin: 0; }
@media only screen and (min-width: 1100px) {
  .schedule-wrap .title-col {
    width: 66%;
    margin-bottom: 2rem; } }

.schedule:after {
  content: "";
  display: table;
  clear: both; }

.days {
  display: none; }
  .days:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 1100px) {
    .days {
      display: block; } }

.day.mobile {
  margin-bottom: 2rem; }
@media only screen and (min-width: 1100px) {
  .day {
    width: 30%;
    float: left;
    margin-bottom: 2rem;
    margin-right: 5%; }
    .day.mobile {
      display: none;
      float: none; }
    .day:last-of-type {
      margin-right: 0;
      float: right; } }
.day h3 {
  font-weight: 500; }

.time-container {
  position: relative;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 1100px) {
    .time-container {
      width: 30%;
      float: left;
      height: 65rem;
      margin-right: 5%; } }
  @media only screen and (min-width: 1100px) {
    .time-container:last-of-type {
      margin-right: 0;
      float: right; } }
  .time-container.monday .time-block {
    background: #ec5d60; }
    .time-container.monday .time-block.break {
      background: #eee;
      color: #999; }
  .time-container.tuesday .time-block {
    background: #4fb3e0; }
    .time-container.tuesday .time-block.break {
      background: #eee;
      color: #999; }
  .time-container.wednesday .time-block {
    background: #fac637; }

.time-block {
  background: #ec5d60;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem 1rem 0;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 2px solid #fff; }
  @media only screen and (min-width: 1100px) {
    .time-block {
      position: absolute;
      padding: 1rem 1rem 0; } }

.activity-name {
  float: left;
  font-weight: 600; }

.activity-time {
  float: right; }

@media only screen and (min-width: 1100px) {
  .t-0 {
    top: 0; }

  .t-1 {
    top: 3.57143%; }

  .t-2 {
    top: 7.14286%; }

  .t-3 {
    top: 10.71429%; }

  .t-4 {
    top: 14.28571%; }

  .t-5 {
    top: 17.85714%; }

  .t-6 {
    top: 21.42857%; }

  .t-7 {
    top: 25%; }

  .t-8 {
    top: 28.57143%; }

  .t-9 {
    top: 32.14286%; }

  .t-10 {
    top: 35.71429%; }

  .t-11 {
    top: 39.28571%; }

  .t-12 {
    top: 42.85714%; }

  .t-13 {
    top: 46.42857%; }

  .t-14 {
    top: 50%; }

  .t-15 {
    top: 53.57143%; }

  .t-16 {
    top: 57.14286%; }

  .t-17 {
    top: 60.71429%; }

  .t-18 {
    top: 64.28571%; }

  .t-19 {
    top: 67.85714%; }

  .t-20 {
    top: 71.42857%; }

  .t-21 {
    top: 75%; }

  .t-22 {
    top: 78.57143%; }

  .t-23 {
    top: 82.14286%; }

  .t-24 {
    top: 85.71429%; }

  .t-25 {
    top: 89.28571%; }

  .t-26 {
    top: 92.85714%; }

  .t-27 {
    top: 96.42857%; }

  .t-28 {
    top: 100%; } }
.d-0,
.d-1,
.d-2,
.d-3,
.d-4,
.d-5,
.d-6,
.d-7,
.d-8,
.d-9,
.d-10,
.d-11,
.d-12,
.d-13,
.d-14,
.d-15,
.d-16,
.d-17,
.d-18,
.d-19,
.d-20,
.d-21,
.d-22,
.d-23,
.d-24,
.d-25,
.d-26,
.d-27,
.d-28 {
  height: 5rem; }

@media only screen and (min-width: 1100px) {
  .d-0 {
    height: 0; }

  .d-1 {
    height: 3.57143%; }

  .d-2 {
    height: 7.14286%; }

  .d-3 {
    height: 10.71429%; }

  .d-4 {
    height: 14.28571%; }

  .d-5 {
    height: 17.85714%; }

  .d-6 {
    height: 21.42857%; }

  .d-7 {
    height: 25%; }

  .d-8 {
    height: 28.57143%; }

  .d-9 {
    height: 32.14286%; }

  .d-10 {
    height: 35.71429%; }

  .d-11 {
    height: 39.28571%; }

  .d-12 {
    height: 42.85714%; }

  .d-13 {
    height: 46.42857%; }

  .d-14 {
    height: 50%; }

  .d-15 {
    height: 53.57143%; }

  .d-16 {
    height: 57.14286%; }

  .d-17 {
    height: 60.71429%; }

  .d-18 {
    height: 64.28571%; }

  .d-19 {
    height: 67.85714%; }

  .d-20 {
    height: 71.42857%; }

  .d-21 {
    height: 75%; }

  .d-22 {
    height: 78.57143%; }

  .d-23 {
    height: 82.14286%; }

  .d-24 {
    height: 85.71429%; }

  .d-25 {
    height: 89.28571%; }

  .d-26 {
    height: 92.85714%; }

  .d-27 {
    height: 96.42857%; }

  .d-28 {
    height: 100%; } }
@media only screen and (min-width: 700px) {
  .sponsors {
    margin-bottom: 6.5rem; } }

.sponsor-logo {
  display: block;
  border-bottom: none; }
  .sponsor-logo:hover {
    border-bottom: none;
    opacity: 0.5; }
  .sponsor-logo img {
    display: block;
    width: 100%; }
  .sponsor-logo.wordpress {
    width: 80%;
    margin: 3rem auto; }
  .sponsor-logo.new-relic, .sponsor-logo.squarespace, .sponsor-logo.microsoft {
    width: 60%;
    margin: 3rem auto; }
  @media only screen and (min-width: 700px) {
    .sponsor-logo {
      float: left; }
      .sponsor-logo img {
        display: block;
        width: 100%; }
      .sponsor-logo:first-of-type {
        width: 70%;
        margin: 0 auto 4rem; }
      .sponsor-logo:last-of-type {
        float: right;
        margin-right: 0rem; }
      .sponsor-logo.new-relic {
        padding-top: 0.3rem;
        padding-left: 0.3rem;
        width: 28%;
        margin-right: 4.3rem; }
      .sponsor-logo.squarespace {
        padding-top: 0.4rem;
        width: 32%; }
      .sponsor-logo.microsoft {
        width: 24%; } }

footer {
  width: 90%;
  margin: 10rem auto 10rem; }
  @media only screen and (min-width: 700px) {
    footer {
      width: 56rem; } }
  @media only screen and (min-width: 1100px) {
    footer {
      width: 100rem; } }
  footer a {
    color: #ec5d60;
    text-decoration: none;
    font-weight: 500; }

.organiser-wrap p {
  margin-bottom: 1rem; }

.organiser {
  background: #eee;
  border-radius: 50%;
  display: block;
  background-image: no-repeat;
  float: left;
  margin-right: 1rem;
  overflow: hidden;
  height: 4rem;
  width: 4rem; }
  .organiser:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  .organiser.dermdaly {
    background: url("/images/organisers/dermdaly.jpg") no-repeat;
    background-size: cover; }
  .organiser.sashaw {
    background: url("/images/organisers/sashaw.jpg") no-repeat;
    background-size: cover; }
  .organiser.paulca {
    background: url("/images/organisers/paulca.png") no-repeat;
    background-size: cover; }
  .organiser.kilmc {
    background: url("/images/organisers/kilmc.jpg") no-repeat;
    background-size: cover; }

.links .further-col {
  padding-top: 6rem; }

.links li {
  float: left;
  width: 50%; }

.register-interest-wrap {
  margin: 8rem auto 2rem;
  padding: 0 1rem; }
  .register-interest-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 700px) {
    .register-interest-wrap {
      padding: 0 4rem; }
      .register-interest-wrap > .text p {
        width: 65%; } }
  @media only screen and (min-width: 960px) {
    .register-interest-wrap {
      margin-top: 0;
      width: 42rem;
      padding: 0; } }

.register-interest-form {
  float: left;
  margin-top: 4rem;
  width: 65%; }

.register-name,
.register-email {
  border: none;
  border-bottom: 1px solid #ec5d60;
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  outline: none;
  padding: 0.66667rem 0;
  padding-bottom: 0.5em;
  width: 100%;
  color: #ec5d60;
  border-radius: 0; }
  .register-name::-webkit-input-placeholder,
  .register-email::-webkit-input-placeholder {
    color: #ec5d60; }
  .register-name:-moz-placeholder,
  .register-email:-moz-placeholder {
    color: #ec5d60; }
  .register-name::-moz-placeholder,
  .register-email::-moz-placeholder {
    color: #ec5d60; }
  .register-name:-ms-input-placeholder,
  .register-email:-ms-input-placeholder {
    color: #ec5d60; }
  @media only screen and (min-width: 960px) {
    .register-name,
    .register-email {
      font-size: 1.8rem; } }

.register-email {
  margin-bottom: 0; }

.register-button {
  background: #ec5d60;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2.5rem;
  padding: 0.75em 1em; }

.volunteer-image {
  float: right;
  margin-top: 0;
  width: 90px;
  max-width: 170px; }
  @media only screen and (min-width: 700px) {
    .volunteer-image {
      margin-top: -5rem;
      width: 25%; } }

.off-sale {
  margin: 2.5rem auto;
  border-top: 2px dotted #fff;
  border-bottom: 2px dotted #fff;
  padding: 2.5rem 0; }
  @media only screen and (min-width: 960px) {
    .off-sale {
      margin: 10rem auto; } }
  .off-sale h2 {
    font-size: 1.6rem;
    font-weight: 500; }
    @media only screen and (min-width: 960px) {
      .off-sale h2 {
        font-size: 1.8rem; } }
  .off-sale p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0.5rem auto 0; }
    @media only screen and (min-width: 960px) {
      .off-sale p {
        font-size: 1.8rem;
        line-height: 2.5rem; } }

.section-jump {
  overflow: hidden; }
  .section-jump:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

.setting {
  margin-bottom: 0; }
