* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Variables
================================ */
/* Mixins
================================ */
/* Base
================================ */
html {
  font-size: 62.5%; }

body {
  background: white;
  color: #ec5d60;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 2.7rem; }

a, a:link, a:visited {
  color: #70181a;
  text-decoration: none; }

/* Text
================================ */
.text p {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 27px;
  line-height: 2.7rem;
  margin-bottom: 27px;
  margin-bottom: 2.7rem; }
.text h2 {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 27px;
  line-height: 2.7rem;
  margin: 54px auto 27px;
  margin: 5.4rem auto 2.7rem;
  font-weight: 500; }
  @media only screen and (min-width: 850px) {
    .text h2 {
      font-size: 21px;
      font-size: 2.1rem; } }

/* Main Site
================================ */
.site-wrapper {
  padding: 0 16px;
  padding: 0 1.6rem;
  max-width: 480px;
  max-width: 48rem;
  margin: 27px auto;
  margin: 2.7rem auto; }
  @media only screen and (min-width: 850px) {
    .site-wrapper {
      margin-top: 54px;
      margin-top: 5.4rem; } }
  @media only screen and (min-height: 768px) and (min-width: 850px) {
    .site-wrapper {
      margin-top: 256px;
      margin-top: 25.6rem;
      width: 480px;
      width: 48rem; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .site-wrapper {
      margin-top: 160px;
      margin-top: 16rem; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    .site-wrapper {
      margin-top: 27px;
      margin-top: 2.7rem; } }

.site-logo {
  font-size: 19px;
  font-size: 1.9rem; }

.logo {
  display: block;
  margin: 22px auto;
  margin: 2.2rem auto;
  width: 80px;
  width: 8rem; }
  @media only screen and (min-width: 850px) {
    .logo {
      margin-top: 0;
      width: 96px;
      width: 9.6rem; } }

.date-location {
  text-align: center;
  font-size: 19px;
  font-size: 1.9rem;
  margin-top: 27px;
  margin-top: 2.7rem;
  line-height: 27px;
  line-height: 2.7rem; }
  .date-location sup {
    vertical-align: baseline;
    position: relative;
    top: -6.5px;
    top: -0.65rem;
    font-size: 13px;
    font-size: 1.3rem; }

.intro {
  margin-bottom: 54px;
  margin-bottom: 5.4rem;
  text-align: center; }
  @media only screen and (min-width: 850px) {
    .intro {
      text-align: left;
      margin: 54px auto;
      margin: 5.4rem auto; } }

/* Register Interest
================================ */
::-webkit-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

::-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-ms-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

.register-interest-wrap {
  margin: 0 auto;
  *zoom: 1;
  min-height: 288px;
  min-height: 28.8rem; }
  .register-interest-wrap:before, .register-interest-wrap:after {
    content: " ";
    display: table; }
  .register-interest-wrap:after {
    clear: both; }
  @media only screen and (min-width: 850px) {
    .register-interest-wrap {
      margin-top: 0; } }

.register-interest-form {
  float: left;
  margin-bottom: 64px;
  margin-bottom: 6.4rem;
  width: 71%; }
  .register-interest-form .text h2 {
    margin-top: 27px;
    margin-top: 2.7rem; }

.register-name,
.register-email {
  background: url("../../images/line-short.png") bottom no-repeat;
  background-size: 340px;
  background-size: 34rem;
  border: none;
  font-size: 19px;
  font-size: 1.9rem;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  outline: none;
  padding: 9px 0;
  padding: 0.9rem 0;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
  width: 100%;
  color: #ec5d60; }

.register-button {
  background: #ec5d60;
  border: 2px solid #fff;
  border: 0.2rem solid #fff;
  border-radius: 4px;
  border-radius: 0.4rem;
  color: #fff;
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 13px 16px;
  padding: 1.3rem 1.6rem;
  font-size: 18px;
  font-size: 1.8rem; }
  .register-button:hover {
    background: #fff;
    border: 2px solid #ec5d60;
    border: 0.2rem solid #ec5d60;
    color: #ec5d60; }

.volunteer-image {
  float: right;
  margin-top: -32px;
  margin-top: -3.2rem;
  width: 24%;
  max-width: 170px;
  max-width: 17rem; }
  @media only screen and (min-width: 850px) {
    .volunteer-image {
      margin-top: -48px;
      margin-top: -4.8rem; } }

.ie .site-wrapper {
  display: none; }
.ie .fallback-image {
  position: absolute;
  left: 50%;
  margin-left: -232px;
  top: 100px; }
