* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Variables
================================ */
/* Mixins
================================ */
/* Base
================================ */
body {
  background: white;
  color: #ec5d60;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 1.5rem; }

a, a:link, a:visited {
  color: #ec5d60;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #fff; }
  a:hover, a:link:hover, a:visited:hover {
    border-bottom: 2px solid rgba(236, 93, 96, 0.3); }

/* Text
================================ */
.text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }
  @media only screen and (min-width: 480px) {
    .text p {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-bottom: 2rem; } }
.text h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  font-weight: 500; }
  @media only screen and (min-width: 480px) {
    .text h2 {
      font-size: 1.8em;
      line-height: 2.2rem;
      margin-bottom: 2rem; } }
.text hr {
  background: #ec5d60;
  border: none;
  height: 2px;
  width: 40px;
  margin: 0 0 1.5rem 0; }
  @media only screen and (min-width: 480px) {
    .text hr {
      margin: 0 0 2rem 0; } }

/* Main Site
================================ */
@media only screen and (min-width: 850px) {
  .site-wrapper {
    margin: 4rem auto; } }

.site-footer {
  margin: 8rem auto 0;
  padding: 0 1rem; }
  @media only screen and (min-width: 480px) {
    .site-footer {
      padding: 0 4rem;
      margin-top: 10rem; } }
  @media only screen and (min-width: 850px) {
    .site-footer {
      width: 42rem;
      padding: 0; } }

.logo {
  display: block;
  margin: 1.5rem auto;
  width: 5em; }
  @media only screen and (min-width: 850px) {
    .logo {
      margin: 0 auto 2rem;
      width: 6em; } }

.date-location {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6rem; }
  @media only screen and (min-width: 850px) {
    .date-location {
      font-size: 1.3rem;
      line-height: 1.6rem; } }
  .date-location sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 0.8em; }

.intro-wrap {
  padding: 0 1rem;
  position: relative;
  margin-bottom: 0rem; }
  @media only screen and (min-width: 480px) {
    .intro-wrap {
      padding: 0 4rem; } }
  @media only screen and (min-width: 850px) {
    .intro-wrap {
      padding: 0; } }

@media only screen and (min-width: 850px) {
  .introduction {
    width: 42rem;
    margin: 0 auto; } }

.main-image {
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
  width: 100%; }
  @media only screen and (min-width: 850px) {
    .main-image {
      padding: 4rem 0 6rem 0;
      max-width: 60rem; } }

/* Ticket Embed
================================ */
.tickets-wrap {
  padding: 0 1rem; }
  @media only screen and (min-width: 480px) {
    .tickets-wrap {
      padding: 0 4rem; } }
  @media only screen and (min-width: 850px) {
    .tickets-wrap {
      padding: 0;
      margin: 0rem auto 8rem;
      width: 42rem; } }

.things-fan {
  width: 12rem;
  margin: 5rem auto 5rem;
  display: block; }
  @media only screen and (min-width: 850px) {
    .things-fan {
      width: 14rem;
      margin: 7rem auto 8rem;
      display: block; } }

#register-form {
  margin-top: 4rem;
  *zoom: 1; }
  #register-form:before, #register-form:after {
    content: " ";
    display: table; }
  #register-form:after {
    clear: both; }

.ull-ticket {
  *zoom: 1;
  border-bottom: 2px dotted rgba(236, 93, 96, 0.4);
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem; }
  .ull-ticket:before, .ull-ticket:after {
    content: " ";
    display: table; }
  .ull-ticket:after {
    clear: both; }
  @media only screen and (min-width: 850px) {
    .ull-ticket {
      padding-bottom: 1rem;
      margin-bottom: 2rem; } }

.ull-ticket-title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem; }
  @media only screen and (min-width: 850px) {
    .ull-ticket-title {
      font-size: 1.8em;
      line-height: 2.2rem; } }

.ull-ticket-description {
  font-size: 1.2rem;
  margin-top: 0.75rem;
  width: 70%; }
  @media only screen and (min-width: 850px) {
    .ull-ticket-description {
      margin-top: 0.3rem;
      width: auto; } }

.ull-ticket-locked {
  font-size: 1.8rem; }

.ull-price-quantity {
  position: absolute;
  top: 0;
  right: 0;
  float: right; }
  .ull-price-quantity input {
    float: right;
    font-size: 1rem;
    width: 2rem;
    border: 2px solid rgba(236, 93, 96, 0.8);
    padding: 0.2rem;
    border-radius: 4px;
    text-align: center;
    color: #ec5d60;
    -webkit-appearance: none; }
    @media only screen and (min-width: 850px) {
      .ull-price-quantity input {
        font-size: 1.3rem;
        width: 2.4rem; } }
    .ull-price-quantity input:focus {
      outline: none;
      border: 2px solid #ec5d60; }

.ull-ticket-price {
  font-size: 1.5rem;
  float: right;
  margin-right: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  position: relative; }
  @media only screen and (min-width: 850px) {
    .ull-ticket-price {
      font-size: 1.8rem;
      line-height: 2.2rem; } }
  .ull-ticket-price:after {
    content: "\00d7";
    position: absolute;
    font-size: 1.1rem;
    right: -1.15rem;
    color: rgba(236, 93, 96, 0.4); }

.ull-ticket-price-vat {
  position: absolute;
  top: 2.5rem;
  text-align: right;
  right: 0;
  width: 10rem;
  font-size: 1.05rem;
  color: rgba(236, 93, 96, 0.8);
  width: 4rem; }
  @media only screen and (min-width: 480px) {
    .ull-ticket-price-vat {
      width: 10rem; } }

.register-form-submit {
  background: #ec5d60;
  border: none;
  color: #fff;
  padding: 0.8rem;
  border-radius: 4px;
  float: right;
  width: 8rem;
  -webkit-appearance: none;
  margin-top: 1.5rem; }

/* Register Interest
================================ */
::-webkit-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

::-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-ms-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

.register-interest-wrap {
  margin: 6rem auto 1.5rem;
  padding: 0 1rem;
  *zoom: 1; }
  .register-interest-wrap:before, .register-interest-wrap:after {
    content: " ";
    display: table; }
  .register-interest-wrap:after {
    clear: both; }
  @media only screen and (min-width: 480px) {
    .register-interest-wrap {
      padding: 0 4rem; } }
  @media only screen and (min-width: 850px) {
    .register-interest-wrap {
      margin-top: 0;
      width: 42rem;
      padding: 0; }
      .register-interest-wrap > .text p {
        width: 24em; } }

.register-interest-form {
  float: left;
  margin-bottom: 4em;
  width: 65%; }

.register-name,
.register-email {
  border: none;
  border-bottom: 2px solid #ec5d60;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 0;
  padding-bottom: 0.5em;
  width: 100%;
  color: #ec5d60;
  border-radius: 0; }
  @media only screen and (min-width: 850px) {
    .register-name,
    .register-email {
      font-size: 1.3rem; } }

.register-email {
  margin-bottom: 0; }

.register-button {
  background: #ec5d60;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  padding: 0.75em 1em; }

.volunteer-image {
  float: right;
  margin-top: -2em;
  width: 90px;
  max-width: 170px; }
  @media only screen and (min-width: 850px) {
    .volunteer-image {
      margin-top: -10em;
      width: 25%; } }

/* Tito Embed Form
================================ */
