<div id="benefits">
  <hr class="section-line">
  <h2 class="section-title">Why Úll?</h2>

  <h3 class="paragraph-title">A sense of place</h3>
  <p class="additional-info">
    Dublin is the ultimate conference city. Within a 2km square area, you'll find everything you need: restaurants, pubs, hotels, sights and architecture. Everywhere is walkable, low-rise and super-friendly.
  </p>
  
  <h3 class="paragraph-title">A world-class venue</h3>
  <p class="additional-info">The Úll main conference sessions day will be held in the Coach House of Dublin Castle, right in the heart of the city, between the old city centre and Trinity College. It's steeped in history and intimate, with raftered wooden ceilings and stoned walls behind dramatic entrance gates.</p>
  
  <h3 class="paragraph-title">Amazing speakers</h3>
  <p class="additional-info">At Úll, you'll not only learn how to build apps, but we'll look at the whole economy of building apps. You'll learn about market analysis; you'll discover insights from speakers who know and understand Apple inside and out. You'll learn how to plan your app's development, and you'll discover the importance of user experience through examples and stories from speakers who have been and done it themselves.</p>
  
  <h3 class="paragraph-title">Quality relationships</h3>
  <p class="additional-info">Mostly though, at Úll, you'll get to hang out. We have a low speaker:attendee ratio and we encourage participation from everyone. There's ample time to socialise, chat and share your experiences. We're putting a huge emphasis the things that matter: a quality lineup, a quality venue, quality catering and a high value event that we hope you'll never forget.</p>
  
  <p class="additional-info">You're the customer, not the product. Like what you hear? <a href="#tickets">Register now</a>.</p>
</div>