<div id="home" class="clearfix">
  <img src="/main/images/coach-house-cropped_red_varient_s.jpg" alt="coach house dublin">
  <p id="tagline">
  &Uacute;ll is a conference for iOS / OSX / mobile web developers and designers. The three day event will include workshops, keynotes, talks and in-depth presentations on all the aspects of <span id="head">building</span>, designing and marketing your apps.
  </p>
  <p id="date" class="date-range">Dublin, Ireland &middot; April 27&ndash;29<sup>th</sup>, 2012</p>
  
</div>