<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>&Uacute;ll</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/main/css/style.css">
  <link rel="shortcut icon" href="/main/images/ull_favicon.png">
  <link rel="icon" href="/main/images/ull_favicon.png">
  <script type="text/javascript" src="http://use.typekit.com/zwi6ggx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="/main/js/libs/modernizr-2.0.6.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <!--
  <script type="text/javascript">
    $(document).ready(function() {
      $('#navItems').hide();
      $('.speakerDescription').hide();
      $('#logo').on('click',function() {
        $('#navItems').slideToggle();
      });
      $('#navItems a').on('click', function() {
        $('#navItems').slideToggle('fast');
        return false
      });
      
      $('#andyDescriptionToggle').on('click', function() {
        $('#andyDescription').slideToggle();
        return false
      });
      
      $('#morganDescriptionToggle').on('click', function() {
        $('#morganDescription').slideToggle();
        return false
      });
      
      $('#chrisDescriptionToggle').on('click', function() {
        $('#chrisDescription').slideToggle();
        return false
      });
      
      $('#coleDescriptionToggle').on('click', function() {
        $('#coleDescription').slideToggle();
        return false
      });
      
      $('#docDescriptionToggle').on('click', function() {
        $('#docDescription').slideToggle();
        return false
      });
      
      $('#dave2DescriptionToggle').on('click', function() {
        $('#dave2Description').slideToggle();
        return false
      });
      
      $('#kyleDescriptionToggle').on('click', function() {
        $('#kyleDescription').slideToggle();
        return false
      });
      
      $('#mikeDescriptionToggle').on('click', function() {
        $('#mikeDescription').slideToggle();
        return false
      });
      
      $('#wilsonDescriptionToggle').on('click', function() {
        $('#wilsonDescription').slideToggle();
        return false
      });
  
    });
    
    
      
  </script>
  -->
  
</head>
<body>
  
  <header>
    <nav>
      <ul id="navItems">
        <li><a href="#home">Home</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#workshops">Workshops</a></li>
        <li><a href="#tickets">Tickets</a></li>
      </ul>
      <hr id="topLine" />
      <a id="logo" href="#" alt="Menu Reveal">Úll</a>
      <a id="logoHome" href="/main" alt="Menu Reveal">Úll</a>
    </nav>
  </header>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>


  <!--[if lt IE 7 ]>
    <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
<% if ENV['RACK_ENV'] == 'production' %>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66517282); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66517282ns.gif" /></p></noscript>
<% end %>
</body>
</html>
