<div id="schedule" class="clearfix">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Schedule</h2>
  <div class="schedule-wrap clearfix">
    <article class="schedule-day">
      <h3 class="subsectionTitle">Friday, 27<sup>th</sup> April</h3>
        <div class="schedule-details">
          <img src="/main/images/sugar-club.jpg" alt="The sugar club interior"  width="264" height="183">
          <h3><a href="http://www.thesugarclub.com/">The Sugar Club</a></h3>
          <p>
            Keynote, cocktails &amp; pre-party.
            <dl>
            <hr>
            <dt>7pm</dt>
            <dd>
              <h3>Doors open</h3>
            </dd>
            <hr>
            <dt>7:30pm</dt>
            <dd>
              <h3>Keynote</h3>
            </dd>
            <hr>
            <dt>9pm</dt>
            <dd>
              <h3>Band</h3>
            </dd>
            <hr>
            <dt>Midnight</dt>
            <dd>
              <h3>Bedtime</h3>
            </dd>
          </dl>
          </p>
        </div>
    </article>
    <article class="schedule-day">
      <h3 class="subsectionTitle">Saturday, 28<sup>th</sup> April</h3>
      <div class="schedule-details">
        <img src="/main/images/dublin-castle.jpg" alt="The sugar club interior" width="264" height="183">
        <h3><a href="http://www.dublincastle.ie/ConferenceDining/CoachHouse/">Dublin Castle Coach House</a></h3>
        <p>Sessions, discussions &amp; learning.</p>
          <dl>
            <hr>
            <dt>9am</dt>
            <dd>
              <h3>Morning sessions begin</h3>
            </dd>
            
            <hr>
            <dt>Noon</dt>         
            <dd>
              <h3>Lunch (provided)</h3>
            </dd>

            <hr>
            <dt>2pm</dt>
            <dd>
              <h3>Afternoon sessions begin</h3>
            </dd>

            <hr>
            <dt>5pm</dt>
            <dd>
              <h3>Freedom!</h3>
              <p>&hellip;with optional activities.</p>
            </dd>

          </dl>
    
          <h3>The Hugh Lane Gallery</h3>
          <p>Home of Francis Bacon's studio</p>
          <dl>
            <hr>
            <dt>7pm</dt>
            <dd>
              <h3>Banquet</h3>
              <p>&hellip;in the Sculpture Room.</p>
            </dd>

            <hr>
            <dt>2am</dt>
            <dd>
              <h3>Bedtime</h3>
            </dd>
        </dl>
      </div>
    </article>
    <article class="schedule-day">
      <h3 class="subsectionTitle">Sunday, 29<sup>th</sup> April</h3>
        <div class="schedule-details">
          <img src="/main/images/odessa.jpg" alt="The sugar club interior" width="264" height="183">
          <h3><a href="http://odessa.ie/club">The Odessa Club</a></h3>
          <p>Recovery, food &amp; conversation.</p>
          <dl>
          <hr>
            <dt>2pm</dt>
            <dd>
              <h3>Barbeque</h3>
              <p>&hellip;on the roof.</p>
            </dd>

            <hr>
            <dt>10pm</dt>
            <dd>
              <h3>Disperse</h3>
              <p>&hellip;say our goodbyes.</p>
            </dd>
        </dl>
        </div>
     </article> 
   </div>  
</div>
