<div id="schedule" class="clearfix">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Schedule</h2>
  <div class="schedule-wrap clearfix">
    <article class="schedule-day">
      <h3 class="subsectionTitle">Friday, 27<sup>th</sup> April</h3>
        <div class="schedule-details">
          <img src="/main/images/sugar-club.jpg" alt="The sugar club interior">
          <h3>The Sugar Club</h3>
          <p>
            A keynote from Horace Dediu, of asymco.com
            Pre-party with cocktails and live music
          </p>
        </div>
    </article>
    <article class="schedule-day">
      <h3 class="subsectionTitle">Saturday, 28<sup>th</sup> April</h3>
      <div class="schedule-details">
        <img src="/main/images/dublin-castle.jpg" alt="The sugar club interior">
        <h3>Dublin Castle Coach House</h3>
        <p>A full day of conference sessions, including:</p>
          <dl>
            <hr>
            <dt>10:30</dt>
            <dd>
              <h3>Michael Lopp</h3>
              <p>
                
              </p>
            </dd>
            <hr>
            <dt>12:30</dt>
            <dd>
              <h3>Steve Troughton-Smith</h3>
              <p></p>
            </dd>
            <hr>
            <dt>13:00</dt>
            <dd>
              <h3>Matt Gemmell</h3>
              <p></p>
            </dd>
            <hr>
            <dt>14:00</dt>
            <dd>
              <h3>Josh Clark</h3>
              <p></p>
            </dd>
            <hr>
            <dt>15:30</dt>
            <dd>
              <h3>Micheal Simmons</h3>
              <p></p>
            </dd>
            <hr>
            <dt>16:30</dt>
            <dd>
              <h3>Kyle Neath</h3>
              <p></p> 
            </dd>
            <hr>
            <dt>17:30</dt>         
            </dd>
              <h3>Catered breakfast and lunch</h3>
            </dd>
          </dl>
    
          <h3>The Hugh Lane Gallery</h3>
          <p>Banquet in a Sculpture Room</p>
      </div>
    </article>
    <article class="schedule-day">
      <h3 class="subsectionTitle">Sunday, 29<sup>th</sup> April</h3>
        <div class="schedule-details">
          <img src="/main/images/odessa.jpg" alt="The sugar club interior">
          <h3>The Odessa Club</h3>
          <p>Chill out hangover barbeque</p>
        </div>
     </article> 
   </div>  
</div>
