<div id="sessions">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Sessions</h2>
  
  <p class="info">
    Sessions will cover the journey from the planning stages, development, design, marketing and the business of app development.
  </p>
  
  <dl class="session-list">
    <dt>What is Business Strategy?</dt>
    <dd>
      <cite><a href="http://asymco.com/">Horace Dediu</a></cite>
      <p class="additional-info">A talk about what business strategy means.</p>
    </dd>
    
    <dt>Keynote Kung-Fu.</dt>
    <dd>
      <cite><a href="http://randsinrepose.com/">Michael Lopp</a></cite>
      <p class="additional-info">In January 2003, two years before their word processor and four before their spreadsheet, Apple released their presentation software, Keynote. In this talk, I'll discuss why Keynote was the first "office" application to land as well as why I think it's one of the best examples of Apple's application design philosophy.  I will also teach you Keynote Kung-Fu.</p>
    </dd>
    
    <dt>From Idea To App</dt>
    <dd>
      <cite><a href="http://mattgemmell.com/">Matt Gemmell</a></cite>
      <p class="additional-info">
        There's nothing more exciting than having an idea for a new app, but as developers we often get carried away and start coding too soon. The best apps are created by putting user experience first, and that means spending time refining the raw idea into something that the customer will really want to use.
      </p>  
      
      <p class="additional-info">
        I'll talk about how to identify the core features for your app, how to avoid scope-creep, and why you should postpone launching Xcode for as long as possible. We'll touch on the hints Apple is giving you with its preinstalled apps and templates, and on the dangers of being too close to your initial idea.
      </p>
    </dd>
    
    <dt>Teaching Touch</dt>
    <dd>
      <cite><a href="http://globalmoxie.com/">Josh Clark</a></cite>
      <p class="additional-info">Touch gestures are sweeping away buttons, menus and windows from mobile devices—and even from the next version of Windows. The challenge: gestures are invisible, without the visual cues offered by buttons and menus. As your app sheds buttons, how do people figure out how to use the thing? Learn to lead your audience by the hand (and fingers) with practical techniques that make invisible gestures obvious.</p>
      
      <p class="additional-info">
        Josh mines a variety of surprising sources for interface inspiration and design patterns. Along the way, discover the subtle power of animation, why you should be playing lots more video games, and why a toddler is your best beta tester.
      </p>
    </dd>
    
    <dt>Making Great Apps</dt>
    <dd>
      <cite><a href="http://flexibits.com/">Michael Simmons</a></cite>
      <p class="additional-info">
        Your app idea is important, but it's only the beginning. You'll also need a quality development and a launch plan. Learn how to manage, execute, market and sell your app beyond the usual details. Features, design, UI, UX, price, messaging and even the app's name all play a major role in your app's success. We'll take a close look at the things you should do and, of course, the things you shouldn't do.
      </p>
      
      <p class="additional-info">
        We'll also question your app's finer details, such as marketing, design, product features, and even pricing.
      </p>

      <p class="additional-info">
        The important questions will be asked, helping you formulate the answers necessary to give your app the best chance for success. A solid plan provides a solid foundation, and with a solid foundation, your app will have a greater chance of success.
      </p>
    </dd>
    
    <dt>You Are Not What You Eat</dt>
    <dd>
      <cite><a href="http://warpspire.com">Kyle Neath</a></cite>
      <p class="additional-info">Designers can't be developers and companies who build web apps can't build desktop apps. Well, maybe in 1994 — but it's 2012. Things done changed. It's time to focus on building amazing companies full of fantastic people. Build amazing apps that people love to use. Screw false specialization, iOS shops, and mobile-only products. We're people building apps for other people to use on technofantastical devices of tomorrow.</p>
    </dd>
    
    <dt>A Happy Grain of Sand</dt>
    <dd>
      <cite><a href="http://aralbalkan.com/">Aral Balkan</a></cite>
      <p class="additional-info">A light-hearted, funny,  daresay inspirational, talk on user experience &amp; design.</p>
    </dd>
    
    
  </dl>
</div>