<div id="speakers" class="clearfix">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Speakers</h2>
  <div class="clearfix speakerGroups">
    <article class="speaker">
      <h3 class="speaker">
        <a id="horaceDescriptionToggle" href="#">Horace Dediu</a>
      </h3>
      <img src="/main/images/speakers/horace.jpg" class="visionImg" alt="Horace Dediu" width="264" height="183">
      <p class="speakerDescription" id="horaceDescription">
        &hellip;writes <a href="http://www.asymco.com/">Asymco</a>, a world-leading
        market analysis blog, specialising in Apple and mobile.
        <br/><br/>
        Horace also appears regularly on the <a href="http://5by5.tv/criticalpath">Critical Path</a> podcast, and runs 
        <a href="http://www.asymconf.com/">Asymconf</a>.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/hdediu/" class="speakerTwitter">@hdediu</a>
    
    
    </article>
  
    <article class="speaker">
      <h3 class="speaker"><a id="randsDescriptionToggle" href="#">Michael Lopp</a></h3>
      <img src="/main/images/speakers/rands.jpg" class="designImg" alt="Michael Lopp" width="264" height="183">
      <p class="speakerDescription" id="randsDescription">
        &hellip;writes <a href="http://randsinrepose.com/">Rands in Repose</a>. He is the author of two books centred on his experience managing
        software teams. <a href="http://www.managinghumans.com/">Managing Humans</a> is a guide to the personalities of typical engineers and how to deal with them, while <a href="http://www.beinggeek.com/">Being Geek</a> gives engineers into how managers work and how to survive.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/rands" class="speakerTwitter">@rands</a>
    </article>
  
    <article class="speaker">
      <h3 class="speaker">
        <a id="steveDescriptionToggle" href="#">
          Steve Troughton-Smith
        </a>
      </h3>
      <img src="/main/images/speakers/steve.jpg" class="designImg"
           alt="Steve Troughton-Smith" width="264" height="183">
    
      <p class="speakerDescription" id="steveDescription">
        &hellip;Ireland&rsquo;s foremost iOS developer. He runs <a href="http://www.highcaffeinecontent.com/">High Caffeine Content</a> and is regularly featured worldwide for his groundbreaking &ldquo;investigative hacking&rdquo;.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/stroughtonsmith" class="speakerTwitter">@stroughtonsmith</a>
    
    </article>
  </div>
  
  <div class="clearfix speakerGroups">
    <article class="speaker">
      <h3 class="speaker">
        <a id="mattDescriptionToggle" href="#">
          Matt Gemmell
        </a>
      </h3>
      <img src="/main/images/speakers/matt.jpg" class="devImg"
           alt="Matt Gemmell" width="264" height="183">
      <p class="speakerDescription" id="mattDescription">
        &hellip;a &ldquo;legend&rdquo; in the Apple design community, is an iOS and Cocoa developer with a focus on user experience and interface design. He runs <a href="http://instinctivecode.com">Instinctive Code</a>, has contributed a ton of popular <a href="http://mattgemmell.com/source/">open source</a>, and writes a <a href="http://mattgemmell.com/">popular blog</a>.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/mattgemmell" class="speakerTwitter">
        @mattgemmell
      </a>
    
    </article>
  
    <article class="speaker">
      <h3 class="speaker">
        <a id="joshDescriptionToggle" href="#">
          Josh Clark
        </a>
      </h3>
      <img src="/main/images/speakers/josh.jpg" class="devImg"
           alt="Josh Clark" width="264" height="183">
      <p class="speakerDescription" id="joshDescription">
        &hellip;is the author of
        &ldquo;<a href="http://shop.oreilly.com/product/0636920001133.do">Tapworthy</a>,
        Designing Great iPhone Apps&rdquo;. He is a seasoned developer for a number of platforms, and runs <a href="http://globalmoxie.com">Global Moxie</a>, offering consulting, training and workshops on building amazing apps.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/globalmoxie" class="speakerTwitter">
        @globalmoxie
      </a>
    
    </article>
  
    <article class="speaker">
      <h3 class="speaker">
       <a id="dave2DescriptionToggle" href="#">
         Michael Simmons
       </a>
      </h3>
      <img src="/main/images/speakers/michael.jpg" class="designImg"
           alt="Michael Simmons" width="264" height="183">
      <p class="speakerDescription" id="simmonsDescription">
       &hellip;is a seasoned speaker and developer, particularly passionate about UI and UX. He runs <a href="http://flexibits.com">Flexibits</a>, and is the creator of <a href="http://flexibits.com/fantastical">Fantastical</a>. 
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/macguitar" class="speakerTwitter">@macguitar</a>
    </article>
  </div>
  
  <div class="clearfix speakerGroups">
    <article class="speaker">
      <h3 class="speaker">
        <a id="kyleDescriptionToggle" href="#">Kyle Neath</a>
      </h3>
      <img src="/main/images/speakers/kyle.jpg" class="designImg"
           alt="Kyle" width="264" height="183">
      <p class="speakerDescription" id="kyleDescription">
       &hellip;is director of design at <a href="http://github.com">GitHub</a>,
       and was the driving force behind <a href="http://mac.github.com/">GitHub for Mac</a>. Kyle writes <a href="http://warpspire.com">a popular blog</a> on software design. He's a true developer&rsquo;s designer.
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/kneath" class="speakerTwitter">
        @kneath
      </a>
    </article>
    
    <article class="speaker">
      <h3 class="speaker">
        <a id="mysteryDescriptionToggle" href="#">&hellip;</a>
      </h3>
      <img src="/main/images/blank.jpg" class="designImg"
           alt="…" width="264" height="183">
      <p class="speakerDescription" id="mysteryDescription">
        &hellip;<em>to be announced&hellip;</em>
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/" class="speakerTwitter">
&hellip;
      </a>
    </article>
    
    <article class="speaker">
      <h3 class="speaker">
        <a id="mysteryDescriptionToggle" href="#">&hellip;</a>
      </h3>
      <img src="/main/images/blank.jpg" class="designImg"
           alt="…" width="264" height="183">
      <p class="speakerDescription" id="mysteryDescription">
        &hellip;<em>to be announced&hellip;</em>
      </p>
      <div class="circle">  
        <span class="symbols twitter">t</span>
      </div>
      <a href="http://twitter.com/" class="speakerTwitter">
&hellip;
      </a>
    </article>
  </div>
</div>