<div id="sponsors">
  <hr class="section-line">
  <h2 class="section-title sponsors">Sponsors &amp; Supporters</h2>
  
  <h2 class="sponsor-type">Platinum+ Sponsor</h2>
  <a href="http://www.enterprise-ireland.com/en/" title="Enterprise Ireland" class="ei logo">
    <img src="/main/images/Logo_NoStrapLine.png" alt="Enterprise Ireland Logo" />
  </a>
  
  <h2 class="sponsor-type">Silver Sponsor</h2>
  <a href="http://www.engineyard.com" title="Engine Yard" class="engineyard logo">
    <img src="/main/images/sponsors/logo-engineyard.png" alt="Engine Yard Logo"/>
  </a>
  
  <h2 class="sponsor-type">Bronze Sponsors</h2>
  <div class="bronze-logos" class="logo">
    <a href="http://www.barebones.com" title="Bare Bones Software" class="barebones bronze">
    <img src="/main/images/sponsors/barebones_logo.png" alt="Bare Bones Logo"/>
  </a>

  <a href="http://www.github.com" title="GitHub" class="github bronze">
    <img src="/main/images/sponsors/github_logo.png" alt="GitHub Logo"/>
  </a>

  <a href="http://www.ndrc.ie" title="NDRC" class="ndrc bronze">
    <img src="/main/images/sponsors/ndrc_logo.png" alt="NDRC Logo"/>
  </a>

  <a href="http://www.realexpayments.com" title="Realex Payments" class="realex bronze">
    <img src="/main/images/sponsors/realex_logo.png" alt="Realex Payments Logo"/>
  </a>

  <a href="meetinireland.com" title="Failte Ireland" class="failte bronze">
    <img src="/main/images/sponsors/failte_ireland_logo.png" alt="Failte Ireland Logo"/>
  </a>
  </div>
  

  <p class="additional-info push">
    We're proud to have <a href="http://www.axonista.com/">Axonista</a> and <a href="http://stackmob.com">StackMob</a>, <a href="http://www.hockeyapp.net/">HockeyApp</a>, <a href="http://converser.io" title="Converser">Converser</a>, and <a href="http://www.tethras.com/" title="Tethras">Tethras</a> as official conference supporters.
  </p>
  
  <p class="additional-info demoted">
    Want to support &Uacute;ll? <a href="#tickets">Buy</a> a supporter ticket. We'll post your link, pimp your product at the conference and include you in our conference materials.
  </p>
</div>