<div id="sponsors">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Sponsors &amp; Supporters</h2>
  
  <p class="additional-info">
    We are privileged to have <a href="http://www.enterprise-ireland.com/en/">Enterprise Ireland</a> as our Platinum+ Sponsor.
  </p>

  <p class="additional-info">
    We're proud to have <a href="https://github.com/">GitHub</a>, <a href="http://www.axonista.com/">Axonista</a> and <a href="http://stackmob.com">StackMob</a> and <a href="http://www.hockeyapp.net/">HockeyApp</a>as official conference supporters.
  </p>
  
  <p class="additional-info demoted">
    Want to support &Uacute;ll? <a href="#tickets">Buy</a> a supporter ticket. We'll post your link, pimp your product at the conference and include you in our conference materials.
  </p>
</div>