<div id="sponsors">
  <hr class="section-line">
  <h2 class="section-title sponsors">Sponsors &amp; Supporters</h2>
  <a href="http://www.enterprise-ireland.com/en/" title="Enterprise Ireland">
    <img src="/main/images/Logo_NoStrapLine.png" class="ei logo" alt="Enterprise Ireland Logo" />
  </a>
  <h2>Platinum+ Sponsor</h2>

  <a href="http://www.engineyard.com" title="Engine Yard">
    <img src="/main/images/sponsors/logo-engineyard.png" class="engineyard logo" alt="Engine Yard Logo"/>
  </a>
  <h2>Silver Sponsor</h2>

  <div class="bronze-logos">
    <a href="http://www.barebones.com" title="Bare Bones Software">
    <img src="/main/images/sponsors/barebones_logo.png" class="barebones logo bronze" alt="Bare Bones Logo"/>
  </a>

  <a href="http://www.github.com" title="GitHub">
    <img src="/main/images/sponsors/github_logo.png" class="github logo bronze" alt="GitHub Logo"/>
  </a>

  <a href="http://www.ndrc.ie" title="NDRC">
    <img src="/main/images/sponsors/ndrc_logo.png" class="ndrc logo bronze" alt="NDRC Logo"/>
  </a>

  <a href="http://www.realexpayments.com" title="Realex Payments">
    <img src="/main/images/sponsors/realex_logo.png" class="realex logo bronze" alt="Realex Payments Logo"/>
  </a>

  <a href="meetinireland.com" title="Failte Ireland">
    <img src="/main/images/sponsors/failte_ireland_logo.png" class="failte logo bronze" alt="Failte Ireland Logo"/>
  </a>
  </div>
  <h2>Bronze Sponsors</h2>

  <p class="additional-info">
    We're proud to have <a href="http://www.axonista.com/">Axonista</a> and <a href="http://stackmob.com">StackMob</a>, <a href="http://www.hockeyapp.net/">HockeyApp</a>, <a href="http://converser.io" title="Converser">Converser</a>, and <a href="http://www.tethras.com/" title="Tethras">Tethras</a> as official conference supporters.
  </p>
  
  <p class="additional-info demoted">
    Want to support &Uacute;ll? <a href="#tickets">Buy</a> a supporter ticket. We'll post your link, pimp your product at the conference and include you in our conference materials.
  </p>
</div>