<div id="tickets" class="clearfix">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Tickets</h2>
  
  <p class="ticket-info">
    For those who would like to promote their product, service or brand, with a micro-sponsorship, we are offering &ldquo;Supporter&rdquo; tickets. They are slightly more expensive than regular tickets, but we will offer you a link on the site and a shout out during the conference.
  </p>
  <div id="tito-register-form">
    <script src="//ull.tito.io/events/%C3%BAll.js"></script>
  </div>
  
</div>

<div id="additional">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Additional Info</h2>

  <p class="additional-info">
    Dublin has tons and tons of great hotels. Anywhere in the city centre is perfect. Both <a href="http://dublinhotels.jurysinns.com/jurysinn_christchurch">Jury's Inn Christchurch</a> and <a href="http://www.theclarence.ie/">The Clarence</a> are a one minute walk from Dublin Castle, and convenient for the other venues.
  </p>
</div>