<div id="tickets" class="clearfix">
  <hr class="section-line">
  <h2 class="section-title">Tickets</h2>
  
  <p class="ticket-info">
    Úll is sold out. Email <a href="mailto:feedback@ull.ie">feedback@ull.ie</a> to join our waiting list.
  </p>
  
</div>