<div id="workshops">
  <hr class="sectionLine">
  <h2 class="sectionTitle">Workshops</h2>
  
  <p class="info">
    Workshops will take place on the afternoon of the 27<sup>th</sup> April.
  </p>
  
  <dl class="workshop-list">
    <dt>Tapworthy Mobile Design and UX</dt>
    <dd>
      <cite>with <a href="http://globalmoxie.com/">Josh Clark</a></cite>
      <p class="additional-info">From first concept to polished pixel, learn to create mobile apps and websites that delight. The workshop explores the practical principles of mobile and touchscreen design, teaching you to "think mobile" by planning and creating app interfaces in tune with the psychology and ergonomics of an audience on the go. You'll learn to conceive and refine an app's interface and user experience in tune with the needs of a mobile audience... and their fingers and thumbs.</p>
      <p class="additional-info">
        &euro;150 with a conference ticket, &euro;300 without.
        <a class="register" href="https://tito.io/:tapworthy-mobile-design-and-ux">
          Register here
        </a>
      </p>
    </dd>
    
    <dt>Asymco Workshop</dt>
    <dd>
      <cite>with Horace Dediu</cite>
      <p class="additional-info">A detailed workshop on Apple's strategy in the form of a question and answer session.</p>
      <p class="additional-info">
        &euro;75 with a conference ticket, &euro;150 without.
        <a class="register" href="https://tito.io/:ull-asymco-workshop">
          Register here
        </a>
      </p>
    </dd>
  </dl>
</div>