
/* Variables
================================ */

// Colour
// Prefix of "c" for all colour varibales

$c-blue:                    #4FB3E0;
$c-brown:                   #70181A;
$c-red:                     #EC5D60;
$c-yellow:                  #FAC637;

$c-primary:                 #70181A;
$c-secondary:               #ff0099;
$c-bg:                      #fff;


// Text
// Prefix of "t" for all type variables

$t-fam-primary:             "museo-sans",sans-serif;
$t-fam-secondary:           "rooney-web",sans-serif;
$t-weight:                  300;

// Leading

$t-leading:                 1.5rem;
$tl-medium:                 2rem;


// Body Text Size

$t-size:                    1.1rem;
$tz-medium:                 1.3rem;

// Heading Text Size

$h-size:                    1.5em;
$hz-medium:                 1.8em;

$hl-medium:                 2.2rem;


// Screen Sizes
$xsmall:                    320px;
$small:                     480px;
$medium:                    850px;
$large:                     1200px;
$xlarge:                    1400px;



/* Mixins
================================ */

// General

@mixin links {
  a, a:link, a:visited {
    text-decoration: none;
    color: $c-primary;
  }

  a:hover, a:focus, a:active {
    text-decoration: underline;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin nested-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


// Transitions 

@mixin fade {
  @include transition (all 0.15s ease-in-out);
}

@mixin fast-fade {
  @include transition (all 0.05s ease-in-out);
}
