@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'reset';
@import 'helpers';

// Variable Overrides
// ---------------------------------------------------------


// Body Text Size
$t-size:                    1.6rem;
$tz-medium:                 1.8rem;

// Leading
$t-leading:                 2rem;
$tl-medium:                 2.5rem;

// Heading Text Size

$h-size:                    3rem;
$hz-medium:                 4rem;

$hl-medium:                 2.2rem;
$l-avatar:                  10rem;


// Base
// ---------------------------------------------------------

html {
  font-size: 62.5%;
}

body {
  font-size: $t-size;
  background: $c-bg;
  color: $c-red;
  font-family: $t-fam-primary;
  font-weight: $t-weight;
  line-height: $t-leading;
  @media only screen and (min-width: $medium) {
    font-size: $tz-medium;
    line-height: $tl-medium;
  }
}


// General
// ---------------------------------------------------------

section {
  width: 90%;
  margin: $t-leading*2 auto;
  @media only screen and (min-width: $medium) {
    width: 100rem;
    margin: $t-leading*4 auto;
    @include clearfix;
  }
}

.title-col,
.further-col {
  @media only screen and (min-width: $medium) {
    float: left;
  }
}

.title-col {
  @media only screen and (min-width: $medium) {
    width: 38rem;
  }
  h2 {
    font-size: $h-size;
    font-weight: 100;
    margin-bottom: $t-leading;
    line-height: $t-leading*2;

    @media only screen and (min-width: $medium) {
      font-size: $hz-medium;
    }
  }

  p {
    margin-bottom: $t-leading;
  }
}

.further-col {

  @media only screen and (min-width: $medium) {
    width: 56rem;
    margin-left: 6rem;
  }
}

// Header
// ---------------------------------------------------------

header {
  @media only screen and (min-width: $medium) {
    width: 58%;
    margin: 2rem auto 0;
    @include clearfix;
  }
}

.logo-date-wrap {
  @media only screen and (min-width: $medium) {
    
  }
}

.site-logo {
  width: 8rem;
  margin: 6rem auto 3rem;
  display: block;
  @media only screen and (min-width: $medium) {
    

  }
}

.date-location-wrap p {
  text-align: center;
}

.site-nav {
  margin-top: 4rem;
  @media only screen and (min-width: $medium) {
    width: 100%;
    float: left;
    margin: 8rem auto -8rem;
    @include clearfix;
  }
}

.nav-link {
  text-decoration: none;
  border: 1px solid $c-red;
  color: $c-red;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 60%;
  display: block;
  text-align: center;
  margin: 0 auto $t-leading/2;

  &:hover {
    background: $c-red;
    color: #fff;
  }

  @media only screen and (min-width: $medium) { 
    float: left;
    margin-right: 3rem;
    width: 12rem;

    &:nth-last-of-type(-n+2) {
      float: right;
    }
    &:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
}

.section-image {
  width: 70%;
  margin: 20rem auto;
  display: block;
  &.home {
    width: 160%;
    margin: 6rem 0 6rem -30%;
    @media only screen and (min-width: $medium) {
      width: 80%;
      margin: 10rem auto 14rem;
    }
  }
}

// Intro + Tickets Form
// ---------------------------------------------------------

.intro {
  width: 100%;
  color: #fff;
  background: $c-blue;
  padding: 4rem 5%;
  @media only screen and (min-width: $medium) {
    margin: 10rem auto;
    padding: 10rem 15%;
  }
}

#register-form {
  margin-top: 1rem;
  @include clearfix;
}

.ull-ticket {
  @include clearfix;
  border-bottom: 2px dotted rgba(#fff, 1);
  position: relative;
  padding-bottom: $t-leading/1.5;
  margin-bottom: $t-leading/1.5;

  &:first-of-type {
    border-top: 2px dotted rgba(#fff, 1);
    padding-top: $t-leading/1.5;
    .ull-quantity {
      margin-top: $t-leading/1.5;
    }
  }
}

.ull-ticket-title {
  font-size: $t-size;
  font-weight: 700;
  float: left;
  margin-right: 1rem;
}

.ull-ticket-price {
  // float: right;
  
  line-height: 1.8rem;
  position: relative;
}

.ull-ticket-description {
  float: left;
  font-size: 1.8rem;
  margin-top: $t-leading/4;
  width: 70%;
}

.ull-ticket-locked {
  font-size: 1.8rem;
}

.ull-quantity {
  margin-top: 0rem;
  font-size: 1.8rem;
  width: 4.9rem;
  height: 4.9rem;
  padding: 0.2rem;
  border-radius: 4px;
  text-align: center;
  color: $c-blue;
  -webkit-appearance: none;
  border: 1px;
  position: absolute;
  top: 0;
  right: 0;


  @include nested-placeholder {
    color: $c-blue;
  };
  &:focus {
    outline: none;
  }
}

.ticket-form-submit {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  float: right;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  display: block;
  text-align: center;
  margin-top: $t-leading*1;
  &:hover {
    background: #fff;
    color: $c-blue;
  }
}



.ull-ticket-price-vat {
  position: absolute;
  top: 2.5rem;
  text-align: right;
  right: 0;
  width: 10rem;
  font-size: 1.8rem;
  color: rgba($c-red, 1);
  width: 4rem;

  @media only screen and (min-width: $small) {
    width: 10rem;
  }
}



// Speakers
// ---------------------------------------------------------

.speakers {
  margin: 0 auto !important;
}

.speaker {
  position: relative;
  height: 15rem;
  padding: 0.5rem 0 0 9rem;
  @media only screen and (min-width: $medium) {
    padding: 1.5rem 0 0 12rem;  
  }
}

.speaker-image {
  position: absolute;
  background: #eee;
  border-radius: 50%;
  @include square(4em);
  left: 0;
  top: 0;
  @media only screen and (min-width: $medium) {
    @include square($l-avatar);
  }
}

.speaker-initials {
  line-height: 7.2rem;
  display: block;
  text-align: center;
  font-size: 2.4rem;
  color: #999;
  padding-top: 0.2rem;
  @media only screen and (min-width: $medium) {
    line-height: $l-avatar;
    font-size: 3rem;
  }
}

.speaker-name {
  font-weight: 600;
  
  margin-right: 1rem;
  @media only screen and (min-width: $medium) {
    float: left;  
  }
}

.amanda-rosler,
.jason-snell,
.michael-lopp,
.linda-franco,
.jim-dalrymple,
.jennifer-brook,
.jean-macdonald {
  .speaker-initials {
    display: none;
  }
}

.amanda-rosler .speaker-image {
  background: url("/images/speakers/amanda-rosler.jpg") no-repeat;
  background-size: cover;
  background-position: -17px 0;
}

.jason-snell .speaker-image {
  background: url("/images/speakers/jason-snell.jpg") no-repeat;
  background-size: cover;
  background-position: -15px 0;
}

.michael-lopp .speaker-image {
  background: url("/images/speakers/michael-lopp.jpg") no-repeat;
  background-size: cover;
  background-position: 0px 0;
}

.jean-macdonald .speaker-image {
  background: url("/images/speakers/jean-macdonald.jpg") no-repeat;
  background-size: cover;
  background-position: -25px 0;
}

.linda-franco .speaker-image {
  background: url("/images/speakers/linda-franco.jpg") no-repeat;
  background-size: cover;
  background-position: -17px 0;
}

.jennifer-brook .speaker-image {
  background: url("/images/speakers/jennifer-brook.jpg") no-repeat;
  background-size: cover;
  background-position: -30px 0;
}

.jim-dalrymple .speaker-image {
  background: url("/images/speakers/jim-dalrymple.jpg") no-repeat;
  background-size: cover;
  background-position: 0px -20px;
}

//  Setting
// ---------------------------------------------------------

.setting img {
  width: 100%;
}


// Schedule
// ---------------------------------------------------------

.schedule-wrap {


  .further-col {
    width: 100%;
    margin: 0;
  }
  @media only screen and (min-width: $medium) {
   .title-col {
     width: 66%;
     margin-bottom: $t-leading;
   }
  }
}

.schedule {
  @include clearfix;
}


.days {
  @include clearfix;
}

.day {
  
  &:last-of-type {
    margin-right: 0;
    float: right;
  }

  @media only screen and (min-width: $medium) {
    width: 30%;
    float: left;
    margin-bottom: $t-leading;
    margin-right: 5%;
  }

  h3 {
    
    font-weight: 500;
    // margin-bottom: $t-leading/2;
  }
}


.time-container {
  position: relative;
  height: 65rem;
  margin-bottom: 2rem;

  margin-right: 5%;
  @media only screen and (min-width: $medium) {
    width: 30%;
    float: left;
  }

  &:last-of-type {
    @media only screen and (min-width: $medium) {
      margin-right: 0;
      float: right;
    }
  }

  &.monday .time-block {
    background: $c-red;
    &.break {
      background: #eee;
      color: #999;
    }
  }
  &.tuesday .time-block {
    background: $c-blue;
    &.break {
      background: #eee;
      color: #999;
    }
  }
  &.wednesday .time-block {
    background: $c-yellow;
  }
}

.time-block {
  background: $c-red;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  padding: 1rem 1rem 0;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.activity-name {
  float: left;
  font-weight: 600;
}

.activity-time {
  float: right;
}

.t-0 { top: 0;}
.t-1 { top: (100/28 + 0%)*1;}
.t-2 { top: (100/28 + 0%)*2;}
.t-3 { top: (100/28 + 0%)*3;}
.t-4 { top: (100/28 + 0%)*4;}
.t-5 { top: (100/28 + 0%)*5;}
.t-6 { top: (100/28 + 0%)*6;}
.t-7 { top: (100/28 + 0%)*7;}
.t-8 { top: (100/28 + 0%)*8;}
.t-9 { top: (100/28 + 0%)*9;}
.t-10 { top: (100/28 + 0%)*10;}
.t-11 { top: (100/28 + 0%)*11;}
.t-12 { top: (100/28 + 0%)*12;}
.t-13 { top: (100/28 + 0%)*13;}
.t-14 { top: (100/28 + 0%)*14;}
.t-15 { top: (100/28 + 0%)*15;}
.t-16 { top: (100/28 + 0%)*16;}
.t-17 { top: (100/28 + 0%)*17;}
.t-18 { top: (100/28 + 0%)*18;}
.t-19 { top: (100/28 + 0%)*19;}
.t-20 { top: (100/28 + 0%)*20;}
.t-21 { top: (100/28 + 0%)*21;}
.t-22 { top: (100/28 + 0%)*22;}
.t-23 { top: (100/28 + 0%)*23;}
.t-24 { top: (100/28 + 0%)*24;}
.t-25 { top: (100/28 + 0%)*25;}
.t-26 { top: (100/28 + 0%)*26;}
.t-27 { top: (100/28 + 0%)*27;}
.t-28 { top: (100/28 + 0%)*28;}

.d-0 { height: 0;}
.d-1 { height: (100/28 + 0%)*1;}
.d-2 { height: (100/28 + 0%)*2;}
.d-3 { height: (100/28 + 0%)*3;}
.d-4 { height: (100/28 + 0%)*4;}
.d-5 { height: (100/28 + 0%)*5;}
.d-6 { height: (100/28 + 0%)*6;}
.d-7 { height: (100/28 + 0%)*7;}
.d-8 { height: (100/28 + 0%)*8;}
.d-9 { height: (100/28 + 0%)*9;}
.d-10 { height: (100/28 + 0%)*10;}
.d-11 { height: (100/28 + 0%)*11;}
.d-12 { height: (100/28 + 0%)*12;}
.d-13 { height: (100/28 + 0%)*13;}
.d-14 { height: (100/28 + 0%)*14;}
.d-15 { height: (100/28 + 0%)*15;}
.d-16 { height: (100/28 + 0%)*16;}
.d-17 { height: (100/28 + 0%)*17;}
.d-18 { height: (100/28 + 0%)*18;}
.d-19 { height: (100/28 + 0%)*19;}
.d-20 { height: (100/28 + 0%)*20;}
.d-21 { height: (100/28 + 0%)*21;}
.d-22 { height: (100/28 + 0%)*22;}
.d-23 { height: (100/28 + 0%)*23;}
.d-24 { height: (100/28 + 0%)*24;}
.d-25 { height: (100/28 + 0%)*25;}
.d-26 { height: (100/28 + 0%)*26;}
.d-27 { height: (100/28 + 0%)*27;}
.d-28 { height: (100/28 + 0%)*28;}

// Sponsors
// ---------------------------------------------------------

.sponsors .further-col {
  margin-top: 6.5rem;
}

.sponsors img {
  width: 40%;
  float: left;
  &:first-of-type {
    margin-right: 10%;
    padding-top: 1.2rem;
  }
}

//  Footer
// ---------------------------------------------------------

footer {
  margin: 6rem auto;
  @media only screen and (min-width: $medium) {
    width: 100rem;
  }
  a {
    color: $c-red;
    text-decoration: none;
    font-weight: 500;
  }
}

.organiser {
  background: #eee;
  border-radius: 50%;
  @include square(5rem);
  display: block;
  background-image: no-repeat;
  @include hide-text;

  &.dermdaly {
    background: url("/images/organisers/dermdaly.jpg") no-repeat;
    background-size: cover;
  }
  &.sashaw {
    background: url("/images/organisers/sashaw.jpg") no-repeat;
    background-size: cover;
  }
  &.paulca {
    background: url("/images/organisers/paulca.png") no-repeat;
    background-size: cover;
  }
  &.kilmc {
    background: url("/images/organisers/kilmc.jpg") no-repeat;
    background-size: cover;
  }
}












