* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Variables
================================ */
/* Mixins
================================ */
/* Base
================================ */
body {
  background: white;
  color: #ec5d60;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 1.3em; }

a, a:link, a:visited {
  color: #70181a;
  text-decoration: none; }

/* Text
================================ */
.text p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2rem; }
.text h2 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-weight: 500; }
.text hr {
  background: #ec5d60;
  border: none;
  height: 2px;
  width: 40px;
  margin: 0 0 2em 0; }

/* Main Site
================================ */
@media only screen and (min-width: 850px) {
  .site-wrapper {
    margin: 4em auto; } }

.site-logo {
  font-size: 1em;
  font-weight: 300; }

.logo {
  display: block;
  margin: 2em auto;
  width: 5em; }
  @media only screen and (min-width: 850px) {
    .logo {
      margin-top: 0;
      width: 6em; } }

.year {
  color: #ec5d60;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin-top: 0.25em;
  position: relative;
  text-align: center; }

.date-location {
  text-align: center;
  font-size: 1.4em;
  margin-top: 2em;
  line-height: 1.3em; }
  .date-location sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 0.8em; }

.intro {
  position: relative;
  margin-bottom: 4rem; }

.introduction-wrap {
  padding: 5rem 0 2rem 0; }

.introduction {
  padding: 0 1em; }
  .introduction h2 {
    margin-bottom: 2.5rem; }
  .introduction p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem; }
  @media only screen and (min-width: 850px) {
    .introduction {
      width: 44rem;
      margin: 0 auto; }
      .introduction p {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 2rem; } }

.main-image {
  display: block;
  margin: 0 auto;
  padding: 3rem 1em 3rem 1em;
  width: 100%; }
  @media only screen and (min-width: 850px) {
    .main-image {
      padding: 4rem 0 6rem 0;
      max-width: 60rem; } }

.section-title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 1.3em 0 0.86667em; }

.date {
  position: absolute;
  top: 3em; }

/* Ticket Schedule
================================ */
.tickets-wrap {
  padding: 0 1em; }
  @media only screen and (min-width: 850px) {
    .tickets-wrap {
      margin: 4rem auto 20rem;
      width: 44rem; } }

.ticket {
  *zoom: 1;
  opacity: 0.3; }
  .ticket:before, .ticket:after {
    content: " ";
    display: table; }
  .ticket:after {
    clear: both; }
  .ticket.active {
    opacity: 1; }

.ticket-title,
.ticket-price {
  font-size: 1.2em;
  margin: 1.3em 0 0.43333em; }
  @media only screen and (min-width: 850px) {
    .ticket-title,
    .ticket-price {
      font-size: 2em; } }

.ticket-title {
  float: left; }

.ticket-price {
  float: right; }

.ticket-date {
  clear: left;
  color: #70181a;
  float: left;
  font-size: 0.9em; }
  @media only screen and (min-width: 850px) {
    .ticket-date {
      font-size: 1.2em;
      font-weight: 300; } }

/* Register Interest
================================ */
::-webkit-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

::-moz-placeholder {
  color: rgba(236, 93, 96, 0.5); }

:-ms-input-placeholder {
  color: rgba(236, 93, 96, 0.5); }

.register-interest-wrap {
  padding: 0 1em;
  margin: 5em auto 3em;
  *zoom: 1; }
  .register-interest-wrap:before, .register-interest-wrap:after {
    content: " ";
    display: table; }
  .register-interest-wrap:after {
    clear: both; }
  @media only screen and (min-width: 850px) {
    .register-interest-wrap {
      margin-top: 3em;
      width: 44rem; }
      .register-interest-wrap.pre-teaser {
        width: 30em; } }

.register-interest-form {
  float: left;
  margin-bottom: 4em;
  width: 70%; }

.register-name,
.register-email {
  background: url("../../images/line-short.png") bottom no-repeat;
  background-size: 100%;
  border: none;
  font-size: 1.5em;
  margin-bottom: 1em;
  outline: none;
  padding: 0.43333em 0;
  padding-bottom: 0.5em;
  width: 100%; }

.register-button {
  background: #ec5d60;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1.5em;
  padding: 0.75em 1em; }

.volunteer-image {
  float: right;
  margin-top: -3em;
  width: 25%;
  max-width: 170px; }
  @media only screen and (min-width: 850px) {
    .volunteer-image {
      margin-top: -10em; } }

.teapot {
  display: block;
  margin: 0 auto;
  width: 100px; }
