@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'reset';
@import 'helpers';


/* Base
================================ */

body {
  background: $c-bg;
  color: $c-red;
  font-family: $t-fam-primary;
  font-weight: $t-weight;
  line-height: $t-leading;
}

a, a:link, a:visited {
  color: $c-primary;
  text-decoration: none;
}


/* Text
================================ */

// Use the class "text" on any container specifically for textual content

.text {

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
  }

  hr {
    background: $c-red;
    border: none;
    height: 2px;
    width: 40px;
    margin: 0 0 2em 0;
  }
}


/* Main Site
================================ */

.site-wrapper {
  @media only screen and (min-width: $medium) {
    margin: 4em auto;
  }
}

// Logo

.site-logo {
  font-size: $t-size;
  font-weight: $t-weight;
}

.logo-year-wrap {

  @media only screen and (min-width: $medium) {

  }
}

.logo {
  display: block;
  margin: 2em auto;
  width: 5em;

  @media only screen and (min-width: $medium) {
    margin-top: 0;
    width: 6em;
  }
}

.year {
  color: $c-red;
  font-size: $t-size*1.5;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin-top: 0.25em;
  position: relative;
  text-align: center;
}

.date-location {
  text-align: center;
  font-size: 1.4em;
  margin-top: 2em;
  line-height: 1.3em;

  sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
   font-size: 0.8em;
  }
}

// Intro paragraph

.intro {
  position: relative;
  margin-bottom: 4rem;
}

.introduction-wrap {
  
  padding: 5rem 0 2rem 0;
}

.introduction {
  padding: 0 1em;

  h2 {
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }

  @media only screen and (min-width: $medium) {
    width: 44rem;
    margin: 0 auto;

    p {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.main-image {
  display: block;
  margin: 0 auto;
  padding: 3rem 1em 3rem 1em;
  width: 100%;

  @media only screen and (min-width: $medium) {
    padding: 4rem 0 6rem 0;
    max-width: 60rem;
  }
}

.section-title {
  font-size: 1.5em;
  font-weight: 700;
  margin: $t-leading*1 0 $t-leading/1.5;
}

.date {
  position: absolute;
  top: 3em;
}


/* Ticket Schedule
================================ */

.tickets-wrap {
  padding: 0 1em;
  
  @media only screen and (min-width: $medium) {
    margin: 4rem auto 20rem;
    width: 44rem;
  }
}

.ticket {
  @include clearfix;
  opacity: 0.3;
  &.active {
    opacity: 1;
  }
}

.ticket-title,
.ticket-price {
  font-size: $t-size*1.2;
  margin: $t-leading 0 $t-leading/3;

  @media only screen and (min-width: $medium) {
    font-size: $t-size*2;
  }
}

.ticket-title {
  float: left;
}

.ticket-price {
  float: right;
}

.ticket-date {
  clear: left;
  color: $c-brown;
  float: left;
  font-size: 0.9em;

  @media only screen and (min-width: $medium) {
    font-size: $t-size*1.2;
    font-weight: 300;
  }
}

/* Register Interest
================================ */

@include placeholder {
  color: rgba($c-red, 0.5);
}

.register-interest-wrap {
  padding: 0 1em;
  margin: 5em auto 3em;
  @include clearfix;

  @media only screen and (min-width: $medium) {
    margin-top: 3em;
    width: 44rem;
    
    &.pre-teaser {
      width: 30em;
    }
  }
}

.register-interest-form {
  float: left;
  margin-bottom: 4em;
  width: 70%;
}

.register-name,
.register-email {
  background: url("../../images/line-short.png") bottom no-repeat;
  background-size: 100%;
  border: none;
  font-size: $t-size*1.5;
  margin-bottom: 1em;
  outline: none;
  padding: $t-leading/3 0;
  padding-bottom: 0.5em;
  width: 100%;
}

.register-button {
  background: $c-red;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1.5em;
  padding: 0.75em 1em;
}

.volunteer-image {
  float: right;
  margin-top: -3em;
  width: 25%;
  max-width: 170px;

  @media only screen and (min-width: $medium) {
    margin-top: -10em;
  }
}

// SHAME!!!!!!!!

.teapot {
  display: block;
  margin: 0 auto;
  width: 100px;
}






