<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ullconf">
<meta name="twitter:creator" content="@ullconf">
<meta name="twitter:title" content="Úll 2015">
<meta name="twitter:description" content="A conference about great products.">
<meta name="twitter:image:src" content="/images/site/social-image.png">

<link rel="image_src" href="images/social-image.png" />

<meta property="og:site_name" content="Úll 2015"/>
<meta property="og:title" content="Úll: March 30th & 31st 2015" />
<meta property="og:description" content="A conference about great products." />
<meta property="og:type" content="article">
<meta property="og:url" content="http://2015.ull.ie"/>
<meta property="og:image" content="/images/site/social-image.png"/>
  
<link rel="shortcut icon" href="/images/teaser/favicon.ico"/> 
 
<script src="https://js.tito.io/v1" async></script>


<title>
  Úll 2015{% if url != '/site/home' %}{% if url != '/' %}{% if title %}: {{title}}{% endif %}{% endif %}{% endif %}
</title>
<!-- Included CSS Files -->
<!-- 
	<link rel="stylesheet" href="stylesheets/t_foundation.css">
	<link rel="stylesheet" href="stylesheets/t_app.css">
	<link rel="stylesheet" href="stylesheets/t_grid.css">
	<link rel="stylesheet" href="/stylesheets/site/fonts.css">
	<link rel="stylesheet" href="stylesheets/t_icons.css">
	<link rel="stylesheet" href="stylesheets/t_foundation-plus.css">	
	<link rel="stylesheet" href="stylesheets/text.css">	
	<link rel="stylesheet" href="stylesheets/buttons.css">	
	<link rel="stylesheet" href="stylesheets/form.css">	
-->
<link rel="stylesheet" href="/site/build/build.min.css">

<!--[if lt IE 9]>
  <link rel="stylesheet" href="stylesheets/t_ie.css">
<![endif]-->

<script src="/javascripts/site/t_modernizr.foundation.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
  <script src="javascripts/t_html5.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<!-- Ajax -->
<script src="/javascripts/site/ajaxify/jquery-scrollto.js"></script>
<script src="/javascripts/site/ajaxify/jquery.history.js"></script>
<script src="/javascripts/site/ajaxify/ajaxify-html5.js"></script>

</head>