<div id="m-menu">
  <div class="container pad-top">
    <div class="row">
      <div class="tablet-two">
      <ul class="text-s text-heavy sc no_ul block-grid two-up">
      <li><a href="/site/index" class="mm">Home</a></li>
      <li><a href="/site/speakers" class="mm">Speakers</a></li>
      <li><a href="/site/schedule" class="mm">Schedule</a></li>
      <li><a href="/site/logistics" class="mm">Logistics</a></li>
      <li><a href="/site/partners" class="mm">Partners</a></li>
      <li><a href="/site/blog" class="mm">Blog</a></li>
      <li><a href="/site/tickets" class="mm">Tickets</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>