/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols-regular-webfont.ttf") format("truetype"), url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
}

/* line 45, ../sass/screen.scss */
.websymbols {
  font-family: 'WebSymbolsRegular';
}

/* line 56, ../sass/screen.scss */
body {
  background: #292522 url(../images/broken_noise.png);
  color: #f0ebe5;
  font-family: "rooney-web",sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

/* line 66, ../sass/screen.scss */
a, a:link, a:visited {
  color: #f0ebe5;
  text-decoration: none;
}

/* line 75, ../sass/screen.scss */
.wrapper {
  *zoom: 1;
  margin: 0 auto;
  width: 1080px;
}
/* line 24, ../sass/screen.scss */
.wrapper:before, .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 31, ../sass/screen.scss */
.wrapper:after {
  clear: both;
}
@media only screen and (max-width: 1080px) {
  /* line 75, ../sass/screen.scss */
  .wrapper {
    width: 940px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 75, ../sass/screen.scss */
  .wrapper {
    width: 100%;
  }
}

/* line 87, ../sass/screen.scss */
.top-nav {
  *zoom: 1;
  margin: -84px auto 70px;
  height: 34px;
  z-index: -1;
  border-top: 2px #863531 solid;
  border-bottom: 2px #863531 solid;
}
/* line 24, ../sass/screen.scss */
.top-nav:before, .top-nav:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 31, ../sass/screen.scss */
.top-nav:after {
  clear: both;
}
@media only screen and (max-width: 1000px) {
  /* line 87, ../sass/screen.scss */
  .top-nav {
    width: 94%;
  }
}
@media only screen and (max-width: 760px) {
  /* line 87, ../sass/screen.scss */
  .top-nav {
    height: auto;
    margin: 20px auto 70px;
    padding: 6px 0 10px;
  }
}
/* line 106, ../sass/screen.scss */
.top-nav li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
  padding-top: 4px;
}
/* line 112, ../sass/screen.scss */
.top-nav li:nth-child(1) {
  left: 100px;
}
/* line 115, ../sass/screen.scss */
.top-nav li:nth-child(2) {
  left: 198px;
}
/* line 118, ../sass/screen.scss */
.top-nav li:nth-child(3) {
  left: 503px;
}
/* line 121, ../sass/screen.scss */
.top-nav li:nth-child(4) {
  left: 606px;
}
@media only screen and (max-width: 1080px) {
  /* line 126, ../sass/screen.scss */
  .top-nav li:nth-child(1) {
    left: 70px;
  }
  /* line 129, ../sass/screen.scss */
  .top-nav li:nth-child(2) {
    left: 148px;
  }
  /* line 132, ../sass/screen.scss */
  .top-nav li:nth-child(3) {
    left: 416px;
  }
  /* line 135, ../sass/screen.scss */
  .top-nav li:nth-child(4) {
    left: 486px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 141, ../sass/screen.scss */
  .top-nav li:nth-child(1) {
    left: 5%;
  }
  /* line 144, ../sass/screen.scss */
  .top-nav li:nth-child(2) {
    left: 10%;
  }
  /* line 147, ../sass/screen.scss */
  .top-nav li:nth-child(3) {
    left: 36%;
  }
  /* line 150, ../sass/screen.scss */
  .top-nav li:nth-child(4) {
    left: 40%;
  }
}
@media only screen and (max-width: 760px) {
  /* line 106, ../sass/screen.scss */
  .top-nav li {
    width: 100%;
    position: static;
    margin-top: 2px;
  }
}
/* line 161, ../sass/screen.scss */
.top-nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .9em;
}

/* line 169, ../sass/screen.scss */
.dividing-line {
  width: 70px;
  border-top: 2px solid #932829;
  margin: 0 auto;
}
/* line 173, ../sass/screen.scss */
.dividing-line.alt {
  border-top: 2px solid rgba(240, 235, 229, 0.1);
  margin: -10px auto 30px;
  width: 200px;
}

/* line 181, ../sass/screen.scss */
.section-title {
  width: 100%;
  border-top: 2px solid rgba(240, 235, 229, 0.1);
  margin: 100px auto 0;
  text-align: center;
}
/* line 187, ../sass/screen.scss */
.section-title.short {
  width: 400px;
}
/* line 191, ../sass/screen.scss */
.section-title span {
  position: relative;
  background: url(../images/broken_noise.png);
  color: #f0ebe5;
  display: inline-block;
  text-align: center;
  padding: 0 30px;
  font-size: 1.4em;
  top: -14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media only screen and (max-width: 750px) {
  /* line 203, ../sass/screen.scss */
  .section-title span.applewood {
    display: inline-block;
    width: 240px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 181, ../sass/screen.scss */
  .section-title {
    width: 94%;
  }
  /* line 213, ../sass/screen.scss */
  .section-title span {
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 0 15px;
  }
}

/* line 221, ../sass/screen.scss */
.sub-section-title {
  width: 100%;
  border-top: 2px solid rgba(240, 235, 229, 0.1);
  margin: 100px auto 0;
  text-align: center;
}
/* line 227, ../sass/screen.scss */
.sub-section-title.short {
  width: 400px;
}
/* line 231, ../sass/screen.scss */
.sub-section-title span {
  position: relative;
  background: url(../images/broken_noise.png);
  color: #f0ebe5;
  display: inline-block;
  text-align: center;
  padding: 0 30px;
  font-size: 1.2em;
  top: -14px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
@media only screen and (max-width: 750px) {
  /* line 243, ../sass/screen.scss */
  .sub-section-title span.applewood {
    display: inline-block;
    width: 240px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 221, ../sass/screen.scss */
  .sub-section-title {
    width: 94%;
  }
  /* line 253, ../sass/screen.scss */
  .sub-section-title span {
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 0 15px;
  }
}

/* line 261, ../sass/screen.scss */
.main-text {
  *zoom: 1;
  width: 800px;
  margin: 60px auto 100px;
}
/* line 24, ../sass/screen.scss */
.main-text:before, .main-text:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 31, ../sass/screen.scss */
.main-text:after {
  clear: both;
}
@media only screen and (max-width: 1000px) {
  /* line 261, ../sass/screen.scss */
  .main-text {
    width: 94%;
    margin-top: 20px;
    font-size: 0.85em;
  }
}
/* line 271, ../sass/screen.scss */
.main-text p {
  margin: 0 auto 20px auto;
  line-height: 1.35em;
}
/* line 275, ../sass/screen.scss */
.main-text p:list-child {
  margin-bottom: 50px;
}
/* line 280, ../sass/screen.scss */
.main-text h3 {
  margin: 0 auto 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 286, ../sass/screen.scss */
.main-text a, .main-text a:link, .main-text a:visited {
  font-weight: 500;
}
/* line 290, ../sass/screen.scss */
.main-text img {
  width: 100%;
  border: 8px solid #f0ebe5;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1000px) {
  /* line 290, ../sass/screen.scss */
  .main-text img {
    width: 97%;
    border: 4px solid #f0ebe5;
    margin: 0 auto 30px;
    display: block;
  }
}

/* line 303, ../sass/screen.scss */
.section-anchor {
  height: 40px;
  display: block;
  margin-top: -40px;
}

/* line 315, ../sass/screen.scss */
.introduction p {
  text-align: center;
  text-rendering: optimizelegibility;
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 321, ../sass/screen.scss */
.introduction p.about-ull {
  width: 400px;
  margin: 60px auto 30px;
}
@media only screen and (max-width: 400px) {
  /* line 321, ../sass/screen.scss */
  .introduction p.about-ull {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 331, ../sass/screen.scss */
.introduction p.date-location {
  margin: 30px auto 20px;
}
/* line 336, ../sass/screen.scss */
.introduction sup {
  vertical-align: super;
  font-size: 0.8em;
  margin-right: -3px;
}

/* line 343, ../sass/screen.scss */
.logo {
  background: url(../images/logo.png) no-repeat center, url(../images/broken_noise.png) #292623;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 120px;
  display: block;
  margin: 60px auto 0;
  position: relative;
  z-index: 5;
  padding: 10px 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 343, ../sass/screen.scss */
  .logo {
    background: url(../images/logo@2x.png) no-repeat center, url(../images/broken_noise.png) #292623;
    background-size: 80%, 100%;
  }
}

/* line 392, ../sass/screen.scss */
.session-links {
  margin: 0 26px 0 0;
  float: left;
}
/* line 395, ../sass/screen.scss */
.session-links a, .session-links a:link, .session-links a:visited {
  display: block;
}
@media only screen and (max-width: 1000px) {
  /* line 392, ../sass/screen.scss */
  .session-links {
    margin: 0 0 10px;
  }
}

/* line 409, ../sass/screen.scss */
.speakers {
  position: relative;
  margin: 40px auto 50px;
}
@media only screen and (max-width: 1080px) {
  /* line 409, ../sass/screen.scss */
  .speakers {
    width: 960px;
    margin: 40px auto 20px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 409, ../sass/screen.scss */
  .speakers {
    width: 760px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 409, ../sass/screen.scss */
  .speakers {
    width: 100%;
    margin-bottom: -30px;
  }
}

/* line 433, ../sass/screen.scss */
.speaker-box {
  height: 380px;
  width: 300px;
  float: left;
  margin: 30px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 40px 0 40px;
}
@media only screen and (max-width: 1080px) {
  /* line 433, ../sass/screen.scss */
  .speaker-box {
    margin: 10px 10px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 433, ../sass/screen.scss */
  .speaker-box {
    margin: 30px 40px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 433, ../sass/screen.scss */
  .speaker-box {
    float: none;
    margin: 30px auto;
  }
}
/* line 455, ../sass/screen.scss */
.speaker-box.matt {
  background: url(../images/speaker-box-logo-matt.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 455, ../sass/screen.scss */
  .speaker-box.matt {
    background: url(../images/speaker-box-logo-matt@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 455, ../sass/screen.scss */
  .speaker-box.matt {
    background-size: 40px 40px, 100%;
  }
}
/* line 470, ../sass/screen.scss */
.speaker-box.wave {
  background: url(../images/speaker-box-logo-wave.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 470, ../sass/screen.scss */
  .speaker-box.wave {
    background: url(../images/speaker-box-logo-wave@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 470, ../sass/screen.scss */
  .speaker-box.wave {
    background-size: 40px 40px, 100%;
  }
}
/* line 485, ../sass/screen.scss */
.speaker-box.amber {
  background: url(../images/speaker-box-logo-amber.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 485, ../sass/screen.scss */
  .speaker-box.amber {
    background: url(../images/speaker-box-logo-amber@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 485, ../sass/screen.scss */
  .speaker-box.amber {
    background-size: 40px 40px, 100%;
  }
}
/* line 500, ../sass/screen.scss */
.speaker-box.dave {
  background: url(../images/speaker-box-logo-dave.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 500, ../sass/screen.scss */
  .speaker-box.dave {
    background: url(../images/speaker-box-logo-dave@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 500, ../sass/screen.scss */
  .speaker-box.dave {
    background-size: 40px 40px, 100%;
  }
}
/* line 515, ../sass/screen.scss */
.speaker-box.jaimee {
  background: url(../images/speaker-box-logo-jaimee.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 515, ../sass/screen.scss */
  .speaker-box.jaimee {
    background: url(../images/speaker-box-logo-jaimee@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 515, ../sass/screen.scss */
  .speaker-box.jaimee {
    background-size: 40px 40px, 100%;
  }
}
/* line 530, ../sass/screen.scss */
.speaker-box.charles {
  background: url(../images/speaker-box-logo-charles.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 530, ../sass/screen.scss */
  .speaker-box.charles {
    background: url(../images/speaker-box-logo-charles@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 530, ../sass/screen.scss */
  .speaker-box.charles {
    background-size: 40px 40px, 100%;
  }
}
/* line 545, ../sass/screen.scss */
.speaker-box.jennifer {
  background: url(../images/speaker-box-logo-jennifer.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 545, ../sass/screen.scss */
  .speaker-box.jennifer {
    background: url(../images/speaker-box-logo-jennifer@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 545, ../sass/screen.scss */
  .speaker-box.jennifer {
    background-size: 40px 40px, 100%;
  }
}
/* line 560, ../sass/screen.scss */
.speaker-box.matthew {
  background: url(../images/speaker-box-logo-matthew.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 560, ../sass/screen.scss */
  .speaker-box.matthew {
    background: url(../images/speaker-box-logo-matthew@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 560, ../sass/screen.scss */
  .speaker-box.matthew {
    background-size: 40px 40px, 100%;
  }
}
/* line 575, ../sass/screen.scss */
.speaker-box.stephanie {
  background: url(../images/speaker-box-logo-stephanie.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 575, ../sass/screen.scss */
  .speaker-box.stephanie {
    background: url(../images/speaker-box-logo-stephanie@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 575, ../sass/screen.scss */
  .speaker-box.stephanie {
    background-size: 40px 40px, 100%;
  }
}
/* line 590, ../sass/screen.scss */
.speaker-box.don {
  background: url(../images/speaker-box-logo-don.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 590, ../sass/screen.scss */
  .speaker-box.don {
    background: url(../images/speaker-box-logo-don@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 590, ../sass/screen.scss */
  .speaker-box.don {
    background-size: 40px 40px, 100%;
  }
}
/* line 605, ../sass/screen.scss */
.speaker-box.steve {
  background: url(../images/speaker-box-logo-steve.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 605, ../sass/screen.scss */
  .speaker-box.steve {
    background: url(../images/speaker-box-logo-steve@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 605, ../sass/screen.scss */
  .speaker-box.steve {
    background-size: 40px 40px, 100%;
  }
}
/* line 620, ../sass/screen.scss */
.speaker-box.lex {
  background: url(../images/speaker-box-logo-lex.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 620, ../sass/screen.scss */
  .speaker-box.lex {
    background: url(../images/speaker-box-logo-lex@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 620, ../sass/screen.scss */
  .speaker-box.lex {
    background-size: 40px 40px, 100%;
  }
}
/* line 635, ../sass/screen.scss */
.speaker-box.horace {
  background: url(../images/speaker-box-logo-horace.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 635, ../sass/screen.scss */
  .speaker-box.horace {
    background: url(../images/speaker-box-logo-horace@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 635, ../sass/screen.scss */
  .speaker-box.horace {
    background-size: 40px 40px, 100%;
  }
}
/* line 650, ../sass/screen.scss */
.speaker-box.rands {
  background: url(../images/speaker-box-logo-rands.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 650, ../sass/screen.scss */
  .speaker-box.rands {
    background: url(../images/speaker-box-logo-rands@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 650, ../sass/screen.scss */
  .speaker-box.rands {
    background-size: 40px 40px, 100%;
  }
}
/* line 665, ../sass/screen.scss */
.speaker-box.gruber {
  background: url(../images/speaker-box-logo-gruber.png) no-repeat 220px 42px, url(../images/speaker-box-small.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 665, ../sass/screen.scss */
  .speaker-box.gruber {
    background: url(../images/speaker-box-logo-gruber@2x.png) no-repeat 220px 42px, url(../images/speaker-box-small@2x.jpg) no-repeat;
    background-size: 40px 40px, 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 665, ../sass/screen.scss */
  .speaker-box.gruber {
    background-size: 40px 40px, 100%;
  }
}

/* line 685, ../sass/screen.scss */
.speaker-box-content {
  color: #161411;
  position: relative;
  height: 320px;
  display: block;
}
@media only screen and (max-width: 1000px) {
  /* line 685, ../sass/screen.scss */
  .speaker-box-content {
    display: block;
  }
}
/* line 694, ../sass/screen.scss */
.speaker-box-content h3 {
  font-size: 1.5em;
  width: 160px;
  line-height: 1em;
  padding: 0;
  margin: 0 0 30px 0;
}
/* line 702, ../sass/screen.scss */
.speaker-box-content p {
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 20px;
}
/* line 707, ../sass/screen.scss */
.speaker-box-content p, .speaker-box-content h3 {
  font-weight: 400;
}

/* line 712, ../sass/screen.scss */
.speaker-links {
  position: absolute;
  bottom: 20px;
}
/* line 715, ../sass/screen.scss */
.speaker-links a {
  display: block;
  font-size: 0.9em;
  margin: 0 0 4px 0;
  color: #161411;
  font-weight: 400;
}
/* line 722, ../sass/screen.scss */
.speaker-links a:hover, .speaker-links a:focus, .speaker-links a:active {
  color: #932829;
}

/* line 732, ../sass/screen.scss */
.schedule {
  *zoom: 1;
}
/* line 24, ../sass/screen.scss */
.schedule:before, .schedule:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 31, ../sass/screen.scss */
.schedule:after {
  clear: both;
}

/* line 735, ../sass/screen.scss */
.day {
  padding: 120px 30px 0;
  text-align: center;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333%;
}
@media only screen and (max-width: 750px) {
  /* line 735, ../sass/screen.scss */
  .day {
    width: 100%;
  }
}
/* line 746, ../sass/screen.scss */
.day.friday {
  background: url(../images/friday-symbol.png) no-repeat 50% 30px;
}
/* line 750, ../sass/screen.scss */
.day.saturday {
  background: url(../images/saturday-symbol.png) no-repeat 50% 30px;
}
/* line 754, ../sass/screen.scss */
.day.sunday {
  background: url(../images/sunday-symbol.png) no-repeat 50% 30px;
}
/* line 758, ../sass/screen.scss */
.day h4 {
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 0.9;
  letter-spacing: 1px;
}
/* line 766, ../sass/screen.scss */
.day p {
  font-weight: 300;
}
/* line 770, ../sass/screen.scss */
.day dt {
  opacity: 0.5;
}
/* line 774, ../sass/screen.scss */
.day dd {
  margin-bottom: 20px;
}

/* line 783, ../sass/screen.scss */
.tickets {
  width: 440px;
  margin: 40px auto;
  color: #f0ebe5;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
}
/* line 791, ../sass/screen.scss */
.tickets .soon {
  margin-top: 33px;
}
/* line 795, ../sass/screen.scss */
.tickets .more-tickets {
  margin: 33px 0;
}
@media only screen and (max-width: 400px) {
  /* line 783, ../sass/screen.scss */
  .tickets {
    width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 804, ../sass/screen.scss */
  .tickets .ticket-name, .tickets .ticket-price {
    font-size: 0.8em;
  }
}
/* line 809, ../sass/screen.scss */
.tickets .more-details {
  width: 400px;
  margin: 20px auto;
}
@media only screen and (max-width: 400px) {
  /* line 809, ../sass/screen.scss */
  .tickets .more-details {
    width: 300px;
  }
}
/* line 817, ../sass/screen.scss */
.tickets .buttons {
  position: relative;
  height: 100px;
}
/* line 822, ../sass/screen.scss */
.tickets .ticket-name {
  float: left;
}
/* line 826, ../sass/screen.scss */
.tickets .ticket-price {
  float: right;
  position: relative;
  right: 40px;
}
/* line 832, ../sass/screen.scss */
.tickets .ticket-status {
  float: right;
}
/* line 836, ../sass/screen.scss */
.tickets .buttons input {
  position: absolute;
  top: 20px;
  right: 50%;
  width: 200px;
  margin-right: -100px;
  -webkit-appearance: none;
  color: #f0ebe5;
  background: transparent;
  border: 1px solid #f0ebe5;
  border-radius: 2px;
  font-size: 0.75em;
  padding: 4px 0 6px;
  font-family: "rooney-web",sans-serif;
  -webkit-transition: background 0.05s ease, color 0.05s ease;
  -moz-transition: background 0.05s ease, color 0.05s ease;
  -o-transition: background 0.05s ease, color 0.05s ease;
  transition: background 0.05s ease, color 0.05s ease;
}
/* line 852, ../sass/screen.scss */
.tickets .buttons input:hover {
  background: #f0ebe5;
  color: #161411;
}
@media only screen and (max-width: 400px) {
  /* line 836, ../sass/screen.scss */
  .tickets .buttons input {
    top: 30px;
  }
}

/* line 863, ../sass/screen.scss */
#discount-code-field input {
  width: 200px;
  height: 30px;
  border: none;
  font-size: .8em;
  text-align: left;
  -webkit-appearance: none;
  padding: 4px 6px 4px;
  border-radius: 2px;
  margin: 20px 0 0 0;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 875, ../sass/screen.scss */
#discount-code-field input:focus {
  outline: none;
}

/* line 881, ../sass/screen.scss */
#tito-register-form {
  margin: 0 auto;
  position: relative;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  /* line 881, ../sass/screen.scss */
  #tito-register-form {
    width: 300px;
  }
}
/* line 890, ../sass/screen.scss */
#tito-register-form p {
  font-size: 0.8em;
  margin: 20px auto 0;
  text-align: left;
}
/* line 896, ../sass/screen.scss */
#tito-register-form p.locked-msg {
  font-size: 14px;
  text-align: right;
  margin: 0;
}
/* line 900, ../sass/screen.scss */
#tito-register-form p.locked-msg span.websymbols {
  margin-right: 5px;
}

/* line 906, ../sass/screen.scss */
.ticket li {
  position: relative;
  margin: 20px 0 0 0;
}

/* line 911, ../sass/screen.scss */
.ticket {
  border-bottom: 2px solid #932829;
  padding: 0 0 20px 0;
}

/* line 916, ../sass/screen.scss */
.ticket-quantity-wrap {
  float: right;
  right: 0px;
  position: absolute;
}
/* line 920, ../sass/screen.scss */
.ticket-quantity-wrap .text-field {
  width: 30px;
  height: 30px;
  border: none;
  font-size: .8em;
  text-align: center;
  -webkit-appearance: none;
  padding: 4px 0 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 930, ../sass/screen.scss */
.ticket-quantity-wrap .text-field:focus {
  outline: none;
}

/* line 936, ../sass/screen.scss */
.light-button-style {
  -webkit-appearance: none;
  color: #f0ebe5;
  background: transparent;
  border: 1px solid #f0ebe5;
  border-radius: 2px;
  font-size: 0.75em;
  padding: 4px 20px 6px;
  margin: 0 auto;
  display: block;
  width: 200px;
  font-family: "rooney-web",sans-serif;
  -webkit-transition: background 0.05s ease, color 0.05s ease;
  -moz-transition: background 0.05s ease, color 0.05s ease;
  -o-transition: background 0.05s ease, color 0.05s ease;
  transition: background 0.05s ease, color 0.05s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/* line 951, ../sass/screen.scss */
.light-button-style:hover {
  background: #f0ebe5;
  color: #161411;
}

/* line 962, ../sass/screen.scss */
footer {
  margin: 130px auto 140px;
  color: #f0ebe5;
  font-size: 0.9em;
  line-height: 1.3em;
}
@media only screen and (max-width: 1080px) {
  /* line 962, ../sass/screen.scss */
  footer {
    margin: 130px auto 120px;
  }
}
@media only screen and (max-height: 610px) {
  /* line 962, ../sass/screen.scss */
  footer {
    margin: 170px auto 160px;
  }
}
/* line 976, ../sass/screen.scss */
footer p {
  padding-top: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
@media only screen and (max-width: 1080px) {
  /* line 976, ../sass/screen.scss */
  footer p {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 988, ../sass/screen.scss */
footer .final-paragraph {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 30px;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  /* line 988, ../sass/screen.scss */
  footer .final-paragraph {
    width: 100%;
    padding: 0 20px;
  }
}
/* line 999, ../sass/screen.scss */
footer a, footer a:link, footer a:visited {
  color: #f0ebe5;
  font-weight: 500;
}
/* line 1004, ../sass/screen.scss */
footer a:hover, footer a:focus, footer a:active {
  color: #fdfcfa;
}
/* line 1008, ../sass/screen.scss */
footer ul {
  width: 300px;
  margin: 0 auto;
}
/* line 1011, ../sass/screen.scss */
footer ul a, footer ul a:link, footer ul a:visited {
  text-align: center;
  margin: 10px 0 0 0;
  width: 300px;
  display: block;
}
/* line 1017, ../sass/screen.scss */
footer ul a:hover, footer ul a:focus, footer ul a:active {
  color: #fdfcfa;
}

/* line 1023, ../sass/screen.scss */
.sponsor-row {
  *zoom: 1;
}
/* line 24, ../sass/screen.scss */
.sponsor-row:before, .sponsor-row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 31, ../sass/screen.scss */
.sponsor-row:after {
  clear: both;
}

/* line 1028, ../sass/screen.scss */
.sponsor-row.oak > .sponsor {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 480px) {
  /* line 1028, ../sass/screen.scss */
  .sponsor-row.oak > .sponsor {
    width: 100%;
  }
}

/* line 1038, ../sass/screen.scss */
.sponsor-row.pine > .sponsor {
  width: 50%;
  float: left;
}

/* line 1046, ../sass/screen.scss */
.sponsor img {
  display: block;
  margin: 0 auto;
}
/* line 1052, ../sass/screen.scss */
.sponsor.dropbox img {
  width: 50%;
  margin: 70px auto 0 auto;
}
@media only screen and (max-width: 480px) {
  /* line 1052, ../sass/screen.scss */
  .sponsor.dropbox img {
    width: 80%;
  }
}
/* line 1062, ../sass/screen.scss */
.sponsor.converser img {
  width: 60%;
  margin-top: 40px;
  margin-right: 40px;
}
@media only screen and (max-width: 480px) {
  /* line 1062, ../sass/screen.scss */
  .sponsor.converser img {
    width: 55%;
    margin: 40px auto 0;
  }
}
/* line 1072, ../sass/screen.scss */
.sponsor.enterprise-ireland img {
  width: 50%;
  margin-top: 40px;
  margin-left: 60px;
}
@media only screen and (max-width: 480px) {
  /* line 1072, ../sass/screen.scss */
  .sponsor.enterprise-ireland img {
    margin: 40px auto 0;
  }
}
/* line 1084, ../sass/screen.scss */
.sponsor.github img {
  width: 22%;
  margin-top: 50px;
  margin-right: 70px;
}
@media only screen and (max-width: 480px) {
  /* line 1084, ../sass/screen.scss */
  .sponsor.github img {
    width: 40%;
    margin: 40px auto 0;
  }
}
/* line 1094, ../sass/screen.scss */
.sponsor.project-zebra img {
  width: 30%;
  margin-top: 50px;
  margin-left: 70px;
}
@media only screen and (max-width: 480px) {
  /* line 1094, ../sass/screen.scss */
  .sponsor.project-zebra img {
    width: 50%;
    margin: 40px auto 0;
  }
}

/* line 1109, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 1110, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 1111, ../sass/screen.scss */
.clearfix {
  zoom: 1;
}

/* line 1113, ../sass/screen.scss */
.ir {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
