<%= erb :'teaser/details' %>

<span id="interest">Register Your Interest</span>
           
<form name="input" method="POST" action="/" id="email-submit">
  <input type="email" placeholder="email" name="email" id="email" required/>
  <input id="submit-button" type="submit" value="Submit" />
</form> 
</div> <!-- End Copy -->