<!DOCTYPE html>
<html>
  <head>
    <title>&Uacute;ll</title>
    <link rel="stylesheet" href="/teaser/style.css">
    <link rel="shortcut icon" href="/teaser/images/ull_favicon.png">
    <link rel="icon" href="/teaser/images/ull_favicon.png">
    <script type="text/javascript" src="http://use.typekit.com/khy6vgi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0 user-scalable=no" /> 
    
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    
    
    <script>
    $(document).ready( function(){
      $("#logo").click(function () {
        $("#easterEgg").slideToggle();
      });
    });
    
    </script>
    
  </head>
  <body>
    <div id="wrapper">
      <hr id="topline">
        <img src="/teaser/images/ull_logo_large.png" id="logo" alt="logo" />
        <div id="bg" class="clearfix">
          <div id="easterEgg" class="hide">
            <img src="/teaser/images/monkey-baby.png" alt="drunkenMonkey" />
            <a href="http://hypertiny.ie/" id="htLink">Hypertiny</a>
          </div>
          <div class="copy">
            <p class="date">
              Dublin, April 27<sup>th</sup> &ndash; 29<sup>th</sup>, 2012
            </p>
        
            <p class="first">
              &Uacute;ll is a conference for iOS, Mac OS X, and mobile web developers &amp; designers.
            </p>
            
            <p>
              Over three days, we'll have workshops, keynotes, stories and memories from some of the finest folks in the world who love to use, talk about and make great things with Apple products.
            </p>
            
            <p class="last">
              We'd love for you to be there.
              <cite>
                &mdash; <a href="http://twitter.com/paulca">Paul</a>
                        &amp;
                        <a href="http://twitter.com/dermdaly">Dermot</a>
              </cite>
            </p>
            
            <span id="interest">Register Your Interest</span>
                       
            <form name="input">
              <input type="email" placeholder="email" name="email" id="email" />
              <input id="submit-button" type="submit" value="Submit" />
            </form> 
          </div> <!-- End Copy -->
      
        </div> <!-- End bg -->
    
    </div> <!-- End Wrapper -->
  </body>
</html>
