/*
Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.
        on line 129 of style.scss.css

124:    These override the primary ('mobile first') styles
125:    Modify as content requires.
126:    ========================================================================== */
127: 
128: 
129:  html, body, h3, p, tr, td, {
130:  margin: 0;
131:  padding: 0;
132: }
133: 
134: 

Backtrace:
style.scss.css:129
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:426:in `try_comment'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:396:in `block in tabulate'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:366:in `each'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:366:in `each_with_index'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:366:in `tabulate'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:329:in `_to_tree'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:293:in `block (4 levels) in watch'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/bin/sass:19:in `load'
/Users/kilmc/.rvm/gems/ruby-1.9.3-p0-falcon/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.\A         on line 129 of style.scss.css\A \A 124:    These override the primary ('mobile first') styles\A 125:    Modify as content requires.\A 126:    ========================================================================== */\A 127: \A 128: \A 129:  html, body, h3, p, tr, td, {\A 130:  margin: 0;\A 131:  padding: 0;\A 132: }\A 133: \A 134: "; }
