// 

@mixin box-sizing {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin border-radius-full($rad1, $rad2, $rad3, $rad4) {
  -webkit-border-radius: $rad1 $rad2 $rad3 $rad4;
  -moz-border-radius: $rad1 $rad2 $rad3 $rad4;;
  border-radius: $rad1 $rad2 $rad3 $rad4;;
}

@mixin box-shadow($horz, $vert, $blur, $color) {
  -webkit-box-shadow: $horz $vert $blur $color;
  -moz-box-shadow: $horz $vert $blur $color;
  box-shadow: $horz $vert $blur $color;
}

@mixin linear-gradient($pos, $color1, $percent1, $color2, $percent2) {
  background-image: linear-gradient($pos, $color1 $percent1, $color2 $percent2);
  background-image: -o-linear-gradient($pos, $color1 $percent1, $color2 $percent2);
  background-image: -moz-linear-gradient($pos, $color1 $percent1, $color2 $percent2);
  background-image: -webkit-linear-gradient($pos, $color1 $percent1, $color2 $percent2);
  background-image: -ms-linear-gradient($pos, $color1 $percent1, $color2 $percent2);
}

//


@font-face {
  font-family: "WebSymbolsRegular";
  src: url("/main/fonts/websymbols-regular-webfont.eot");
  src: url("/main/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/main/fonts/websymbols-regular-webfont.woff") format("woff"),
       url("/main/fonts/websymbols-regular-webfont.ttf") format("truetype"),
       url("/main/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  
}

@mixin museo {
  font-family: museo-sans,sans-serif;
}

@mixin rooney {
  font-family: rooney-web,sans-serif;
}


/*BOILERPLATE STUFF*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

input[type=submit] {
  -webkit-appearance: none;
}

img {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  z-index: 5;
}

.bronze-logos {
  position: absolute;
  width: 920px;
  height: 240px;
  .bronze {
    position: relative;
    display: inline-block;
    img {
      box-shadow: none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }
  .barebones {
    left: 110px;
  }
  .github {
    left: 188px;
    top: 8px;
    img {
      width: 120px;
    }
  }
  .ndrc {
    left: 270px;
    top: 10px;
    img {
      width: 140px;
    }
  }
  .realex {
    left: 0;
    top: 100px; 
    img {
      width: 210px;
    }   
  }
  .failte {
    left: 184px;
    top: 50px;
    img {
      width: 240px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .sponsor-type {
    margin-top: 50px;
  }
  .bronze-logos {
    position: static;
    width: 100%;
    height: auto;
    .bronze {
      position: static;
      display: block;
      margin: 26px auto;
      img {
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }
    .barebones {
      left: 110px;
    }
    .github {

      img {
        width: 120px;
      }
    }
    .ndrc {
      img {
        width: 140px;
      }
    }
    .realex {
      img {
        width: 210px;
      }   
    }
    .failte {
      img {
        width: 240px;
      }
    }
  }
}

.logo {
  display: block;
  margin: 0 auto;
  img {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  &.ei {
    img {
      width: 220px;
    }
  }
  &.engineyard {
    img {
      width: 120px;
    }
  }
}

article {
  width: 90%;
  margin: 0 auto;
}

#speakers { 
 padding-top: 100px;
}

#workshops, #sessions { 
 padding-top: 100px;

}



                                                       /*TICKETS SECTION*/

#tickets { 
 padding-top: 100px;
 margin-bottom: 60px;
}



header {
  width: 920px;
  margin: 0 auto;
  padding: 0;
}
abbr {
  border: none; }
h3 a {
  color: #333;
  font-weight: 900;
  font-family: museo-sans,sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.coming-soon {
  color: #b2a6a1 !important;
  cursor: default;
}


#topLine { 
  display: none;
  clear: left;
}

article p {
  font-family: rooney-web,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.2em;
  width: 268px;
  margin: 0;
  padding: 10px 0 10px 0;
  background: transparent;
}

h3 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  color: #000;
  margin-top: 18px; 
  font-family: rooney-web,sans-serif;
}

#additional {
  .sectionTitle {
    width: 200px;
  }
}

#benefits, #sponsors {
  padding-top: 100px;
  margin-top: 100px;
  h3 { 
    width: 640px;
    margin: 0 auto 0 auto;
  }
}











/*Pasted from Schedule Code*/


//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////

// Refactored Code

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: museo-sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  background: #fff;
  background: url("/main/images/cream_pattern.png");
  margin: 0;
  font-size: 13px;
  
}

a {
  text-decoration: none;
}

p {
  @include box-sizing;
  padding: 0;
  font-size: 1em;
  font-family: rooney-web,sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #333;
  line-height: 1.3em;
}

@media only screen and (max-width: 480px) {
  p {
    padding: 10px;
  }
}


h2 { 
  text-transform: uppercase;
  padding: 5px;
  z-index: 1;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 900;
  color: #000;
  margin-top: 10px;
}


// Overall container for the site
#container { 
  width: 920px; 
  margin: 0 auto;
  overflow: visible
}

@media only screen and (max-width: 480px) {
  #container {
   width: 100%;
   z-index: 1;
   margin-top: 40px;
   overflow: hidden;
  }
}


// Container for the main navigation. This allows the navigation to be fixed and the ul can be centered inside of it
.main-nav { 
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

// Ul which contains all the text links in the nav menu
.main-nav-list {
  background: url("/main/images/bgnoise_dark.jpg");
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-family: museo-sans,sans-serif;
  font-weight: 900;
  font-size: 1.1em;
  height: 40px;
  letter-spacing: .1em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 920px;
  &.show-hide {
    display: block;
  }
  li {
    float: left;
    margin-top: 12px;
    width: 130px;
    font-size: 1em;
    &:nth-child(1) {
      visibility: hidden;
      display: none; 
    }
    &:nth-child(2) {
      margin-left: 46px; 
    }
    &:nth-child(3) {
      margin-left: -2px; 
    }
    &:nth-child(4) {
      margin-left: 4px; 
    }
    &:nth-child(5) {
      margin-left: 96px; 
    }
    &:nth-child(6) {
      margin-left: 19px;
    }
    &:nth-child(7) {
      margin-left: -7px;
      width: 77px; 
    }
  }
  a {
    color: #FFF;
    &:hover {
      color: #B84A4B;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main-nav-list {
    width: 100%;
    height: 184px;
    background: #ccc;
    margin: 0;
    padding: 20px 0 0 0;
    -moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,.17);
    -webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,.17);
    box-shadow:inset 0px 0px 5px rgba(0,0,0,.17);
    font-style: normal;
    font-weight: 900;
    color: #333;
    text-align: center;
    &.show-hide {
      display: none;
    }
    a {
      color: #333;
      text-decoration: none;
      outline: none;
    }
    li {
      font-size: 1.5em;
      color: #fff;
      list-style-type: none;
      width: 200px;
      float: none;
      &:nth-child(1), 
      &:nth-child(2), 
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        margin: 2px auto; 
      }
      &:nth-child(7) {
        width: 200px;
      }
    }
  }
}

// The Úll logo centered in the nav
.main-nav-home-link {
  background: url("/main/images/ull_logo_large.png");
  width: 70px;
  height: 74px;
  margin: -41px auto 0 auto;
}

// Fixes small bug that made the logo move as the browser was resized below 920 px until the mobile media query kicks in
@media only screen
and (min-width: 480px)
and (max-width: 920px) {
  .main-nav-home-link {
    position: absolute;
    top: 40px;
    left: 423px;
  }
}

.mobile-nav-bar {
  display: none;
}

.mobile-nav-logo {
  display: none;
}

@media only screen and (max-width: 480px) {
  // Dark bar at the top of the screen
  .mobile-nav-bar { 
   height: 40px; 
   border: 0;
   background: url("/main/images/bgnoise_dark.jpg");
   margin: 0 0 -40px 0;
   -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
   -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
   box-shadow: 0px 0px 8px rgba(0,0,0,.3);
   display: block;
  }
  
  // left aligned logo in mobile version which toggles the menu visibiliby
  .mobile-nav-logo {
    background: url("/main/images/mobileIcon.png");
    width: 62px;
    height: 66px;
    display: block;
    text-indent: -9999px;
    margin-left: 10px;
  }
  
  .main-nav-home-link {
    display: none;
  }
}

// continer for generic content sections
.content-section {
  &.home {
    padding: 90px 0 0 0;
  }
  @media only screen and (max-width: 480px) {
    &.home {
      padding: 0;
    }
  }
}

// Container for the home section
.home {

  // Main hero image at the top of the home section 
  .home-hero {
    width: 846px;
    height: 368px;
    margin: 0 auto;
    background: url("/main/images/coach-house-cropped_red_varient_s.jpg") no-repeat;
  }
  
  // Outline copy of what Úll is
  p {
    font-size: 1.8em;
    width: 89%;
    color: #222;
    line-height: 1.5em;
    font-family: rooney-web,sans-serif;
    font-style: normal;
    font-weight: 300; 
    margin: 10px auto;
    text-align: center;
    padding-top: 2ex;
  }
}

@media only screen and (max-width: 480px) {
  .home {
    padding: 0;
    .home-hero {
      background: url("/main/images/coach-house-cropped_red_varient_s.jpg") 50% 0 no-repeat;
      width: 100%;
    }
    p {
      font-size: 1.3em;
      width: 95%;
      color: #fff;
      line-height: 1.3em;
      font-family: rooney-web,sans-serif;
      font-style: normal;
      font-weight: 500; 
      margin: 10px auto 20px auto;
      text-align: center;
      padding-top: 2ex;
      position: relative;
    }
    br {
      display: none;
    }
    .home-outline {
      margin: -330px auto 20px;
    }
  }
}

.ticket-info, .additional-info {
  @include box-sizing;
  width: 640px;
  margin: 10px auto 28px auto;
  color: #222;
  font-size: 1.4em;
  padding: 0;
  &.demoted {
    font-size: 1em;
  }
  a {
    color: #000;
    font-weight: bold;
  }
  &.push {
    margin-top: 310px;
    @media only screen and (max-width: 480px) {
      margin-top: 80px;
    }
  }
}

.paragraph-title {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  color: black;
  margin-top: 14px;
  @include rooney;
}


@media only screen and (max-width: 480px) {
  .ticket-info, .additional-info, .body-text {
    width: 100%;
    margin: 0 auto 20px auto;
    color: #222;
    font-size: 1.2em;
    padding: 10px;
    @include box-sizing;
  }
}


@media only screen and (max-width: 480px) {
  h3 {
    @include box-sizing;
    padding: 0 10px;
    font-size: .8em;
  }
}

.section-line {
  height: 1px;
  border: none;
  background-color: #333;
  margin: 0 auto;
  padding: 0;
  width: 864px;
}

.section-title {
  margin: -18px auto 30px;
  font-weight: 900;
  width: 130px;
  background: url("/main/images/cream_pattern.png");
  &.additional {
    width: 220px;
  }
  &.sponsors {
    width: 310px;
  }
}

@media only screen and (max-width: 480px) {
  .section-line {
    height: 1px;
    border: none;
    background-color: #333;
    margin: 0 auto;
    padding: 0;
    width: 94%;
  }

  .sectionTitle {
    margin: -18px auto 30px;
    font-weight: 900;
    width: 130px;
    background: url("/main/images/cream_pattern.png");
    font-size: 1.2em;
  }
}
  
.speaker-group {
  margin: 0 0 0 28px;
}

h3 .speaker {
  font-size: 1.5em;
  background-color: #BF132A;
  padding: 7px 0 4px 0;
  display: block;
  color: #fff;
  margin: 0 auto 40px auto;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  width: 288px;
}

.speaker-container {
  width: 268px;
  float: left;
  margin: 0 0 50px 31px;
  &:nth-child(1) {
    margin: 0 0 50px 0px;
  }
  .speaker-name {
    font-size: 1.4em;
    padding: 7px 0 4px 0;
    display: block;
    color: #333;
    margin: 0 auto 40px auto;
    z-index: 1;
    width: 268px;
    @include museo;
    display: block;
    font-weight: 900;
    margin: 18px 0 10px 0;
    padding: 0;
  }
  .speaker-description {
    color: #222;
    height: 220px;
    border-bottom: 1px solid #333;
    a {
      color: #222;
      font-weight: bold;
      text-transform: none;
    }
  }
  .speaker-image {
    width: 100%;
  }
}



@media only screen and (max-width: 480px) {
  .speaker-group {
    margin: 0 0 0 0;
  }
  .speaker-container {
    font-weight: 700;
    color: #3a9bd9;
    text-decoration: none;
    margin-bottom: 10px;
    width: 100%;
    float: none;
    margin: 0 auto;
    &:nth-child(1) {
      margin: 0;
    }
    .speaker-name {
      font-size: 1.4em;
      background: transparent;
      padding: 0;
      display: block;
      margin: 10px 0 6px 10px;
      text-align: left;
      letter-spacing: .05em;
      color: #333333;
      @include museo;
    }
    .speaker-image {
      width: 94%;
      margin: 0 auto;
    }
    .speaker-description {
      font-family: rooney-web,sans-serif;
      border-bottom: 1px solid #333;
      height: 100%;
      padding: 20px 0;
      width: 94%;
      margin: 0 auto 6px auto;
      color: #222;
      font-size: 1.2em;
      a {
        color: #333;
        font-weight: bold;
        text-transform: none;
      }
    }
  }
}


.twitter-container {
  width: 100%;
  margin: 6px auto 30px;
  .twitter {
    display: block;
    padding: 1px 0 0 3px;  
  }
  .speaker-twitter {
    color: #333;
    font-size: 1.2em;
    float: none;
    margin: 6px 0 0 0;
    @include rooney;
    &:before {
      content: "@";
    }
  }
}

@media only screen and (max-width: 480px) {
  .twitter-container {
    width: 94%;
    margin: 0 auto 30px;
    .twitter {
      display: block;
      padding: 1px 0 0 3px;  
    }
    .speaker-twitter {
      color: #333;
      font-size: 1.2em;
      float: none;
      margin: 3px 0 0 0;
      @include rooney;
      &:before {
        content: "@";
      }
    }
  }
}

#schedule {   
  padding-top: 100px;
}

.schedule-wrap {
  margin: 0 0 0 20px;
}

.schedule-day {
  width: 268px;
  float: left;
  margin: 0 0 50px 31px;
  &:first-child {
    margin: 0 0 50px 8px;
  }
  h3 {
    font-size: 1.3em;
  }
  .venue-name {
    margin: 0;
    background: #333333;
    padding: 6px 0;
    @include border-radius-full(0,0,4px,4px);
    text-align: center;
    font-size: 1.2em;

    a, a:link, a:visited {
      color: #F5F3EA;
      @include rooney;
      font-weight: 500;
    }
  }
  .subsection-line {
    height: 1px;
    border: none;
    background-color: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 640px;
  }
  .subsection-title {
    margin: 0 auto 10px;
    font-weight: 500;
    background: url("/main/images/cream_pattern.png");
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000; 
    font-family: museo-sans,sans-serif;
    font-style: normal;
    font-weight: 900; 
    sup {
      text-transform: lowercase;
    }
  }
  img {
    width: 100%;
  }
  a {
    color: #000;
  }
}

.schedule-details {
  margin: 0 auto 20px;
  dt {
    background: url("/main/images/cream_pattern.png");
    padding: 10px;
    text-align: center;
    margin: -20px auto -20px auto;
    width: 14%;
  }
  dd {
    margin: 0;
    margin-bottom: 20px;
    h3 {
      margin: 18px 0 0 0;
      font-size: 1.3em;
      text-align: center;
      font-weight: 900;
    }
    p {
      font-size: 1.4em;
      color: #333;
    }
  }
  dl {
    hr {
      height: 1px;
      border: none;
      background-color: #ccc;
      margin: 0 auto;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .schedule-wrap {
    margin: 0;
  }

  .schedule-day {
    width: 100%;
    float: none;
    margin: 0 auto 50px;
    display: block;
    &:first-child {
      margin: 0 auto 50px;
    }
    h3 {
      font-size: 1.3em;
    }
    .venue-name {
      margin: 0;
      background: #333333;
      padding: 6px 0;
      @include border-radius-full(0,0,4px,4px);
      text-align: center;
      font-size: 1.2em;

      a, a:link, a:visited {
        color: #F5F3EA;
        @include rooney;
        font-weight: 500;
      }
    }
    .subsection-line {
      height: 1px;
      border: none;
      background-color: #ccc;
      margin: 0 auto;
      padding: 0;
      width: 640px;
    }
    .subsection-title {
      margin: 0 auto 10px;
      font-weight: 500;
      background: url("/main/images/cream_pattern.png");
      font-size: 1.4em;
      text-transform: uppercase;
      color: #000; 
      font-family: museo-sans,sans-serif;
      font-style: normal;
      font-weight: 900; 
      sup {
        text-transform: lowercase;
      }
    }
    img {
      width: 100%;
    }
    a {
      color: #000;
    }
  }

  .schedule-details {
    margin: 0 auto 20px;
    padding: 10px;
    dt {
      background: url("/main/images/cream_pattern.png");
      padding: 10px;
      text-align: center;
      margin: -20px auto -20px auto;
      width: 14%;
    }
    dd {
      margin: 0;
      margin-bottom: 20px;
      h3 {
        margin: 18px 0 0 0;
        font-size: 1.3em;
        text-align: center;
        font-weight: 900;
      }
      p {
        font-size: 1.4em;
        color: #333;
      }
    }
    dl {
      hr {
        height: 1px;
        border: none;
        background-color: #ccc;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}


.workshop-list, .session-list {
  margin: 0;
  a {
    color: #222;
  }
  dt {
    padding: 0;
    margin: 20px auto 0 auto;
    width: 640px;
    display: block;
  }
  dd {
    font-size: 1em;
    width: 640px;
    margin: 0 auto;
  }
  .register {
    font-weight: 900;
    margin: 0 0 0 120px;
  }
  cite {
    margin: 5px auto 10px;
    display: block;
    a {
      color: #222;
    }
  }
}

@media only screen and (max-width: 480px) {
  .workshop-list, .session-list {
    dt, cite {
      width: 100%;
      padding: 0 10px;
    }
    dd {
      width: 100%;
    }
    .register {
      margin: 0;
    }
  }
}



#tito-register-form {
  font-size: 1.5em;
  width: 70%;
  color: #222;
  line-height: 1.5em;
  font-family: rooney-web,sans-serif;
  margin: 0 auto;
  .ticket {
    text-align: left;
    margin: 20px 0 0 0;
    border-bottom: 1px solid #DCCBBF;
    padding-bottom: 10px;
    dt {
      display: none;
    }
    dd {
      display: inline;
      font-size: 1em;
      margin: 0;
      label {
        margin: 0 0 0 0;
        width: 280px;
        display: inline-block;
      }
      &.ticket-price {
        margin: 0 0 0 208px;
        display: inline-block;
        width: 110px;
        text-align: right;
        float: none;
      }
      &.ticket-name {
        width: 200px;
      }
    }
  }
  input { 
    &.text-field {
      background: white;
      width: 22px;
      float: right;
      margin: -38px 0 0 0;
      padding: 3px 1px 0 0;
      height: 20px;
      text-align: center;
      -webkit-appearance: none;
    }
  }
  .buttons {
    float: right;
    margin: 20px 0;
    border: none;
    padding: 0;
    input {
      background: #C10A26;
      border: none;
      color: #FFFFFF;
      border-radius: 4px;
      padding: 6px 10px;
      font-size: .8em;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  #tito-register-form {
    width: 94%;
    .ticket {
      dd {
        label {
          width: 210px;
        }
        &.ticket-price {
          margin: 0 35px 0 0;
          width: 50px;
          float: right;
          font-size: 0.8em;
        }
        &.ticket-name {
          font-size: 0.8em;
        }
      } 
    }
  }
}

footer {
  width: 920px;
  margin: 60px auto 30px auto;
  font-size: 1em;
  color: #222;
  padding: 4px 0 0px 0;
  border-top: 1px solid #999;
  p {
    color: #222;
    width: 261px;
     &.brought {
       float: left;
       width: 340px;
     }
     &.questions {
       float: right;
       text-align: right;
       line-height: 1.6em;
     }
   }
  a {
    color: #222;
    font-weight: bold;
    text-transform: none;
  }
}

@media only screen and (max-width: 480px) {
  .info {
    font-size: 1.4em;
    color: #222;
    margin: 0;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #benefits, #sponsors {
    h3 {
      width: 100%
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    width: 94%;
    margin: 60px auto 30px auto;
    font-size: 1.2em;
    color: #222;
    padding: 4px 0 0px 0;
    border-top: 1px solid #333;
    p {
      color: #222;
      width: 100%;
       &.brought {
         float: none;
         width: 100%;
       }
       &.questions {
         float: none;
         text-align: left;
         line-height: 1.6em;
       }
    }
    a {
      color: #222;
      font-weight: bold;
      text-transform: none;
    }
  }  
}