/*  --------------------------------------------------
    :: Icon fonts
-------------------------------------------------- */
    /* Foundation Icons General */
  @font-face {
    font-family: 'FoundationIconsGeneral';
    src: url('/icons/teaser/foundation-icons-general.eot');
    src: url('/icons/teaser/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
         url('/icons/teaser/foundation-icons-general.woff') format('woff'),
         url('/icons/teaser/foundation-icons-general.ttf') format('truetype'),
         url('/icons/teaser/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /* CSS to style glyphs */
  .glyph.small   { font-size: 11px; line-height: 1; }
  .glyph       { font-size: 16px; line-height: 1; }
  .glyph.large    { font-size: 20px; line-height: 1;  }
  .glyph.xlarge   { font-size: 30px; line-height: 1; }

  .glyph.general { font-family: "FoundationIconsGeneral";-webkit-font-smoothing: antialiased; }
  
  
  
  /* Foundation Icons General Enclosed */
  @font-face {
      font-family: 'FoundationIconsGeneralEnclosed';
      src: url('/icons/teaser/foundation-icons-general-enclosed.eot');
      src: url('/icons/teaser/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
           url('/icons/teaser/foundation-icons-general-enclosed.woff') format('woff'),
           url('/icons/teaser/foundation-icons-general-enclosed.ttf') format('truetype'),
           url('/icons/teaser/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
      font-weight: normal;
      font-style: normal;
  
  }
  
  .glyph.general-enclosed { font-family: "FoundationIconsGeneralEnclosed";-webkit-font-smoothing: antialiased; }
  
  
  
  /* Foundation Icons Social */
  @font-face {
      font-family: 'FoundationIconsSocial';
      src: url('/icons/teaser/foundation-icons-social.eot');
      src: url('/icons/teaser/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
           url('/icons/teaser/foundation-icons-social.woff') format('woff'),
           url('/icons/teaser/foundation-icons-social.ttf') format('truetype'),
           url('/icons/teaser/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
      font-weight: normal;
      font-style: normal;
  
  }
  
  /* CSS to style glyphs */
  .glyph.social { font-family: "FoundationIconsSocial";-webkit-font-smoothing: antialiased;
  }
  
  
  
  /* Glyphs inside buttons! */
  .button .glyph {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    left: -5px;
    position: relative;
    top: 0;
  }
  
  .button .glyph.small{  top: -1px;
  }
  .button.large .glyph {    top: -2px;
  }